{% if topLevel %}
package com.ringcentral.definitions;
import com.alibaba.fastjson.annotation.JSONField;

public class {{ definition.name }}
{% else %}
public static class {{ definition.name }} implements RequestParameters
{% endif %}
{
    {% for field in definition.fields %}
        // {{ field.description }}
        {% if field.name == 'default' %}
        @JSONField(alternateNames = {"default"})
        public {{ field.type }} _default;
        {% set name = '_default' %}
        {% else %}
        public {{ field.type }} {{ field.name }};
        {% set name = field.name %}
        {% endif %}
        public {{ definition.name }} {{ name }}({{ field.type }} {{ name }}) {
            this.{{ name }} = {{ name }};
            return this;
        }
    {% endfor %}
}
