package com.ringcentral.paths;

import com.ringcentral.definitions.*;
import com.ringcentral.PathSegment;

public class {{ className }} {
    private PathSegment pathSegment;

    public {{ className }} (PathSegment parent, String id) {
      pathSegment = new PathSegment(parent, "{{ segment }}", id);
    }

    public String endpoint() {
      return pathSegment.endpoint();
    }

    {% for child in myChildren %}
        {% include "Child.njk" %}
    {% endfor %}

    {% for method in methods %}
        {% for definition in method.definitions %}
            {% include "Definition.njk" %}
        {% endfor %}
    {% endfor %}
}
