package com.ringcentral.paths;
import com.ringcentral.definitions.*;

public class {{ className }}
{
    {% for method in methods %}
        {% for definition in method.definitions %}
            {% include "Definition.njk" %}
        {% endfor %}
    {% endfor %}
}
