{# Yes #}
{% if child.hasId == 1 %}
    open func `{{ child.camelCase }}`(_ _id: String) -> {{ child.PascalCase }}Path {
      return {{ child.PascalCase }}Path(parent: self, _id: _id)
    }
{# Maybe #}
{% elif child.hasId == 0 %}
    open func `{{ child.camelCase }}`(_ _id: String? = nil) -> {{ child.PascalCase }}Path {
      return {{ child.PascalCase }}Path(parent: self, _id: _id)
    }
{# No #}
{% elif child.hasId == -1 %}
    open func `{{ child.camelCase }}`() -> {{ child.PascalCase }}Path {
      return {{ child.PascalCase }}Path(parent: self)
    }
{% else %}
Unknown
{% endif %}
