{% if definition.with_import %}
import Foundation
import ObjectMapper
import Alamofire
{% endif %}

open class {{ definition.name }}: Mappable {

  {% for field in definition.fields %}
    // {{ field.description }}
    open var `{{ field.name }}`: {{ field.type }}?
  {% endfor %}

  public init() {
  }
  convenience public init({% for field in definition.fields %}{% if loop.index != 1 %}, {% endif %}{{ field.name }}: {{ field.type }}? = nil{% endfor %}) {
    self.init()
    {% for field in definition.fields %}
      self.{{ field.name }} = `{{ field.name }}`
    {% endfor %}
  }
  required public init?(map: Map) {
  }

  open func mapping(map: Map) {
    {% for field in definition.fields %}
      {% if field.name == 'id' %}
        `id` <- (map["id"], StringTransform())
      {% else %}
        `{{ field.name }}` <- map["{{ field.name }}"]
      {% endif %}
    {% endfor %}
  }

  open func toParameters() -> Parameters {
    var result = [String: String]()
    result["json-string"] = self.toJSONString(prettyPrint: false)!
    return result
  }

}
