{% if definition.with_import %}
import Foundation
import ObjectMapper
{% endif %}

open class {{ definition.name }}: Definition {

  {% for field in definition.fields %}
    // {{ field.description }}
    open var `{{ field.name }}`: {{ field.type }}?
  {% endfor %}

  convenience public init({% for field in definition.fields %}{% if loop.index != 1 %}, {% endif %}{{ field.name }}: {{ field.type }}? = nil{% endfor %}) {
    self.init()
    {% for field in definition.fields %}
      self.{{ field.name }} = `{{ field.name }}`
    {% endfor %}
  }
  required public init?(map: Map) {
    super.init(map: map)
  }
  public override init() {
    super.init()
  }

  open override func mapping(map: Map) {
    {% for field in definition.fields %}
      {% if field.name == 'id' %}
        `id` <- (map["id"], StringTransform())
      {% else %}
        `{{ field.name }}` <- map["{{ field.name }}"]
      {% endif %}
    {% endfor %}
  }

}
