// {{ method.description }}
{% if method.responseName == '' %}
open func {{ method.method }}({% if method.parametersName != '' %}parameters: {{ method.parametersName }}? = nil, {% endif %}callback: @escaping (_ error: HTTPError?) -> Void) {
    rc.{{ method.method | http_method }}String(self.endpoint(){% if method.parametersName != '' %}, parameters: parameters?.toParameters(){% endif %}) { string, error in
      callback(error)
    }
}
{% else %}
open func {{ method.method }}({% if method.parametersName != '' %}parameters: {{ method.parametersName }}? = nil, {% endif %}callback: @escaping (_ t: {{ method.responseName }}?, _ error: HTTPError?) -> Void) {
   rc.{{ method.method | http_method }}(self.endpoint(){% if method.parametersName != '' %}, parameters: parameters?.toParameters(){% endif %}) { (t: {{ method.responseName }}?, error) in
      callback(t, error)
   }
}
{% endif %}
