import Foundation
import ObjectMapper
import Alamofire

open class {{ className }}Path: PathSegment {
    public override var pathSegment: String {
        get{
            return "{{ segment }}"
        }
    }

    {% for child in myChildren %}
        {% include "Child.njk" %}
    {% endfor %}

    {% for method in methods %}
        {% if method.parametersName != 'Binary' %}
            {% if segment != 'fax' %}
                {% include "Method.njk" %}
            {% endif %}

            {% for definition in method.definitions %}
                {% include "Definition.njk" %}
            {% endfor %}
        {% endif %}
    {% endfor %}
}
