{% if definition.with_namespace %}
namespace RingCentral
{
{% endif %}
    public partial class {{ definition.name }}
    {
        {% for field in definition.fields %}
            // {{ field.description }}
            public {{ field.type }} @{{ field.name }} { get; set; }
        {% endfor %}
    }
{% if definition.with_namespace %}
}
{% endif %}