swagger: "2.0"
info:
  title: RingCentral Connect Platform API
  description: RingCentral Connect Platform API
  version: 1.0.35
  contact:
    name: RingCentral Connect Platform
    url: http://developers.ringcentral.com
    email: platform@ringcentral.com
  license:
    name: RingCentral API License Agreement and Terms of Use
    url: https://www.ringcentral.com/legal/apilitos.html
host: platform.ringcentral.com
schemes:
- https
basePath: /
produces:
- application/json
tags:
- name: API Info
  description: ' '
- name: Call Log
  description: ' '
- name: Phone Numbers
  description: ' '
- name: Fax
  description: ' '
- name: SMS and MMS
  description: ' '
- name: Internal Messages
  description: ' '
- name: RingOut
  description: ' '
- name: User Contacts
  description: ' '
- name: Company Contacts
  description: ' '
- name: Presence
  description: ' '
- name: Greeting Recording Call
- name: Glip [Beta]
  description: ' '
- name: Meetings [Beta]
  description: ' '
- name: Push Notifications
  description: ' '
- name: Roles and Permissions
  description: ' '
- name: Call Handling Settings
  description: ' '
- name: Application Settings
  description: ' '
- name: User Settings
  description: ' '
- name: Company Settings
  description: ' '
- name: Regional Settings
  description: ' '
- name: Account Provisioning
  description: ' '
- name: SCIM
  description: ' '
- name: Reporting
  description: ' '
- name: Voicemail
- name: Verification Call
- name: ADG
- name: VoIPCalling
x-auth-required: true
x-blacklisting-strategy: "Off"
x-internal-api: false
x-metered-api: true
x-metering-group: System
x-servers:
- url: //platform.ringcentral.com
  description: Default server
- url: //platform.devtest.ringcentral.com
  description: Sandbox se
x-service-interface: rest
x-service-name: pas
x-service-version: v1
x-tagGroups:
- name: General
  tags:
  - API Info
- name: Data
  tags:
  - Call Log
- name: Contacts
  tags:
  - User Contacts
  - Company Contacts
  - Phone Numbers
- name: Messages
  tags:
  - SMS and MMS
  - Fax
  - Internal Messages
  - Voicemail
- name: Voice
  tags:
  - RingOut
  - Presence
  - Greeting Recording Call
  - Verification Call
- name: null
  tags:
  - Glip [Beta]
- name: null
  tags:
  - Meetings [Beta]
- name: null
  tags:
  - Push Notifications
- name: null
  tags:
  - Roles and Permissions
- name: Configuration
  tags:
  - Call Handling Settings
  - Application Settings
  - User Settings
  - Company Settings
  - Regional Settings
  - Account Provisioning
- name: null
  tags:
  - SCIM
- name: null
  tags:
  - Reporting
- name: Telephony API
  tags:
  - VoIPCalling
- name: Internal
  tags:
  - ADG
  - Integrations
paths:
  /restapi/:
    get:
      tags:
      - API Info
      summary: Get API Versions
      description: Returns current API version(s) and server info.
      operationId: getAllVersions
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: API Server Info
          schema:
            $ref: '#/definitions/GetVersionsResponse'
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/{apiVersion}:
    get:
      tags:
      - API Info
      summary: Get Version Info
      description: Returns current API version info by apiVersion.
      operationId: getApiVersion
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: apiVersion
        in: path
        description: API version to be requested, for example 'v1.0'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVersionResponse'
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
  /restapi/v1.0/status:
    get:
      tags:
      - API Info
      summary: Get Service Status
      description: Returns current PAS service status.
      operationId: loadAPIStatus
      responses:
        200:
          description: Operational
        503:
          description: VoIP-only Mode
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get User Call Log Records
      description: Returns call log records filtered by parameters specified.
      operationId: loadExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: showBlocked
        in: query
        description: If 'True' then calls from/to blocked numbers are returned
        default: true
        required: false
        type: boolean
      - name: phoneNumber
        in: query
        description: Phone number of a caller/callee. If specified, returns all calls
          (both incoming and outcoming) with the phone number specified
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the resulting records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: sessionId
        in: query
        required: false
        type: string
      - name: type
        in: query
        description: Call type of a record. It is allowed to specify more than one
          type. If not specified, all call types are returned. Multiple values are
          accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        enum:
        - PSTN
        - VoIP
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
        collectionFormat: multi
        items:
          type: string
      - name: withRecording
        in: query
        description: True should be specified to return recorded calls only
        required: false
        type: boolean
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: showDeleted
        in: query
        description: If 'True' then deleted calls are returned
        default: false
        required: false
        type: boolean
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ExtensionCallLogResponse'
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
    delete:
      tags:
      - Call Log
      summary: Delete User Call Log Records
      description: Deletes filtered call log records.
      operationId: deleteExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: dateTo
        in: query
        description: The end datetime for records deletion in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
      - name: phoneNumber
        in: query
        required: false
        type: string
      - name: extensionNumber
        in: query
        required: false
        type: string
      - name: type
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: direction
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: dateFrom
        in: query
        format: date-time
        required: false
        type: string
      responses:
        default:
          description: Success
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: EditCallLog
      x-access-level: Advanced
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync:
    get:
      tags:
      - Call Log
      summary: Sync User Call Log
      description: Synchronizes call log records
      operationId: syncExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: syncType
        in: query
        description: Type of synchronization
        default: FSync
        required: false
        type: array
        enum:
        - FSync
        - ISync
        collectionFormat: multi
        items:
          type: string
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is the
          current moment
        required: false
        type: string
      - name: recordCount
        in: query
        description: For 'FSync' the parameter is mandatory, it limits the number
          of records to be returned in response. For 'ISync' it specifies with how
          many records to extend sync Frame to the past, the maximum number of records
          is 250
        required: false
        type: integer
      - name: statusGroup
        in: query
        description: Type of calls to be returned. The default value is 'All'
        required: false
        type: array
        enum:
        - Missed
        - All
        collectionFormat: multi
        items:
          type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/CallLogSync'
      x-api-group: extension/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get User Call Record(s) by ID
      description: Returns call log records by ID.
      operationId: getCallRecords
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: callRecordId
        in: path
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: view
        in: query
        required: false
        type: string
        default: Simple
        enum:
        - Simple
        - Detailed
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        type: string
      responses:
        200:
          description: Call Log Record
          schema:
            $ref: '#/definitions/UserCallLogRecord'
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get User Active Calls
      description: Returns records of all extension calls that are in progress, ordered
        by start time in descending order.
      operationId: listExtensionActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ActiveCallsResponse'
      x-api-group: extension/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Records
      description: Returns call log records filtered by parameters specified.
      operationId: loadAccountCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: phoneNumber
        in: query
        description: Phone number of a caller/call recipient. If specified, returns
          all calls (both incoming and outcoming) with the phone number specified.
          Cannot be specified together with the extensionNumber filter
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
        collectionFormat: multi
        items:
          type: string
      - name: withRecording
        in: query
        description: True if only recorded calls have to be returned
        required: false
        type: boolean
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: sessionId
        in: query
        required: false
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/AccountCallLogResponse'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Record(s) by ID
      description: Returns individual call log record(s) by ID(s). Batch request is
        supported.
      operationId: loadAccountCallLogRecord
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: callRecordId
        in: path
        description: Internal identifier of a call log record
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/CompanyCallLogRecord'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get Company Active Calls
      description: Returns records of all calls that are in progress, ordered by start
        time in descending order.
      operationId: listCompanyActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        enum:
        - Inbound
        - Outbound
        collectionFormat: multi
        items:
          type: string
      - name: view
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        enum:
        - Voice
        - Fax
        collectionFormat: multi
        items:
          type: string
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        enum:
        - PSTN
        - VoIP
        collectionFormat: multi
        items:
          type: string
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        required: false
        default: "1"
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ActiveCallsResponse'
      x-api-group: account/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/recording/{recordingId}:
    get:
      tags:
      - Call Log
      summary: Get Call Recording(s) by ID
      description: Returns call recording metadata by ID.
      operationId: listCallRecordings
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetCallRecordingResponse'
      x-api-group: account/recording
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      tags:
      - Call Log
      summary: Get Call Recordings Data
      description: Returns media content of a call recording.
      operationId: listCallRecordingData
      consumes:
      - application/json
      produces:
      - audio/x-wav
      - audio/mpeg
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        200:
          description: Call Recording Media Data
          schema:
            $ref: '#/definitions/Binary'
      x-api-group: account/recording/content
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      tags:
      - SMS and MMS
      summary: Create SMS Message
      description: Creates and sends new SMS message. Sending SMS messages simultaneously
        to different recipients is limited up to 50 requests per minute; relevant
        for all client applications.
      operationId: sendSMS
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateSMSMessage'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-access-level: Basic
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      tags:
      - Internal Messages
      summary: Create Internal Text Message
      description: Creates and sends an internal text message.
      operationId: createInternalTextMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateInternalTextMessageRequest'
      responses:
        200:
          description: Created Text Message
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      tags:
      - Fax
      summary: Create Fax Message
      operationId: sendFaxMessage
      description: Creates and sends/resends new fax message. Resend can be done if
        sending failed.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        required: true
        type: string
      - name: attachment
        in: formData
        description: File to upload
        required: true
        type: file
      - name: faxResolution
        in: formData
        description: Resolution of Fax
        required: true
        type: string
        enum:
        - High
        - Low
      - name: to
        in: formData
        description: To Phone Number
        required: true
        type: array
        items:
          type: string
      - name: sendTime
        in: formData
        description: Timestamp to send fax at. If not specified (current or the past),
          the fax is sent immediately
        required: false
        type: string
        format: date-time
      - name: isoCode
        in: formData
        description: ISO Code. e.g UK
        type: string
      - name: coverIndex
        in: formData
        description: Cover page identifier. For the list of available cover page identifiers
          please call the method Fax Cover Pages. If not specified, the default cover
          page which is configured in 'Outbound Fax Settings' is attached
        type: integer
      - name: coverPageText
        in: formData
        description: Cover page text, entered by the fax sender and printed on the
          cover page. Maximum length is limited to 1024 symbols
        type: string
      responses:
        200:
          description: 'OK: Fax Message Sent'
          schema:
            $ref: '#/definitions/FaxResponse'
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-access-level: Basic
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      tags:
      - Fax
      summary: Get Available Fax Cover Pages
      operationId: listFaxCoverPages
      description: Returns fax cover pages available for the current extension.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      responses:
        200:
          description: List of Available Fax Cover Pages
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message List
      description: Returns the list of messages from an extension mailbox.
      operationId: listMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: availability
        in: query
        description: Specifies the availability status for the resulting messages.
          Multiple values are accepted
        required: false
        type: array
        default: Alive
        items:
          type: string
        collectionFormat: multi
        enum:
        - Alive
        - Deleted
        - Purged
      - name: conversationId
        in: query
        description: Specifies the conversation identifier for the resulting messages
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: direction
        in: query
        description: The direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: The type of the resulting messages. If not specified, all messages
          without message type filtering are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: readStatus
        in: query
        description: The read status for the resulting messages. Multiple values are
          accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Read
        - Unread
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: phoneNumber
        in: query
        description: The phone number. If specified, messages are returned for this
          particular phone number only
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageList'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-availability: High
      x-notifications:
      - $ref: '#/definitions/InboundMessageEvent'
      - $ref: '#/definitions/InstantMessageEvent'
      - $ref: '#/definitions/MessageEvent'
    delete:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Delete Conversation(s) by ID
      description: Deletes conversation(s) by conversation ID(s).
      operationId: deleteMessagesByFilter
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: dateTo
        in: query
        required: false
        type: string
        description: Messages received earlier then the date specified will be deleted.
          The default value is 'Now'
      - name: type
        in: query
        required: false
        description: Type of messages to be deleted
        type: string
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
        - All
        default: All
      - name: extensionId
        in: path
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        204:
          description: No Content
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message(s) by ID
      description: Returns individual message record(s) by the given message ID(s).
        The length of inbound messages is unlimited. Batch request is supported.
      operationId: loadMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-availability: High
    put:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Update Message(s) by ID
      description: Updates message(s) by ID(s). Batch request is supported, see Batch
        Requests for details. Currently, only the message read status updating is
        supported.
      operationId: updateMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/UpdateMessageRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
    delete:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Delete Message(s) by ID
      description: Deletes message(s) by the given message ID(s). The first call of
        this method transfers the message to the 'Delete' status. The second call
        transfers the deleted message to the 'Purged' status. If it is required to
        make the message 'Purged' immediately (from the first call), then set the
        query parameter purge to 'True'.
      operationId: deleteMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: purge
        in: query
        description: If the value is 'True', then the message is purged immediately
          with all the attachments
        default: false
        required: false
        type: boolean
      - name: conversationId
        in: query
        description: Internal identifier of a message thread
        required: false
        type: integer
      responses:
        204:
          description: No Content
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message Attachment
      description: Returns a specific message attachment data as a media stream.
      consumes:
      - application/json
      produces:
      - text/plain
      - image/tiff
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: attachmentId
        in: path
        description: Internal identifier of a message attachment
        required: true
        type: integer
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      - name: Range
        in: header
        required: false
        type: string
      responses:
        200:
          description: Attachment Data
      x-api-group: extension/message-store/content
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessageContent
      x-access-level: Basic
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-sync:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Sync Messages
      description: Synchronizes messages.
      operationId: syncMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: conversationId
        in: query
        description: Conversation identifier for the resulting messages. Meaningful
          for SMS and Pager messages only.
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: direction
        in: query
        description: Direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Inbound
        - Outbound
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: Type for the resulting messages. If not specified, all types
          of messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
      - name: recordCount
        in: query
        description: Limits the number of records to be returned (works in combination
          with dateFrom and dateTo if specified)
        required: false
        type: integer
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: syncType
        in: query
        description: Type of message synchronization
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FSync
        - ISync
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageSyncResponse'
      x-api-group: extension/message-sync
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/voicemail:
    post:
      tags:
      - Voicemail
      summary: Send Voicemail
      operationId: sendVoicemailMultipartForm
      description: Sends a voicemail.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        required: true
        type: string
      - name: body
        in: body
        required: false
        schema:
          $ref: '#/definitions/CreateVoicemail'
      responses:
        204:
          description: Successful operation
      x-api-group: extension/voicemail
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Voicemail
      x-user-permission: Voicemail
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      description: Makes a 2-leg RingOut call.
      operationId: makeRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: body
        in: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ring-out/{ringoutId}:
    get:
      tags:
      - RingOut
      summary: ' Get RingOut Call Status'
      description: Returns the status of a 2-leg RingOut call.
      operationId: getRingOutCallStatus
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      summary: Cancel RingOut Call
      description: Cancels a 2-leg RingOut call.
      operationId: cancelRingOutCall
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout:
    post:
      tags:
      - RingOut
      summary: Make RingOut Call
      deprecated: true
      description: Makes a 2-leg RingOut call.
      operationId: makeRingOutCallDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: body
        in: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/MakeRingOutRequest'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponseIntId'
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}:
    get:
      tags:
      - RingOut
      deprecated: true
      summary: Get RingOut Call Status
      description: Returns status of a 2-leg RingOut call.
      operationId: getRingOutCallStatusDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetRingOutStatusResponse'
      x-api-group: extension/ringout
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
    delete:
      tags:
      - RingOut
      deprecated: true
      summary: Cancel RingOut Call
      description: Cancels a 2-leg RingOut call.
      operationId: cancelRingOutCallDeprecated
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: ringoutId
        in: path
        description: Internal identifier of a RingOut call
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/ringout
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: RingOut
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact:
    get:
      tags:
      - User Contacts
      summary: Get Contact List
      description: Returns user personal contacts.
      operationId: listContacts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: startsWith
        in: query
        description: If specified, only contacts whose First name or Last name start
          with the mentioned substring are returned. Case-insensitive
        required: false
        type: string
      - name: sortBy
        in: query
        description: Sorts results by the specified property
        default: FirstName
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FirstName
        - LastName
        - Company
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: "1"
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: "100"
        required: false
        type: integer
      - name: phoneNumber
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ContactList'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Basic
      x-availability: High
    post:
      tags:
      - User Contacts
      summary: Create Contact
      description: Creates personal user contact.
      operationId: createContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: dialingPlan
        in: query
        description: A country code value complying with the [ISO 3166-1 alpha-2](https://ru.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          format. The default value is home country of the current extension
        required: false
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PersonalContactResource'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PersonalContactResource'
        400:
          description: 'Contact cannot be created: max contacts count reached ($limit)'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}:
    get:
      tags:
      - User Contacts
      summary: Get Contact(s) by ID
      description: Returns contact(s) by ID(s). Batch request is supported.
      operationId: loadContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: contactId
        in: path
        description: Internal identifier of a contact record in the RingCentral database
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/PersonalContactResource'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Basic
      x-availability: High
    put:
      tags:
      - User Contacts
      summary: Update Contact(s) by ID
      description: Updates personal contact information by contact ID(s). Batch request
        is supported
      operationId: updateContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: contactId
        in: path
        description: Internal identifier of a contact record in the RingCentral database
        required: true
        type: integer
      - name: dialingPlan
        in: query
        description: A country code value complying with the [ISO 3166-1 alpha-2](https://ru.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          format. The default value is home country of the current extension
        required: false
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PersonalContactResource'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/PersonalContactResource'
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Basic
    delete:
      tags:
      - User Contacts
      summary: Delete Contact(s) by ID
      description: Deletes contact(s) by ID(s). Batch request is supported.
      operationId: deleteContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: contactId
        in: path
        description: Internal identifier of a contact record in the RingCentral database
        required: true
        type: integer
      responses:
        default:
          description: Success
      x-api-group: extension/address-book/contact
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/address-book-sync:
    get:
      tags:
      - User Contacts
      summary: Address Book Synchronization
      description: Synchronizes user contacts.
      operationId: syncAddressBook
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: syncType
        in: query
        description: Type of synchronization
        default: FSync
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - FSync
        - ISync
      - name: syncToken
        in: query
        description: Value of syncToken property of the last sync request response
        required: false
        type: string
      - name: perPage
        in: query
        description: Number of records per page to be returned. The max number of
          records is 250, which is also the default. For 'FSync' if the number of
          records exceeds the parameter value (either specified or default), all of
          the pages can be retrieved in several requests. For 'ISync' if the number
          of records exceeds the page size, the number of incoming changes to this
          number is limited
        required: false
        type: integer
      - name: pageId
        in: query
        description: Internal identifier of a page. It can be obtained from the 'nextPageId'
          parameter passed in response body
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/AddressBookSync'
      x-api-group: extension/address-book-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadContacts
      x-user-permission: ReadPersonalContacts
      x-access-level: Advanced
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/favorite:
    get:
      tags:
      - User Contacts
      summary: Get Favorite Contact List
      description: Returns the list of favorite contacts of the current extension.
        Favorite contacts include both company contacts (extensions) and personal
        contacts (address book records).
      operationId: listFavoriteContacts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        default:
          description: successful operation
      x-api-group: extension/favorite
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-user-permission: ReadPersonalContacts
      x-app-permission: ReadContacts
      x-access-level: Basic
      x-availability: High
      x-notifications:
      - $ref: '#/definitions/ExtensionFavoritesEvent'
    put:
      tags:
      - User Contacts
      summary: Update Favorite Contact List
      description: 'Updates the list of favorite contacts of the current extension.
        Favorite contacts include both company contacts (extensions) and personal
        contacts (address book records).**Please note**: currently personal address
        book size is limited to 10 000 contacts.'
      operationId: updateFavoriteContactList
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FavoriteCollection'
      responses:
        default:
          description: successful operation
      x-api-group: extension/favorite
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Contacts
      x-user-permission: EditPersonalContacts
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/directory/contacts:
    get:
      tags:
      - Company Contacts
      summary: Get Corporate Directory Contact List
      operationId: listDirectoryContacts
      description: 'Returns contact information on corporate users of federated accounts.
        Please note: 1. User, DigitalUser, VirtualUser and FaxUser types are returned
        as User type. 2.ApplicationExtension type is not returned. 3. Only extensions
        in Enabled, Disabled and NotActivated state are returned.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: excludeFederatedContacts
        in: query
        description: excludeFederatedContacts
        required: false
        type: string
        default: "false"
      - name: type
        in: query
        description: Type of an extension
        required: false
        type: string
        enum:
        - User
        - Department
        - Announcement
        - Voicemail
        - SharedLinesGroup
        - PagingOnly
        - IvrMenu
        - ParkLocation
        - Limited
      - name: page
        in: query
        description: page
        required: false
        type: string
        default: "1"
      - name: perPage
        in: query
        description: perPage
        required: false
        type: string
        default: all
      - name: siteId
        in: query
        description: Internal identifier of the business site to which extensions
          belongs
        required: false
        type: string
      - name: If-None-Match
        in: header
        description: If-None-Match
        required: false
        type: string
      responses:
        "200":
          description: Paged collection of all contact information for given account.
            Records can be empty if no data found
          schema:
            $ref: '#/definitions/DirectoryResource'
        "400":
          description: Current request cannot be processed due to error in its body
            and/or url
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Some unexpected error during current request processing.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Network error during request. One should check connection between
            ADG processing node and ADX data node
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-api-group: account/directory/contacts
      x-app-permission: ReadAccounts
      x-auth-required: "true"
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/ContactDirectoryEvent'
  /restapi/v1.0/account/{accountId}/directory/contacts/{contactId}:
    get:
      tags:
      - Company Contacts
      summary: Get Corporate Directory Contact
      description: Returns contact information on a particular corporate user of a
        federated account.
      operationId: loadDirectoryContact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: contactId
        in: path
        description: Internal identifier of an extension to read information for
        required: true
        type: string
      - name: accountId
        in: path
        description: Internal identifier of owning account
        required: true
        type: string
      responses:
        "200":
          description: Contact information for given parameters. If value is not found
            then empty body will be returned
          schema:
            $ref: '#/definitions/ContactResource'
        "400":
          description: Current request cannot be processed due to error in its body
            and/or url
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Some unexpected error during current request processing.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Network error during request. One should check connection between
            ADG processing node and ADX data node
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-api-group: account/directory/contacts
      x-app-permission: ReadAccounts
      x-auth-required: "true"
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/directory/federation:
    get:
      tags:
      - Company Contacts
      summary: Get Account Federation
      description: Returns information on a federation and associated accounts.
      operationId: loadAccountFederation
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: RCExtensionId
        in: header
        description: RCExtensionId
        required: false
        type: string
      responses:
        "200":
          description: List of found federations. Records array can be empty if no
            data found
          schema:
            $ref: '#/definitions/FederationResource'
        "400":
          description: Current request cannot be processed due to error in its body
            and/or url
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Some unexpected error during current request processing.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Network error during request. One should check connection between
            ADG processing node and ADX data node
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-api-group: account/directory/federation
      x-app-permission: ReadAccounts
      x-auth-required: "true"
      x-internal-api: false
      x-rewrite-uri-from: /restapi/v1.0/account/(.*)/directory/(.*)
      x-rewrite-uri-to: /account-directory/v1/account/$1/directory/$2
      x-service-interface: rest
      x-service-name: adg
      x-service-version: v1
      x-throttling-group: Medium
      x-user-permission: ReadCompanyInfo
      x-access-level: Advanced
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/presence:
    get:
      tags:
      - Presence
      summary: Get User Status
      description: 'Returns presence status of an extension or several extensions
        by their ID(s). Batch request is supported. The ''presenceStatus'' is returned
        as Offline (the parameters ''telephonyStatus'', ''message'', ''userStatus''
        and ''dndStatus'' are not returned at all) for the following extension types:
        Department/Announcement Only/Take Messages Only (Voicemail)/Fax User/Paging
        Only Group/Shared Lines Group/IVR Menu/Application Extension/Park Location.If
        the user requests his/her own presence status, the response contains actual
        presence status even if the status publication is turned off. Batch request
        is supported. For batch requests the number of extensions in one request is
        limited to 30. If more extensions are included in the request, the error code
        400 Bad Request is returned with the logical error code InvalidMultipartRequest
        and the corresponding message ''Extension Presence Info multipart request
        is limited to 30 extensions''.'
      operationId: getPresenceStatus
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: detailedTelephonyState
        in: query
        description: Whether to return detailed telephony state
        required: false
        type: boolean
      - name: sipData
        in: query
        description: Whether to return SIP data
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetPresenceInfo'
      x-api-group: extension/presence
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/ExtensionPresenceEvent'
      - $ref: '#/definitions/DetailedExtensionPresenceEvent'
      - $ref: '#/definitions/DetailedExtensionPresenceWithSIPEvent'
    put:
      tags:
      - Presence
      summary: Update User Status
      operationId: updatePresenceStatus
      description: 'Updates user-defined extension presence status, status message
        and DnD status by extension ID. Supported for regular User extensions only.
        The extension types listed do not support presence status: Department, Announcement
        Only, Take Messages Only (Voicemail), Fax User, Paging Only Group, Shared
        Lines Group, IVR Menu, Application Extension.'
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PresenceInfoResource'
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PresenceInfoResource'
      x-api-group: extension/presence
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditPresence
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/IncomingCallEvent'
      - $ref: '#/definitions/MissedCallEvent'
  /restapi/v1.0/account/{accountId}/presence:
    get:
      tags:
      - Presence
      summary: Get User Presence Statuses List
      operationId: accountPresence
      description: 'Returns presence status of all extensions of an account. Please
        note: The presenceStatus is returned as Offline (the parameters telephonyStatus,
        message, userStatus and dndStatus are not returned at all) for the following
        extension types: Department, Announcement Only, Voicemail (Take Messages Only),
        Fax User, Paging Only Group, Shared Lines Group, IVR Menu, Application Extension.'
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: detailedTelephonyState
        in: query
        description: Whether to return detailed telephony state
        required: false
        type: boolean
      - name: sipData
        in: query
        description: Whether to return SIP data
        required: false
        type: boolean
      - name: page
        in: query
        description: Page number for accoount presence information
        required: false
        type: integer
        format: int32
      - name: perPage
        in: query
        description: Number for accoount presence information items per page
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AccountPresenceInfo'
      x-api-group: account/presence
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-access-level: Advanced
      x-notifications:
      - $ref: '#/definitions/AccountPresenceEvent'
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/presence/meetings:
    get:
      tags:
      - Presence
      summary: Get Zoom meeting status for extension
      description: Returns Zoom meetings presence status of an extension
      operationId: getMeetingsPresenceStatus
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MeetingsPresence'
      x-api-group: extension/presence
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-access-level: Basic
    post:
      tags:
      - Presence
      summary: Set User Meeting Status
      description: Set Zoom meetings presence status of an extension
      operationId: setMeetingsPresenceStatus
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: meetingsStatus
        in: body
        description: User Meeting status to be set
        required: true
        schema:
          $ref: '#/definitions/MeetingsPresence'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MeetingsPresence'
      x-api-group: extension/presence
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadPresence
      x-user-permission: ReadPresenceStatus
      x-access-level: Basic
  /restapi/v1.0/glip/groups:
    get:
      tags:
      - Glip [Beta]
      operationId: listGlipGroups
      summary: Get User Groups
      description: Returns the list of groups where the user is a member.
      produces:
      - application/json
      parameters:
      - name: type
        in: query
        description: Type of groups to be fetched (by default all type of groups will
          be fetched)
        required: false
        type: string
        enum:
        - Group
        - Team
        - PrivateChat
      - name: recordCount
        in: query
        description: Max number of groups to be fetched by one request (Not more than
          250).
        required: false
        type: number
        default: 250
        maximum: 250
      - name: pageToken
        in: query
        description: Pagination token.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GlipGroupList'
        404:
          description: Group with specified id is not found.
      x-api-group: glip/groups
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Glip
      x-user-permission: Glip
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/GlipGroupsEvent'
      x-rewrite-uri-from: /restapi/v1.0/glip/groups
      x-rewrite-uri-to: /glip/v1/groups
      x-throttling-group: Medium
    post:
      tags:
      - Glip [Beta]
      summary: Create Group
      operationId: createGlipGroup
      description: Creates a new private chat/team.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: JSON body
        schema:
          $ref: '#/definitions/GlipCreateGroup'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GlipGroupInfo'
        400:
          description: Some of parameters are missing or have invalid format.
        403:
          description: Forbidden
      x-api-group: glip/groups
      x-metered-api: true
      x-metering-group: System
      x-rewrite-uri-from: /restapi/v1.0/glip/groups
      x-rewrite-uri-to: /glip/v1/groups
      x-app-permission: Glip
      x-user-permission: Glip
      x-access-level: Basic
      x-throttling-group: Medium
  /restapi/v1.0/glip/groups/{groupId}:
    get:
      tags:
      - Glip [Beta]
      summary: Get Group
      operationId: loadGlipGroup
      description: Returns information about a group or multiple groups by their ID(s).
        Batch request is supported.
      consumes:
      - application/json
      produces:
      - application/json
      - multipart/mixed
      parameters:
      - name: groupId
        in: path
        type: array
        items:
          type: string
        description: Internal identifier of a group to be returned, the maximum number
          of IDs is 30
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GlipGroupInfo'
        207:
          description: Mixed Result
        404:
          description: Person Not Found.
        403:
          description: You do not have permissions to get such kind of information.
      x-api-group: glip/groups
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: Glip
      x-user-permission: Glip
      x-rewrite-uri-from: /restapi/v1.0/glip/groups/(.*)
      x-rewrite-uri-to: /glip/v1/groups/$1
      x-access-level: Basic
  /restapi/v1.0/glip/groups/{groupId}/bulk-assign:
    post:
      tags:
      - Glip [Beta]
      summary: Edit Group Members
      operationId: assignGlipGroupMembers
      description: 'Updates group members. Please note: Only groups of ''Team'' type
        can be updated. Currently only one operation at a time (either adding or removal)
        is supported.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: groupId
        type: string
        in: path
        description: Internal identifier of a group
        required: true
      - name: body
        in: body
        description: JSON body
        schema:
          $ref: '#/definitions/EditGroupRequest'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GlipGroupInfo'
        400:
          description: Some of parameters are missing or have invalid format.
        403:
          description: Forbidden
      x-api-group: glip/groups
      x-metered-api: true
      x-metering-group: System
      x-rewrite-uri-from: /restapi/v1.0/glip/groups/([0-9]+)/bulk-assign
      x-rewrite-uri-to: /glip/v1/groups/$1/bulk-assign
      x-app-permission: Glip
      x-user-permission: Glip
      x-access-level: Basic
      x-throttling-group: Medium
  /restapi/v1.0/glip/groups/{groupId}/posts:
    get:
      tags:
      - Glip [Beta]
      operationId: listGlipGroupPosts
      summary: Get Group Posts
      description: Returns posts which are available for the current user (by group
        ID). The maximum number of posts returned is 250.
      produces:
      - application/json
      parameters:
      - name: groupId
        in: path
        description: Internal identifier of a group
        required: true
        type: string
      - name: recordCount
        in: query
        description: Max number of records to be returned
        required: false
        type: integer
        default: 30
        maximum: 250
      - name: pageToken
        in: query
        description: Pagination token
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GlipPosts'
        404:
          description: Group with specified Id is not found.
      x-api-group: glip/posts
      x-metered-api: true
      x-metering-group: System
      x-rewrite-uri-from: /restapi/v1.0/glip/groups/([0-9]+)/posts
      x-rewrite-uri-to: /glip/v1/groups/$1/posts
      x-access-level: Basic
      x-notifications:
      - $ref: '#/definitions/GlipPostEvent'
      x-throttling-group: Medium
    post:
      tags:
      - Glip [Beta]
      summary: Create Post in Group
      operationId: createGlipGroupPost
      description: Creates a new post in a group specified.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: groupId
        in: path
        description: Internal identifier of a group.
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GlipCreatePost'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GlipPostInfo'
        400:
          description: Some of parameters are missing or have invalid format.
        404:
          description: Group not found.
      x-api-group: glip/posts
      x-metered-api: true
      x-metering-group: System
      x-rewrite-uri-from: /restapi/v1.0/glip/groups/([0-9]+)/posts
      x-rewrite-uri-to: /glip/v1/groups/$1/posts
      x-access-level: Basic
      x-throttling-group: Medium
  /restapi/v1.0/glip/groups/{groupId}/posts/{postId}/text:
    put:
      tags:
      - Glip [Beta]
      summary: Update Post
      operationId: updateGlipPostText
      description: Modifies text of a post
      produces:
      - text/plain
      - application/json
      consumes:
      - text/*
      parameters:
      - name: groupId
        in: path
        description: Internal identifier of a group
        required: true
        type: string
      - name: postId
        in: path
        description: Internal identifier of a post
        required: true
        type: string
      - name: text
        in: body
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        400:
          description: Some of parameters are missing or have invalid format.
        403:
          description: Forbidden
      x-api-group: glip/posts
      x-metered-api: true
      x-metering-group: System
      x-rewrite-uri-from: /restapi/v1.0/glip/groups/([0-9]+)/posts/([0-9]+)/text
      x-rewrite-uri-to: /glip/v1/groups/$1/posts/$2/text
      x-access-level: Basic
      x-throttling-group: Medium
  /restapi/v1.0/glip/posts:
    get:
      tags:
      - Glip [Beta]
      summary: Get Posts
      operationId: listGlipPosts
      deprecated: true
      description: Returns posts which are available for current user (by group Id).
        Not more than 250 records to be returned in one request.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: groupId
        type: string
        in: query
        description: Identifier of a group to filter posts
        required: false
      - name: pageToken
        type: string
        in: query
        description: Token of a page to be returned
        required: false
      - name: recordCount
        type: integer
        format: int64
        in: query
        description: Max number of records to be returned
        default: 30
        maximum: 250
        required: false
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GlipPosts'
        404:
          description: Group with specified Id is not found.
      x-api-group: glip/posts
[...]
