{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "termsOfService": "https://developer.ringcentral.com"
  },
  "host": "api.ringcentral.com",
  "basePath": "/restapi",
  "schemes": [
    "https"
  ],
  "parameters": {
    "apiVersion": {
      "x-createdAt": 1509612698580,
      "name": "apiVersion",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "API version to be requested, for example 'v1.0'"
    },
    "accountId": {
      "x-createdAt": 1509612698581,
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
      "default": "~"
    },
    "extensionId": {
      "x-createdAt": 1509612698582,
      "name": "extensionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
      "default": "~"
    },
    "callRecordId": {
      "x-createdAt": 1509612698583,
      "name": "callRecordId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "messageId": {
      "x-createdAt": 1509612698584,
      "name": "messageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message"
    },
    "attachmentId": {
      "x-createdAt": 1509612698585,
      "name": "attachmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message attachment"
    },
    "ringoutId": {
      "x-createdAt": 1509612698586,
      "name": "ringoutId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingOut call"
    },
    "contactId": {
      "x-createdAt": 1509612698587,
      "name": "contactId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a contact record in the RingCentral database"
    },
    "lineId": {
      "x-createdAt": 1509612698588,
      "name": "lineId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "companyId": {
      "x-createdAt": 1509612698589,
      "name": "companyId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an RC account/Glip company, or tilde (~) to indicate a company the current user belongs to"
    },
    "groupId": {
      "x-createdAt": 1509612698590,
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a group to be returned, the maximum number of IDs is 30"
    },
    "personId": {
      "x-createdAt": 1509612698591,
      "name": "personId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a user to be returned, the maximum number of IDs is 30"
    },
    "fileId": {
      "x-createdAt": 1509612698592,
      "name": "fileId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of file."
    },
    "meetingId": {
      "x-createdAt": 1509612698593,
      "name": "meetingId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "subscriptionId": {
      "x-createdAt": 1509612698594,
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a subscription"
    },
    "roleId": {
      "x-createdAt": 1509612698595,
      "name": "roleId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "permissionCategoryId": {
      "x-createdAt": 1509612698596,
      "name": "permissionCategoryId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "permissionId": {
      "x-createdAt": 1509612698597,
      "name": "permissionId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "forwardingNumberId": {
      "x-createdAt": 1509612698598,
      "name": "forwardingNumberId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "blockedNumberId": {
      "x-createdAt": 1509612698599,
      "name": "blockedNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifiers of a blocked number list entry"
    },
    "ruleId": {
      "x-createdAt": 1509612698600,
      "name": "ruleId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an answering rule. The value can be standard digital ID or specific ID - either business-hours-rule or after-hours-rule"
    },
    "greetingId": {
      "x-createdAt": 1509612698601,
      "name": "greetingId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "ivrMenuId": {
      "x-createdAt": 1509612698602,
      "name": "ivrMenuId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "promptId": {
      "x-createdAt": 1509612698603,
      "name": "promptId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "key": {
      "x-createdAt": 1509612698604,
      "name": "key",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Custom data access key. The number of unique custom data keys is limited to 100 keys per extension, summarized for all the applications. For example, if you have created 50 custom data keys under the Android mobile client application for the particular extension, then logged in the iOS application and created another 50 keys, the web client application won't be allowed to create any custom data key for that extension"
    },
    "questionId": {
      "x-createdAt": 1509612698605,
      "name": "questionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a question"
    },
    "scaleSize": {
      "x-createdAt": 1509612698606,
      "name": "scaleSize",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Dimensions of a profile image which will be returned in response. If this path parameter is not specified in request URI then"
    },
    "languageId": {
      "x-createdAt": 1509612698607,
      "name": "languageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a language"
    },
    "countryId": {
      "x-createdAt": 1509612698608,
      "name": "countryId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a country"
    },
    "stateId": {
      "x-createdAt": 1509612698609,
      "name": "stateId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a state"
    },
    "timezoneId": {
      "x-createdAt": 1509612698610,
      "name": "timezoneId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a timezone"
    },
    "brandId": {
      "x-createdAt": 1509612698611,
      "name": "brandId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "servicePlanId": {
      "x-createdAt": 1509612698612,
      "name": "servicePlanId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "phoneNumberId": {
      "x-createdAt": 1509612698613,
      "name": "phoneNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a phone number"
    },
    "deviceId": {
      "x-createdAt": 1509612698614,
      "name": "deviceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a device"
    },
    "orderId": {
      "x-createdAt": 1509612698615,
      "name": "orderId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an order"
    },
    "licenseId": {
      "x-createdAt": 1509612698616,
      "name": "licenseId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a license"
    },
    "departmentId": {
      "x-createdAt": 1509612698617,
      "name": "departmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a Department extension (same as extensionId but only the ID of a department extension is valid)"
    },
    "pagingOnlyGroupId": {
      "x-createdAt": 1509612698618,
      "name": "pagingOnlyGroupId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "parkLocationId": {
      "x-createdAt": 1509612698619,
      "name": "parkLocationId",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "id": {
      "x-createdAt": 1509612698620,
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a user"
    }
  },
  "definitions": {
    "CallLogRecordDeviceInfo": {
      "type": "object",
      "x-createdAt": 1509612699388,
      "properties": {
        "id": {
          "description": "Internal identifier of a device",
          "x-createdAt": 1509612699389,
          "type": "string"
        },
        "uri": {
          "description": "string to a device",
          "x-createdAt": 1509612699390,
          "type": "string"
        }
      }
    },
    "GlipCreateGroup": {
      "type": "object",
      "x-createdAt": 1509612699391,
      "properties": {
        "type": {
          "description": "Type of a group to be created. 'PrivateChat' is a group of 2 members. 'Team' is a chat of 1 and more participants, the membership can be modified in future",
          "x-createdAt": 1509612699392,
          "type": "string",
          "enum": [
            "PrivateChat",
            "Team"
          ]
        },
        "isPublic": {
          "description": "For 'Team' group type only. Team access level",
          "x-createdAt": 1509612699393,
          "type": "boolean"
        },
        "name": {
          "description": "For 'Team' group type only. Team name",
          "x-createdAt": 1509612699394,
          "type": "string"
        },
        "description": {
          "description": "For 'Team' group type only. Team description",
          "x-createdAt": 1509612699395,
          "type": "string"
        },
        "members": {
          "description": "Identifier(s) of group members. For 'PrivateChat' group type 2 members only are supported",
          "x-createdAt": 1509612699396,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EditGroupRequest": {
      "type": "object",
      "x-createdAt": 1509612699397,
      "properties": {
        "addedPersonIds": {
          "description": "List of users to be added to the team",
          "x-createdAt": 1509612699398,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addedPersonEmails": {
          "description": "List of user email addresses to be added to the team (i.e. as guests)",
          "x-createdAt": 1509612699399,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedPersonIds": {
          "description": "List of users to be removed from the team",
          "x-createdAt": 1509612699400,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GlipCreatePost": {
      "type": "object",
      "x-createdAt": 1509612699401,
      "properties": {
        "groupId": {
          "description": "Internal identifier of a group to send post to",
          "x-createdAt": 1509612699402,
          "type": "string"
        },
        "text": {
          "description": "Text of a post, the maximum is 10000 characters",
          "x-createdAt": 1509612699403,
          "type": "string"
        },
        "attachments": {
          "description": "List of attachments to be posted",
          "x-createdAt": 1509612699404,
          "items": {
            "$ref": "#/definitions/GlipAttachmentInfoRequest"
          },
          "type": "array"
        }
      }
    },
    "GlipAttachmentInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699405,
      "properties": {
        "id": {
          "description": "Internal identifier of an attachment",
          "x-createdAt": 1509612699406,
          "type": "string"
        },
        "attachmentType": {
          "description": "Type of an attachment",
          "x-createdAt": 1509612699407,
          "type": "string"
        }
      }
    },
    "GlipCompany": {
      "type": "object",
      "x-createdAt": 1509612699408,
      "properties": {
        "id": {
          "description": "Internal identifier of an RC account/Glip company, or tilde (~) to indicate a company the current user belongs to",
          "x-createdAt": 1509612699409,
          "type": "string"
        },
        "name": {
          "description": "Name of a company",
          "x-createdAt": 1509612699410,
          "type": "string"
        },
        "domain": {
          "description": "Domain name of a company",
          "x-createdAt": 1509612699411,
          "type": "string"
        },
        "creationTime": {
          "description": "Datetime of creation in ISO 8601 format",
          "x-createdAt": 1509612699412,
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "Datetime of last modification in ISO 8601 format",
          "x-createdAt": 1509612699413,
          "type": "string"
        }
      }
    },
    "GlipGroupList": {
      "type": "object",
      "x-createdAt": 1509612699414,
      "properties": {
        "records": {
          "description": "List of groups/teams/private chats",
          "x-createdAt": 1509612699415,
          "items": {
            "$ref": "#/definitions/GlipGroupInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699416,
          "$ref": "#/definitions/GlipNavigationInfo"
        }
      }
    },
    "GlipNavigationInfo": {
      "type": "object",
      "x-createdAt": 1509612699417,
      "properties": {
        "prevPageToken": {
          "description": "Previous page token. To get previous page, user should pass one of returned token in next request and, in turn, required page will be returned with new tokens",
          "x-createdAt": 1509612699418,
          "type": "string"
        },
        "nextPageToken": {
          "description": "Next page token. To get next page, user should pass one of returned token in next request and, in turn, required page will be returned with new tokens",
          "x-createdAt": 1509612699419,
          "type": "string"
        }
      }
    },
    "GlipGroupInfo": {
      "type": "object",
      "x-createdAt": 1509612699420,
      "properties": {
        "id": {
          "description": "Internal identifier of a group",
          "x-createdAt": 1509612699421,
          "type": "string"
        },
        "type": {
          "description": "Type of a group. 'PrivateChat' is a group of 2 members. 'Group' is a chat of 2 and more participants, the membership cannot be changed after group creation. 'Team' is a chat of 1 and more participants, the membership can be modified in future",
          "x-createdAt": 1509612699422,
          "type": "string",
          "enum": [
            "PrivateChat",
            "Group",
            "Team"
          ]
        },
        "isPublic": {
          "description": "For 'Team' group type only. Team access level",
          "x-createdAt": 1509612699423,
          "type": "boolean"
        },
        "name": {
          "description": "For 'Team' group type only. Team name",
          "x-createdAt": 1509612699424,
          "type": "string"
        },
        "description": {
          "description": "For 'Team' group type only. Team description",
          "x-createdAt": 1509612699425,
          "type": "string"
        },
        "members": {
          "description": "Identifier(s) of group members",
          "x-createdAt": 1509612699426,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "Group creation datetime in ISO 8601 format",
          "x-createdAt": 1509612699427,
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Group last change datetime in ISO 8601 format",
          "x-createdAt": 1509612699428,
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GlipPersonInfo": {
      "type": "object",
      "x-createdAt": 1509612699429,
      "properties": {
        "id": {
          "description": "Internal identifier of a user",
          "x-createdAt": 1509612699430,
          "type": "string"
        },
        "firstName": {
          "description": "First name of a user",
          "x-createdAt": 1509612699431,
          "type": "string"
        },
        "lastName": {
          "description": "Last name of a user",
          "x-createdAt": 1509612699432,
          "type": "string"
        },
        "email": {
          "description": "Email of a user",
          "x-createdAt": 1509612699433,
          "type": "string"
        },
        "avatar": {
          "description": "Photo of a user",
          "x-createdAt": 1509612699434,
          "type": "string"
        },
        "companyId": {
          "description": "Internal identifier of a company",
          "x-createdAt": 1509612699435,
          "type": "string"
        },
        "creationTime": {
          "description": "Time of creation in ISO 8601 format",
          "x-createdAt": 1509612699436,
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Time of last modification in ISO 8601 format",
          "x-createdAt": 1509612699437,
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GlipPosts": {
      "type": "object",
      "x-createdAt": 1509612699438,
      "properties": {
        "records": {
          "description": "List of posts",
          "x-createdAt": 1509612699439,
          "items": {
            "$ref": "#/definitions/GlipPostInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699440,
          "$ref": "#/definitions/GlipNavigationInfo"
        }
      }
    },
    "GlipPostInfo": {
      "type": "object",
      "x-createdAt": 1509612699441,
      "properties": {
        "id": {
          "description": "Internal identifier of a post",
          "x-createdAt": 1509612699442,
          "type": "string"
        },
        "groupId": {
          "description": "Internal identifier of a group a post belongs to",
          "x-createdAt": 1509612699443,
          "type": "string"
        },
        "type": {
          "description": "Type of a post",
          "x-createdAt": 1509612699444,
          "type": "string",
          "enum": [
            "TextMessage",
            "PersonJoined",
            "PersonsAdded"
          ]
        },
        "text": {
          "description": "For 'TextMessage' post type only. Message text",
          "x-createdAt": 1509612699445,
          "type": "string"
        },
        "attachments": {
          "description": "List of posted attachments",
          "x-createdAt": 1509612699446,
          "items": {
            "$ref": "#/definitions/GlipAttachmentInfo"
          },
          "type": "array"
        },
        "creatorId": {
          "description": "Internal identifier of a user - author of a post",
          "x-createdAt": 1509612699447,
          "type": "string"
        },
        "addedPersonIds": {
          "description": "For PersonsAdded post type only. Identifiers of persons added to a group",
          "x-createdAt": 1509612699448,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "Post creation datetime in ISO 8601 format",
          "x-createdAt": 1509612699449,
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Post last modification datetime in ISO 8601 format",
          "x-createdAt": 1509612699450,
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GlipAttachmentInfo": {
      "type": "object",
      "x-createdAt": 1509612699451,
      "properties": {
        "id": {
          "description": "Internal identifier of an attachment",
          "x-createdAt": 1509612699452,
          "type": "string"
        },
        "type": {
          "description": "Type of an attachment",
          "x-createdAt": 1509612699453,
          "type": "string"
        },
        "contentUri": {
          "description": "Link to binary content",
          "x-createdAt": 1509612699454,
          "type": "string"
        },
        "name": {
          "description": "Name of a file",
          "x-createdAt": 1509612699455,
          "type": "string"
        }
      }
    },
    "PostGlipFile": {
      "type": "object",
      "x-createdAt": 1509612699456,
      "properties": {
        "id": {
          "description": "Internal identifier of a file",
          "x-createdAt": 1509612699457,
          "type": "string"
        },
        "contentUri": {
          "description": "Link to binary content",
          "x-createdAt": 1509612699458,
          "type": "string"
        },
        "name": {
          "description": "Name of a file",
          "x-createdAt": 1509612699459,
          "type": "string"
        }
      }
    },
    "GlipUnreadMessageCount": {
      "type": "object",
      "x-createdAt": 1509612699460,
      "properties": {
        "unreadPostsCount": {
          "description": "Total count of unread posts",
          "x-createdAt": 1509612699461,
          "type": "integer"
        },
        "tooManyUnreadPosts": {
          "description": "'True' if message quantity exceeds the threshold (100 by default)",
          "x-createdAt": 1509612699462,
          "type": "boolean"
        }
      }
    },
    "BotExtensionCreation": {
      "type": "object",
      "x-createdAt": 1509612699463,
      "properties": {
        "uri": {
          "description": "Link to a bot extension resource",
          "x-createdAt": 1509612699464,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of a bot extension",
          "x-createdAt": 1509612699465,
          "type": "string"
        },
        "extensionNumber": {
          "description": "Bot extension number",
          "x-createdAt": 1509612699466,
          "type": "string"
        },
        "name": {
          "description": "Bot name (equals to extension first name)",
          "x-createdAt": 1509612699467,
          "type": "string"
        },
        "applicationKey": {
          "description": "Identifier key of a bot application",
          "x-createdAt": 1509612699468,
          "type": "string"
        },
        "creatorId": {
          "description": "User extension identifier",
          "x-createdAt": 1509612699469,
          "type": "string"
        }
      }
    },
    "BotExtensionCreationRequest": {
      "type": "object",
      "x-createdAt": 1509612699470,
      "properties": {
        "name": {
          "description": "Bot name (equals to extension first name)",
          "x-createdAt": 1509612699471,
          "type": "string"
        },
        "applicationKey": {
          "description": "Key of a bot application",
          "x-createdAt": 1509612699472,
          "type": "string"
        },
        "creatorId": {
          "description": "User extension identifier",
          "x-createdAt": 1509612699473,
          "type": "string"
        }
      }
    },
    "CompanyDirectoryContactInfo": {
      "type": "object",
      "x-createdAt": 1509612699474,
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "x-createdAt": 1509612699475,
          "type": "string"
        },
        "type": {
          "description": "Type of an extension",
          "x-createdAt": 1509612699476,
          "type": "string",
          "enum": [
            "User",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnly",
            "IvrMenu",
            "ParkLocation",
            "Limited"
          ]
        },
        "status": {
          "description": "Status of an extension",
          "x-createdAt": 1509612699477,
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled",
            "NotActivated"
          ]
        },
        "firstName": {
          "description": "User extension first name",
          "x-createdAt": 1509612699478,
          "type": "string"
        },
        "lastName": {
          "description": "User extension last name",
          "x-createdAt": 1509612699479,
          "type": "string"
        },
        "name": {
          "description": "Name of an extension",
          "x-createdAt": 1509612699480,
          "type": "string"
        },
        "department": {
          "description": "Department name of an extension",
          "x-createdAt": 1509612699481,
          "type": "string"
        },
        "email": {
          "description": "Email of an extension",
          "x-createdAt": 1509612699482,
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of an extension",
          "x-createdAt": 1509612699483,
          "type": "string"
        },
        "account": {
          "description": "Account data of an extension",
          "x-createdAt": 1509612699484,
          "$ref": "#/definitions/CompanyDirectoryAccountInfo"
        },
        "phoneNumbers": {
          "description": "Extension phone numbers information",
          "x-createdAt": 1509612699485,
          "items": {
            "$ref": "#/definitions/CompanyDirectoryPhoneNumberInfo"
          },
          "type": "array"
        },
        "profileImage": {
          "description": "Extension profile image information. Not returned if profile images are absent for an extension",
          "x-createdAt": 1509612699486,
          "$ref": "#/definitions/CompanyDirectoryProfileImageInfo"
        }
      }
    },
    "CompanyDirectoryAccountInfo": {
      "type": "object",
      "x-createdAt": 1509612699487,
      "properties": {
        "id": {
          "description": "Internal identifier of an account",
          "x-createdAt": 1509612699488,
          "type": "string"
        }
      }
    },
    "CompanyDirectoryPhoneNumberInfo": {
      "type": "object",
      "x-createdAt": 1509612699489,
      "properties": {
        "phoneNumber": {
          "description": "Extension phone number in E.164 format",
          "x-createdAt": 1509612699490,
          "type": "string"
        },
        "type": {
          "description": "Type of a phone number",
          "x-createdAt": 1509612699491,
          "type": "string",
          "enum": [
            "VoiceFax",
            "FaxOnly",
            "VoiceOnly"
          ]
        }
      }
    },
    "CompanyDirectoryProfileImageInfo": {
      "type": "object",
      "x-createdAt": 1509612699492,
      "properties": {
        "uri": {
          "description": "Link to a profile image resource",
          "x-createdAt": 1509612699493,
          "type": "string"
        },
        "etag": {
          "description": "Internal identifier of an image",
          "x-createdAt": 1509612699494,
          "type": "string"
        }
      }
    },
    "CompanyDirectoryContacts": {
      "type": "object",
      "x-createdAt": 1509612699495,
      "properties": {
        "records": {
          "description": "List of countries which can be selected for a dialing plan",
          "x-createdAt": 1509612699496,
          "items": {
            "$ref": "#/definitions/CompanyDirectoryContactInfo"
          },
          "type": "array"
        },
        "paging": {
          "description": "Information on paging",
          "x-createdAt": 1509612699497,
          "$ref": "#/definitions/PagingInfo"
        }
      }
    },
    "FederationInfo": {
      "type": "object",
      "x-createdAt": 1509612699498,
      "properties": {
        "id": {
          "description": "Internal identifier of a federation",
          "x-createdAt": 1509612699499,
          "type": "string"
        },
        "displayName": {
          "description": "Name of a federation",
          "x-createdAt": 1509612699500,
          "type": "string"
        },
        "creationTime": {
          "description": "Datetime of federation creation, in ISO 8601 format, for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699501,
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Datetime of the last change of federation composition, in ISO 8601 format, for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699502,
          "type": "string",
          "format": "date-time"
        },
        "accounts": {
          "description": "List of countries which can be selected for a dialing plan",
          "x-createdAt": 1509612699503,
          "items": {
            "$ref": "#/definitions/FederationAccountInfo"
          },
          "type": "array"
        }
      }
    },
    "FederationAccountInfo": {
      "type": "object",
      "x-createdAt": 1509612699504,
      "properties": {
        "id": {
          "description": "Internal identifier of an account",
          "x-createdAt": 1509612699505,
          "type": "string"
        },
        "companyName": {
          "description": "Company name of an account",
          "x-createdAt": 1509612699506,
          "type": "string"
        },
        "federatedName": {
          "description": "Federation name of an account",
          "x-createdAt": 1509612699507,
          "type": "string"
        },
        "linkCreationTime": {
          "description": "Datetime when this account was linked to a federation, in ISO 8601 format, for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699508,
          "type": "string"
        },
        "mainNumber": {
          "description": "Main company number information",
          "x-createdAt": 1509612699509,
          "$ref": "#/definitions/FederationMainNumberInfo"
        },
        "conflictCount": {
          "description": "Count of federation extension numbers conflicting with extension numbers of the requested account. For extension numbers of the requested account the value of this parameter is '0'",
          "x-createdAt": 1509612699510,
          "type": "integer"
        }
      }
    },
    "FederationMainNumberInfo": {
      "type": "object",
      "x-createdAt": 1509612699511,
      "properties": {
        "phoneNumber": {
          "description": "Main company number of an account in E.164 format",
          "x-createdAt": 1509612699512,
          "type": "string"
        },
        "formattedPhoneNumber": {
          "description": "Main company number of an account formatted as consistent with the home country of the current extension",
          "x-createdAt": 1509612699513,
          "type": "string"
        }
      }
    },
    "FederationConflicts": {
      "type": "object",
      "x-createdAt": 1509612699514,
      "properties": {
        "records": {
          "description": "List of conflicting federation extensions",
          "x-createdAt": 1509612699515,
          "items": {
            "$ref": "#/definitions/FederationExtensionInfo"
          },
          "type": "array"
        }
      }
    },
    "FederationExtensionInfo": {
      "type": "object",
      "x-createdAt": 1509612699516,
      "properties": {
        "id": {
          "description": "Internal identifier of an extension of current account",
          "x-createdAt": 1509612699517,
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of an extension",
          "x-createdAt": 1509612699518,
          "type": "string"
        },
        "firstName": {
          "description": "Extension user first name",
          "x-createdAt": 1509612699519,
          "type": "string"
        },
        "lastName": {
          "description": "Extension user last name",
          "x-createdAt": 1509612699520,
          "type": "string"
        },
        "conflicts": {
          "description": "Conflicting extensions information",
          "x-createdAt": 1509612699521,
          "items": {
            "$ref": "#/definitions/ConflictsInfo"
          },
          "type": "array"
        }
      }
    },
    "ConflictsInfo": {
      "type": "object",
      "x-createdAt": 1509612699522,
      "properties": {
        "id": {
          "description": "Internal identifier of a conflicting extension assigned to another account of the current federation",
          "x-createdAt": 1509612699523,
          "type": "string"
        },
        "firstName": {
          "description": "Extension user first name",
          "x-createdAt": 1509612699524,
          "type": "string"
        },
        "lastName": {
          "description": "Extension user last name",
          "x-createdAt": 1509612699525,
          "type": "string"
        },
        "account": {
          "description": "Account data of an extension",
          "x-createdAt": 1509612699526,
          "$ref": "#/definitions/FederationConflictsAccountInfo"
        }
      }
    },
    "FederationConflictsAccountInfo": {
      "type": "object",
      "x-createdAt": 1509612699527,
      "properties": {
        "id": {
          "description": "Internal identifier of an account",
          "x-createdAt": 1509612699528,
          "type": "string"
        },
        "federatedName": {
          "description": "Federated name of an account",
          "x-createdAt": 1509612699529,
          "type": "string"
        }
      }
    },
    "FederationExtensionNumbers": {
      "type": "object",
      "x-createdAt": 1509612699530,
      "properties": {
        "records": {
          "description": "List of extension numbers of the current federation",
          "x-createdAt": 1509612699531,
          "items": {
            "$ref": "#/definitions/FederationExtensionNumbersExtensionInfo"
          },
          "type": "array"
        }
      }
    },
    "FederationExtensionNumbersExtensionInfo": {
      "type": "object",
      "x-createdAt": 1509612699532,
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "x-createdAt": 1509612699533,
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of an extension",
          "x-createdAt": 1509612699534,
          "type": "string"
        }
      }
    },
    "ReportingSettings": {
      "type": "object",
      "x-createdAt": 1509612699535,
      "properties": {
        "views": {
          "description": "List of 'View' structures with a tuple of filter values, pages and schedules",
          "x-createdAt": 1509612699536,
          "items": {
            "$ref": "#/definitions/ReportingViewInfo"
          },
          "type": "array"
        }
      }
    },
    "ReportingViewInfo": {
      "type": "object",
      "x-createdAt": 1509612699537,
      "properties": {
        "name": {
          "description": "User-defined name of a 'View'. The maximum value is 255",
          "x-createdAt": 1509612699538,
          "type": "string"
        },
        "pages": {
          "description": "List of pages, the max amount is 10",
          "x-createdAt": 1509612699539,
          "items": {
            "$ref": "#/definitions/ReportingPagesInfo"
          },
          "type": "array"
        },
        "schedules": {
          "description": "List of schedules, the max amount is 5. Each 'View' may have several schedules for reporting. For example, customer may want to get daily and weekly reports with the same set of settings",
          "x-createdAt": 1509612699540,
          "items": {
            "$ref": "#/definitions/ReportingSchedulesInfo"
          },
          "type": "array"
        }
      }
    },
    "ReportingPagesInfo": {
      "type": "object",
      "x-createdAt": 1509612699541,
      "properties": {
        "name": {
          "description": "Name of a page. CFA application UI predefines a set of possible names and treats them as enum constants to distinguish pages by type. This is not user-visible value, as it might need localization. The maximum value is 255",
          "x-createdAt": 1509612699542,
          "type": "string"
        },
        "attrX": {
          "description": "CFA-defined filter values/page parameters",
          "x-createdAt": 1509612699543,
          "type": "string"
        }
      }
    },
    "ReportingSchedulesInfo": {
      "type": "object",
      "x-createdAt": 1509612699544,
      "properties": {
        "scheduleId": {
          "description": "Unique schedule identifier",
          "x-createdAt": 1509612699545,
          "type": "string"
        },
        "recurrence": {
          "description": "Recurrence pattern of a schedule",
          "x-createdAt": 1509612699546,
          "items": {
            "$ref": "#/definitions/ReportingRecurrenceInfo"
          },
          "type": "array"
        },
        "viewType": {
          "description": "Type of report. Detailed reports include tables with data. Simple reports only include charts",
          "x-createdAt": 1509612699547,
          "type": "string",
          "enum": [
            "Detailed",
            "Simple"
          ]
        },
        "attachments": {
          "description": "Set of optional attachments. Basically, every report email is in HTML format. Optionally, it can contain PDF or CSV files",
          "x-createdAt": 1509612699548,
          "items": {
            "$ref": "#/definitions/ReportingAttachmentInfo"
          },
          "type": "array"
        },
        "pages": {
          "description": "List of pages to include to the report. If empty, all pages are included. Otherwise, only specified pages are included. API doesn't check validity of page names. Client application is responsible to do that",
          "x-createdAt": 1509612699549,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recipients": {
          "description": "List of emails to which to send rendered reports",
          "x-createdAt": 1509612699550,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReportingRecurrenceInfo": {
      "type": "object",
      "x-createdAt": 1509612699551,
      "properties": {
        "pattern": {
          "description": "Pattern (frequency) of recurrence",
          "x-createdAt": 1509612699552,
          "type": "string",
          "enum": [
            "Daily",
            "Weekly",
            "Monthly"
          ]
        },
        "value": {
          "description": "Time and dates should be specified in UTC time zone",
          "x-createdAt": 1509612699553,
          "type": "string",
          "enum": [
            "0",
            "1-7",
            "1-31",
            "last"
          ]
        }
      }
    },
    "ReportingAttachmentInfo": {
      "type": "object",
      "x-createdAt": 1509612699554,
      "properties": {
        "csv": {
          "description": "Specifies whether to include CSV version of the report",
          "x-createdAt": 1509612699555,
          "type": "boolean"
        },
        "pdf": {
          "description": "Specifies whether to include PDF version of the report",
          "x-createdAt": 1509612699556,
          "type": "boolean"
        }
      }
    },
    "UserUpdateRequest": {
      "type": "object",
      "x-createdAt": 1509612699557,
      "properties": {
        "schemas": {
          "description": "Specification links",
          "x-createdAt": 1509612699558,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "User name",
          "x-createdAt": 1509612699559,
          "$ref": "#/definitions/NameInfoRequest"
        },
        "userName": {
          "description": "User mailbox",
          "x-createdAt": 1509612699560,
          "type": "string"
        },
        "emails": {
          "description": "User email addresses",
          "x-createdAt": 1509612699561,
          "items": {
            "$ref": "#/definitions/EmailInfoRequest"
          },
          "type": "array"
        },
        "active": {
          "description": "Status of a user",
          "x-createdAt": 1509612699562,
          "type": "boolean"
        },
        "phoneNumbers": {
          "description": "User phone numbers",
          "x-createdAt": 1509612699563,
          "items": {
            "$ref": "#/definitions/PhoneNumberInfoRequest"
          },
          "type": "array"
        },
        "externalId": {
          "description": "External identifier of a user",
          "x-createdAt": 1509612699564,
          "type": "string"
        },
        "addresses": {
          "description": "User addresses",
          "x-createdAt": 1509612699565,
          "$ref": "#/definitions/AddressInfoRequest"
        },
        "id": {
          "description": "Internal identifier of a user",
          "x-createdAt": 1509612699566,
          "type": "string"
        },
        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
          "description": "URN link",
          "x-createdAt": 1509612699567,
          "$ref": "#/definitions/UrnInfoRequest"
        }
      }
    },
    "UserCreationRequest": {
      "type": "object",
      "x-createdAt": 1509612699568,
      "properties": {
        "schemas": {
          "description": "Specification links",
          "x-createdAt": 1509612699569,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "User name",
          "x-createdAt": 1509612699570,
          "$ref": "#/definitions/NameInfoRequest"
        },
        "userName": {
          "description": "User mailbox",
          "x-createdAt": 1509612699571,
          "type": "string"
        },
        "emails": {
          "description": "User email addresses",
          "x-createdAt": 1509612699572,
          "items": {
            "$ref": "#/definitions/EmailInfoRequest"
          },
          "type": "array"
        },
        "phoneNumbers": {
          "description": "User phone numbers",
          "x-createdAt": 1509612699573,
          "items": {
            "$ref": "#/definitions/PhoneNumberInfoRequest"
          },
          "type": "array"
        },
        "externalId": {
          "description": "External identifier of a user",
          "x-createdAt": 1509612699574,
          "type": "string"
        },
        "addresses": {
          "description": "User addresses",
          "x-createdAt": 1509612699575,
          "$ref": "#/definitions/AddressInfoRequest"
        },
        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
          "description": "Urn link",
          "x-createdAt": 1509612699576,
          "$ref": "#/definitions/UrnInfoRequest"
        }
      }
    },
    "NameInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699577,
      "properties": {
        "givenName": {
          "description": "User first name",
          "x-createdAt": 1509612699578,
          "type": "string"
        },
        "familyName": {
          "description": "User last name",
          "x-createdAt": 1509612699579,
          "type": "string"
        }
      }
    },
    "EmailInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699580,
      "properties": {
        "value": {
          "description": "Email address",
          "x-createdAt": 1509612699581,
          "type": "string"
        },
        "type": {
          "description": "Email address type",
          "x-createdAt": 1509612699582,
          "type": "string"
        }
      }
    },
    "PhoneNumberInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699583,
      "properties": {
        "value": {
          "description": "Phone number",
          "x-createdAt": 1509612699584,
          "type": "string"
        },
        "type": {
          "description": "Phone number type",
          "x-createdAt": 1509612699585,
          "type": "string"
        }
      }
    },
    "AddressInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699586,
      "properties": {
        "streetAddress": {
          "description": "User street address",
          "x-createdAt": 1509612699587,
          "type": "string"
        },
        "locality": {
          "description": "User city",
          "x-createdAt": 1509612699588,
          "type": "string"
        },
        "region": {
          "description": "User state/region",
          "x-createdAt": 1509612699589,
          "type": "string"
        },
        "postalCode": {
          "description": "User postal code",
          "x-createdAt": 1509612699590,
          "type": "string"
        },
        "country": {
          "description": "User country",
          "x-createdAt": 1509612699591,
          "type": "string"
        },
        "type": {
          "description": "Address type",
          "x-createdAt": 1509612699592,
          "type": "string"
        }
      }
    },
    "UrnInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699593,
      "properties": {
        "department": {
          "description": "Name of department (call queue) member",
          "x-createdAt": 1509612699594,
          "type": "string"
        }
      }
    },
    "GetUserListResponse": {
      "type": "object",
      "x-createdAt": 1509612699595,
      "properties": {
        "schemas": {
          "description": "Specification links",
          "x-createdAt": 1509612699596,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startIndex": {
          "description": "1-based index of query result",
          "x-createdAt": 1509612699597,
          "type": "integer"
        },
        "totalResults": {
          "description": "Results count",
          "x-createdAt": 1509612699598,
          "type": "integer"
        },
        "Resources": {
          "description": "List of users with detailed info",
          "x-createdAt": 1509612699599,
          "items": {
            "$ref": "#/definitions/UserInfo"
          },
          "type": "array"
        },
        "itemsPerPage": {
          "description": "Number of users displayed per page",
          "x-createdAt": 1509612699600,
          "type": "integer"
        }
      }
    },
    "UserInfo": {
      "type": "object",
      "x-createdAt": 1509612699601,
      "properties": {
        "schemas": {
          "description": "Specification links",
          "x-createdAt": 1509612699602,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Internal identifier of a user",
          "x-createdAt": 1509612699603,
          "type": "string"
        },
        "externalId": {
          "description": "External identifier of a user",
          "x-createdAt": 1509612699604,
          "type": "string"
        },
        "meta": {
          "description": "User metadata",
          "x-createdAt": 1509612699605,
          "$ref": "#/definitions/MetaInfo"
        },
        "userName": {
          "description": "User mailbox",
          "x-createdAt": 1509612699606,
          "type": "string"
        },
        "name": {
          "description": "User name",
          "x-createdAt": 1509612699607,
          "$ref": "#/definitions/NameInfo"
        },
        "active": {
          "description": "Status of a user",
          "x-createdAt": 1509612699608,
          "type": "boolean"
        },
        "emails": {
          "description": "User email addresses",
          "x-createdAt": 1509612699609,
          "items": {
            "$ref": "#/definitions/EmailInfo"
          },
          "type": "array"
        },
        "phoneNumbers": {
          "description": "User phone numbers",
          "x-createdAt": 1509612699610,
          "items": {
            "$ref": "#/definitions/PhoneNumberInfo"
          },
          "type": "array"
        },
        "addresses": {
          "description": "User addresses",
          "x-createdAt": 1509612699611,
          "items": {
            "$ref": "#/definitions/AddressInfo"
          },
          "type": "array"
        }
      }
    },
    "MetaInfo": {
      "type": "object",
      "x-createdAt": 1509612699612,
      "properties": {
        "schemas": {
          "description": "Specification links",
          "x-createdAt": 1509612699613,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceType": {
          "description": "User type",
          "x-createdAt": 1509612699614,
          "type": "string"
        },
        "created": {
          "description": "Datetime of user creation in ISO 8601 format, for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699615,
          "type": "string",
          "format": "date-time"
        },
        "lastModified": {
          "description": "Datetime of the last change of user information in ISO 8601 format,for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699616,
          "type": "string",
          "format": "date-time"
        },
        "location": {
          "description": "User location",
          "x-createdAt": 1509612699617,
          "type": "string"
        }
      }
    },
    "NameInfo": {
      "type": "object",
      "x-createdAt": 1509612699618,
      "properties": {
        "givenName": {
          "description": "User first name",
          "x-createdAt": 1509612699619,
          "type": "string"
        },
        "familyName": {
          "description": "User last name",
          "x-createdAt": 1509612699620,
          "type": "string"
        }
      }
    },
    "EmailInfo": {
      "type": "object",
      "x-createdAt": 1509612699621,
      "properties": {
        "value": {
          "description": "Email address",
          "x-createdAt": 1509612699622,
          "type": "string"
        },
        "type": {
          "description": "Email address type",
          "x-createdAt": 1509612699623,
          "type": "string"
        }
      }
    },
    "AddressInfo": {
      "type": "object",
      "x-createdAt": 1509612699624,
      "properties": {
        "primary": {
          "description": "Specifies if this is the main user address",
          "x-createdAt": 1509612699625,
          "type": "boolean"
        },
        "streetAddress": {
          "description": "User street address",
          "x-createdAt": 1509612699626,
          "type": "string"
        },
        "locality": {
          "description": "User city",
          "x-createdAt": 1509612699627,
          "type": "string"
        },
        "region": {
          "description": "User state/region",
          "x-createdAt": 1509612699628,
          "type": "string"
        },
        "postalCode": {
          "description": "User postal code",
          "x-createdAt": 1509612699629,
          "type": "string"
        },
        "country": {
          "description": "User country",
          "x-createdAt": 1509612699630,
          "type": "string"
        },
        "type": {
          "description": "Address type",
          "x-createdAt": 1509612699631,
          "type": "string"
        }
      }
    },
    "EditParkLocationRequest": {
      "type": "object",
      "x-createdAt": 1509612699632,
      "properties": {
        "addedUserIds": {
          "description": "List of users that will be allowed to park/unpark calls using the specified park location",
          "x-createdAt": 1509612699633,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedUserIds": {
          "description": "List of users that will be unallowed to park/unpark calls using the specified park location",
          "x-createdAt": 1509612699634,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EditPagingGroupRequest": {
      "type": "object",
      "x-createdAt": 1509612699635,
      "properties": {
        "addedUserIds": {
          "description": "List of users that will be allowed to page a group specified",
          "x-createdAt": 1509612699636,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedUserIds": {
          "description": "List of users that will be unallowed to page a group specified",
          "x-createdAt": 1509612699637,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addedDeviceIds": {
          "description": "List of account devices that will be assigned to a paging group specified",
          "x-createdAt": 1509612699638,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedDeviceIds": {
          "description": "List of account devices that will be unassigned from a paging group specified",
          "x-createdAt": 1509612699639,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DepartmentMemberList": {
      "type": "object",
      "x-createdAt": 1509612699640,
      "properties": {
        "records": {
          "description": "List of department members extensions",
          "x-createdAt": 1509612699641,
          "items": {
            "$ref": "#/definitions/ExtensionInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699642,
          "$ref": "#/definitions/NavigationInfo"
        },
        "paging": {
          "description": "Information on paging",
          "x-createdAt": 1509612699643,
          "$ref": "#/definitions/PagingInfo"
        }
      }
    },
    "DictionaryShippingOptions": {
      "type": "object",
      "x-createdAt": 1509612699644,
      "properties": {
        "quantity": {
          "description": "Quantity of devices to ship",
          "x-createdAt": 1509612699645,
          "type": "integer"
        },
        "price": {
          "description": "Price for shipping with the specified method (depending on the quantity value)",
          "x-createdAt": 1509612699646,
          "type": "integer"
        },
        "method": {
          "description": "Shipping method description",
          "x-createdAt": 1509612699647,
          "items": {
            "$ref": "#/definitions/ShippingMethod"
          },
          "type": "array"
        }
      }
    },
    "LanguageList": {
      "type": "object",
      "x-createdAt": 1509612699648,
      "properties": {
        "uri": {
          "description": "Canonical URI of the language list resource",
          "x-createdAt": 1509612699649,
          "type": "string"
        },
        "records": {
          "description": "Language data",
          "x-createdAt": 1509612699650,
          "items": {
            "$ref": "#/definitions/LanguageInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699651,
          "$ref": "#/definitions/NavigationInfo"
        },
        "paging": {
          "description": "Information on paging",
          "x-createdAt": 1509612699652,
          "$ref": "#/definitions/PagingInfo"
        }
      }
    },
    "NotificationSettings": {
      "type": "object",
      "x-createdAt": 1509612699653,
      "properties": {
        "uri": {
          "description": "Canonical URI of notifications settings resource",
          "x-createdAt": 1509612699654,
          "type": "string"
        },
        "emailAddresses": {
          "description": "List of notification recipient email addresses",
          "x-createdAt": 1509612699655,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "smsEmailAddresses": {
          "description": "List of notification recipient email addresses",
          "x-createdAt": 1509612699656,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "advancedMode": {
          "description": "Specifies notifications settings mode. If 'True' then advanced mode is on, it allows using different emails and/or phone numbers for each notification type. If 'False' then basic mode is on. Advanced mode settings are returned in both modes, if specified once, but if basic mode is switched on, they are not applied ",
          "x-createdAt": 1509612699657,
          "type": "boolean"
        },
        "voicemails": {
          "x-createdAt": 1509612699658,
          "$ref": "#/definitions/VoicemailsInfo"
        },
        "inboundFaxes": {
          "x-createdAt": 1509612699659,
          "$ref": "#/definitions/InboundFaxesInfo"
        },
        "outboundFaxes": {
          "x-createdAt": 1509612699660,
          "$ref": "#/definitions/OutboundFaxesInfo"
        },
        "inboundTexts": {
          "x-createdAt": 1509612699661,
          "$ref": "#/definitions/InboundTextsInfo"
        },
        "missedCalls": {
          "x-createdAt": 1509612699662,
          "$ref": "#/definitions/MissedCallsInfo"
        }
      }
    },
    "InProductMessages": {
      "type": "object",
      "x-createdAt": 1509612699663,
      "properties": {
        "uri": {
          "description": "Link to the in-product messages resource",
          "x-createdAt": 1509612699664,
          "type": "string"
        },
        "records": {
          "description": "The list of in-product messages",
          "x-createdAt": 1509612699665,
          "items": {
            "$ref": "#/definitions/BannerInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699666,
          "$ref": "#/definitions/NavigationInfo"
        },
        "paging": {
          "description": "Information on paging",
          "x-createdAt": 1509612699667,
          "$ref": "#/definitions/PagingInfo"
        }
      }
    },
    "BannerInfo": {
      "type": "object",
      "x-createdAt": 1509612699668,
      "properties": {
        "bannerType": {
          "description": "Type of a banner",
          "x-createdAt": 1509612699669,
          "type": "string"
        },
        "description": {
          "description": "Custom text description of a banner",
          "x-createdAt": 1509612699670,
          "type": "string"
        },
        "content": {
          "description": "HTML formatted message content",
          "x-createdAt": 1509612699671,
          "type": "string"
        },
        "expirationDate": {
          "description": "Datetime of message expiration in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "x-createdAt": 1509612699672,
          "type": "string"
        }
      }
    },
    "IVRPrompts": {
      "type": "object",
      "x-createdAt": 1509612699673,
      "properties": {
        "uri": {
          "description": "Link to prompts library resource",
          "x-createdAt": 1509612699674,
          "type": "string"
        },
        "records": {
          "description": "List of Prompts",
          "x-createdAt": 1509612699675,
          "items": {
            "$ref": "#/definitions/PromptInfo"
          },
          "type": "array"
        },
        "navigation": {
          "description": "Information on navigation",
          "x-createdAt": 1509612699676,
          "$ref": "#/definitions/NavigationInfo"
        },
        "paging": {
          "description": "Information on paging",
          "x-createdAt": 1509612699677,
          "$ref": "#/definitions/PagingInfo"
        }
      }
    },
    "PromptInfo": {
      "type": "object",
      "x-createdAt": 1509612699678,
      "properties": {
        "uri": {
          "description": "Internal identifier of a prompt",
          "x-createdAt": 1509612699679,
          "type": "string"
        },
        "id": {
          "description": "Link to a prompt metadata",
          "x-createdAt": 1509612699680,
          "type": "string"
        },
        "contentType": {
          "description": "Type of a prompt media content",
          "x-createdAt": 1509612699681,
          "type": "string"
        },
        "contentUri": {
          "description": "Link to a prompt media content",
          "x-createdAt": 1509612699682,
          "type": "string"
        },
        "filename": {
          "description": "Name of a prompt",
          "x-createdAt": 1509612699683,
          "type": "string"
        }
      }
    },
    "IVRMenuInfo": {
      "type": "object",
      "x-createdAt": 1509612699684,
      "properties": {
        "id": {
          "description": "Internal identifier of an IVR Menu extension",
          "x-createdAt": 1509612699685,
          "type": "string"
        },
        "uri": {
          "description": "Link to an IVR Menu extension resource",
          "x-createdAt": 1509612699686,
          "type": "string"
        },
        "name": {
          "description": "First name of an IVR Menu user",
          "x-createdAt": 1509612699687,
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of an IVR Menu extension",
          "x-createdAt": 1509612699688,
          "type": "string"
        },
        "prompt": {
          "description": "Prompt metadata",
          "x-createdAt": 1509612699689,
          "type": "object"
        },
        "actions": {
          "description": "Keys handling settings",
          "x-createdAt": 1509612699690,
          "items": {
            "$ref": "#/definitions/IVRMenuActionsInfo"
          },
          "type": "array"
        }
      }
    },
    "IVRMenuPromptInfo": {
      "type": "object",
      "x-createdAt": 1509612699691,
      "properties": {
        "mode": {
          "description": "Prompt mode: custom media or text = ['Audio', 'TextToSpeech']",
          "x-createdAt": 1509612699692,
          "type": "string",
          "enum": [
            "Audio",
            "TextToSpeech"
          ]
        },
        "audio": {
          "description": "For 'Audio' mode only. Prompt media reference",
          "x-createdAt": 1509612699693,
          "type": "object"
        },
        "text": {
          "description": "For 'TextToSpeech' mode only. Prompt text",
          "x-createdAt": 1509612699694,
          "type": "string"
        },
        "language": {
          "description": "For 'TextToSpeech' mode only. Prompt language metadata",
          "x-createdAt": 1509612699695,
          "type": "object"
        }
      }
    },
    "IVRMenuActionsInfo": {
      "type": "object",
      "x-createdAt": 1509612699696,
      "properties": {
        "input": {
          "description": "Key. The following values are supported: numeric: '1' to '9' Star Hash NoInput ",
          "x-createdAt": 1509612699697,
          "type": "string"
        },
        "action": {
          "description": "Internal identifier of an answering rule",
          "x-createdAt": 1509612699698,
          "type": "string",
          "enum": [
            "Connect",
            "Voicemail",
            "DialByName",
            "Transfer",
            "Repeat",
            "ReturnToRoot",
            "ReturnToPrevious",
            "Disconnect"
          ]
        },
        "extension": {
          "description": "For 'Connect' or 'Voicemail' actions only. Extension reference",
          "x-createdAt": 1509612699699,
          "type": "object"
        },
        "phoneNumber": {
          "description": "For 'Transfer' action only. PSTN number in E.164 format",
          "x-createdAt": 1509612699700,
          "type": "string"
        }
      }
    },
    "AudioPromptInfo": {
      "type": "object",
      "x-createdAt": 1509612699701,
      "properties": {
        "uri": {
          "description": "Link to an prompt audio file",
          "x-createdAt": 1509612699702,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an prompt",
          "x-createdAt": 1509612699703,
          "type": "string"
        }
      }
    },
    "PromptLanguageInfo": {
      "type": "object",
      "x-createdAt": 1509612699704,
      "properties": {
        "uri": {
          "description": "Link to prompt language",
          "x-createdAt": 1509612699705,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an language",
          "x-createdAt": 1509612699706,
          "type": "string"
        },
        "name": {
          "description": "Language name",
          "x-createdAt": 1509612699707,
          "type": "string"
        },
        "localeCode": {
          "description": "Language locale code",
          "x-createdAt": 1509612699708,
          "type": "string"
        }
      }
    },
    "IVRMenuExtensionInfo": {
      "type": "object",
      "x-createdAt": 1509612699709,
      "properties": {
        "uri": {
          "description": "Link to an extension resource",
          "x-createdAt": 1509612699710,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an extension",
          "x-createdAt": 1509612699711,
          "type": "string"
        }
      }
    },
    "CustomCompanyGreetingInfo": {
      "type": "object",
      "x-createdAt": 1509612699712,
      "properties": {
        "uri": {
          "description": "Link to an extension custom greeting",
          "x-createdAt": 1509612699713,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an answering rule",
          "x-createdAt": 1509612699714,
          "type": "string"
        },
        "type": {
          "description": "Internal identifier of an answering rule",
          "x-createdAt": 1509612699715,
          "type": "string",
          "enum": [
            "Company"
          ]
        },
        "contentType": {
          "description": "Content media type in WAV/MP3 format",
          "x-createdAt": 1509612699716,
          "type": "string",
          "enum": [
            "WAV",
            "MP3"
          ]
        },
        "contentUri": {
          "description": "Link to a greeting content (audio file)",
          "x-createdAt": 1509612699717,
          "type": "string"
        },
        "answeringRule": {
          "description": "Information on an answering rule that the greeting is applied to",
          "x-createdAt": 1509612699718,
          "type": "object"
        }
      }
    },
    "CustomGreetingAnsweringRuleInfo": {
      "type": "object",
      "x-createdAt": 1509612699719,
      "properties": {
        "uri": {
          "description": "Canonical URI of an answering rule",
          "x-createdAt": 1509612699720,
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an answering rule",
          "x-createdAt": 1509612699721,
          "type": "string"
        }
      }
    },
    "CustomCompanyGreetingRequest": {
      "type": "object",
      "x-createdAt": 1509612699722,
      "properties": {
        "type": {
          "description": "Type of a greeting, specifying the case when the greeting is played. See Greeting Types = ['Introductory', 'Announcement', 'ConnectingMessage', 'ConnectingAudio', 'Voicemail', 'Unavailable', 'HoldMusic']",
          "x-createdAt": 1509612699723,
          "type": "string",
          "enum": [
            "Introductory",
            "Announcement",
            "ConnectingMessage",
            "ConnectingAudio",
            "Voicemail",
            "Unavailable",
            "HoldMusic"
          ]
        },
        "answeringRule": {
          "description": "nformation on an answering rule that the greeting is applied to",
          "x-createdAt": 1509612699724,
          "type": "object"
        }
      }
    },
    "CustomCompanyGreetingAnsweringRuleInfo": {
      "type": "object",
      "x-createdAt": 1509612699725,
      "properties": {
        "id": {
          "description": "Internal identifier of an answering rule",
          "x-createdAt": 1509612699726,
          "type": "string"
        }
      }
    },
    "CompanyBusinessHours": {
      "type": "object",
      "x-createdAt": 1509612699727,
      "properties": {
        "uri": {
          "description": "Canonical URI of a business-hours resource ",
          "x-createdAt": 1509612699728,
          "type": "string"
        },
        "schedule": {
          "description": "Schedule when an answering rule is applied",
          "x-createdAt": 1509612699729,
          "type": "object"
        }
      }
    },
    "CompanyBusinessHoursUpdateRequest": {
      "type": "object",
      "x-createdAt": 1509612699730,
      "properties": {
        "schedule": {
          "description": "Schedule when an answering rule is applied",
          "x-createdAt": 1509612699731,
          "type": "object"
        }
      }
    },
    "CompanyBusinessHoursScheduleInfo": {
      "type": "object",
      "x-createdAt": 1509612699732,
      "properties": {
        "weeklyRanges": {
          "x-createdAt": 1509612699733,
          "type": "object"
        }
      }
    },
    "UserPresencePermissionsUpdateRequest": {
      "type": "object",
      "x-createdAt": 1509612699734,
      "properties": {
        "extensions": {
          "x-createdAt": 1509612699735,
          "items": {
            "$ref": "#/definitions/PresencePermissionsExtensionInfoRequest"
          },
          "type": "array"
        }
      }
    },
    "PresencePermissionsExtensionInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699736,
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "x-createdAt": 1509612699737,
          "type": "string"
        }
      }
    },
    "CreateAccountRequest": {
      "type": "object",
      "x-createdAt": 1509612699738,
      "properties": {
        "mainNumber": {
          "description": "Main account VoIP phone number, either Local or Toll-Free. Cannot be Fax Only. Obtained via lookup/reserve API",
          "x-createdAt": 1509612699739,
          "type": "string"
        },
        "operator": {
          "description": "Operator's extension information. This extension will receive all calls and messages intended for the operator",
          "x-createdAt": 1509612699740,
          "$ref": "#/definitions/GetExtensionInfoResponse"
        },
        "partnerId": {
          "description": "Partner identifier for this account",
          "x-createdAt": 1509612699741,
          "type": "string"
        },
        "promotionCode": {
          "description": "Promotion code to calculate a discount",
          "x-createdAt": 1509612699742,
          "type": "string"
        },
        "reservationId": {
          "description": "Internal identifier of phone number reservation; encoded data including reservation type (by brand, by account, by session), particular brand/account/session data, and reservation date and time",
          "x-createdAt": 1509612699743,
          "type": "string"
        },
        "serviceInfo": {
          "description": "Account service information, brand identifier and service plan",
          "x-createdAt": 1509612699744,
          "$ref": "#/definitions/GetServiceInfoResponse"
        },
        "status": {
          "description": "The status with which an account is created. The default value is 'Initial'",
          "x-createdAt": 1509612699745,
          "type": "string",
          "enum": [
            "Initial",
            "Unconfirmed",
            "Confirmed"
          ]
        }
      }
    },
    "ModifyAccountBusinessAddressRequest": {
      "type": "object",
      "x-createdAt": 1509612699746,
      "properties": {
        "company": {
          "description": "Company business name",
          "x-createdAt": 1509612699747,
          "type": "string"
        },
        "email": {
          "description": "Company business email address",
          "x-createdAt": 1509612699748,
          "type": "string"
        },
        "businessAddress": {
          "description": "Company business address",
          "x-createdAt": 1509612699749,
          "$ref": "#/definitions/BusinessAddressInfo"
        }
      }
    },
    "BusinessAddressInfo": {
      "type": "object",
      "x-createdAt": 1509612699750,
      "properties": {
        "country": {
          "description": "Name of a country",
          "x-createdAt": 1509612699751,
          "type": "string"
        },
        "state": {
          "description": "Name of a state/province",
          "x-createdAt": 1509612699752,
          "type": "string"
        },
        "city": {
          "description": "Name of a city",
          "x-createdAt": 1509612699753,
          "type": "string"
        },
        "street": {
          "description": "Street address",
          "x-createdAt": 1509612699754,
          "type": "string"
        },
        "zip": {
          "description": "Zip code",
          "x-createdAt": 1509612699755,
          "type": "string"
        }
      }
    },
    "ExtensionInfoProvisionPhoneNumbers": {
      "type": "object",
      "x-createdAt": 1509612699756,
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "x-createdAt": 1509612699757,
          "type": "string"
        },
        "partnerId": {
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension",
          "x-createdAt": 1509612699758,
          "type": "string"
        }
      }
    },
    "CreateAnsweringRuleRequest": {
      "type": "object",
      "x-createdAt": 1509612699759,
      "properties": {
        "type": {
          "description": "Type of an answering rule. The 'Custom' value should be specified",
          "x-createdAt": 1509612699760,
          "type": "string"
        },
        "name": {
          "description": "Name of an answering rule specified by user",
          "x-createdAt": 1509612699761,
          "type": "string"
        },
        "callers": {
          "description": "Answering rule will be applied when calls are received from the specified caller(s)",
          "x-createdAt": 1509612699762,
          "items": {
            "$ref": "#/definitions/CallersInfoRequest"
          },
          "type": "array"
        },
        "forwarding": {
          "description": "Forwarding parameters. Should be specified if the 'callHandlingAction' parameter value is set to 'ForwardCalls'. These settings determine the forwarding numbers to which the call should be forwarded",
          "x-createdAt": 1509612699763,
          "$ref": "#/definitions/ForwardingInfoCreateRuleRequest"
        }
      }
    },
    "CallersInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699764,
      "properties": {
        "callerId": {
          "description": "Phone number of a caller",
          "x-createdAt": 1509612699765,
          "type": "string"
        },
        "name": {
          "description": "Contact name of a caller",
          "x-createdAt": 1509612699766,
          "type": "string"
        }
      }
    },
    "ForwardingInfoCreateRuleRequest": {
      "type": "object",
      "x-createdAt": 1509612699767,
      "properties": {
        "rules": {
          "description": "Information on a call forwarding rule",
          "x-createdAt": 1509612699768,
          "items": {
            "$ref": "#/definitions/RuleInfoCreateRuleRequest"
          },
          "type": "array"
        }
      }
    },
    "RuleInfoCreateRuleRequest": {
      "type": "object",
      "x-createdAt": 1509612699769,
      "properties": {
        "index": {
          "description": "Forwarding number (or group) ordinal",
          "x-createdAt": 1509612699770,
          "type": "integer"
        },
        "ringCount": {
          "description": "Number of rings for a forwarding number (or group)",
          "x-createdAt": 1509612699771,
          "type": "integer"
        },
        "forwardingNumbers": {
          "description": "Forwarding number (or group) data",
          "x-createdAt": 1509612699772,
          "items": {
            "$ref": "#/definitions/ForwardingNumberInfoRulesCreateRuleRequest"
          },
          "type": "array"
        }
      }
    },
    "ForwardingNumberInfoRulesCreateRuleRequest": {
      "type": "object",
      "x-createdAt": 1509612699773,
      "properties": {
        "id": {
          "description": "Internal identifier of a forwarding number",
          "x-createdAt": 1509612699774,
          "type": "string"
        }
      }
    },
    "UpdateAnsweringRuleRequest": {
      "type": "object",
      "x-createdAt": 1509612699775,
      "properties": {
        "forwarding": {
          "description": "Forwarding parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These settings determine the forwarding numbers to which the call will be forwarded",
          "x-createdAt": 1509612699776,
          "$ref": "#/definitions/ForwardingInfoCreateRuleRequest"
        }
      }
    },
    "UpdateConferencingInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699777,
      "properties": {
        "phoneNumbers": {
          "description": "Multiple dial-in phone numbers to connect to audio conference service, relevant for user's brand. Each number is given with the country and location information, in order to let the user choose the less expensive way to connect to a conference. The first number in the list is the primary conference number, that is default and domestic",
          "x-createdAt": 1509612699778,
          "items": {
            "$ref": "#/definitions/ConferencePhoneNumberInfo"
          },
          "type": "array"
        },
        "allowJoinBeforeHost": {
          "description": "Determines if host user allows conference participants to join before the host",
          "x-createdAt": 1509612699779,
          "type": "boolean"
        }
      }
    },
    "ConferencePhoneNumberInfo": {
      "type": "object",
      "x-createdAt": 1509612699780,
      "properties": {
        "phoneNumber": {
          "description": "Dial-in phone number to connect to a conference",
          "x-createdAt": 1509612699781,
          "type": "string"
        },
        "default": {
          "description": "'True' if the number is default for the conference. Default conference number is a domestic number that can be set by user (otherwise it is set by the system). Only one default number per country is allowed",
          "x-createdAt": 1509612699782,
          "type": "boolean"
        }
      }
    },
    "CreateForwardingNumberRequest": {
      "type": "object",
      "x-createdAt": 1509612699783,
      "properties": {
        "phoneNumber": {
          "description": "Forwarding/Call flip phone number",
          "x-createdAt": 1509612699784,
          "type": "string"
        },
        "label": {
          "description": "Forwarding/Call flip number title",
          "x-createdAt": 1509612699785,
          "type": "string"
        }
      }
    },
    "UpdateForwardingNumberRequest": {
      "type": "object",
      "x-createdAt": 1509612699786,
      "properties": {
        "phoneNumber": {
          "description": "Forwarding/Call flip phone number",
          "x-createdAt": 1509612699787,
          "type": "string"
        },
        "label": {
          "description": "Forwarding/Call flip number title",
          "x-createdAt": 1509612699788,
          "type": "string"
        },
        "flipNumber": {
          "description": "Number assigned to the call flip phone number, corresponds to the shortcut dial number",
          "x-createdAt": 1509612699789,
          "type": "string"
        }
      }
    },
    "CreatePagerMessageRequest": {
      "type": "object",
      "x-createdAt": 1509612699790,
      "properties": {
        "from": {
          "description": "Sender of a pager message. The extensionNumber property must be filled",
          "x-createdAt": 1509612699791,
          "$ref": "#/definitions/MessageStoreCallerInfoRequest"
        },
        "replyOn": {
          "description": "Internal identifier of a message this message replies to",
          "x-createdAt": 1509612699792,
          "type": "integer"
        },
        "text": {
          "description": "Text of a pager message. Max length is 1024 symbols (2-byte UTF-16 encoded). If a character is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting the maximum message length to 512 symbols",
          "x-createdAt": 1509612699793,
          "type": "string"
        },
        "to": {
          "description": "Optional if replyOn parameter is specified. Receiver of a pager message. The extensionNumber property must be filled",
          "x-createdAt": 1509612699794,
          "items": {
            "$ref": "#/definitions/MessageStoreCallerInfoRequest"
          },
          "type": "array"
        }
      }
    },
    "MessageStoreCallerInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699795,
      "properties": {
        "extensionNumber": {
          "description": "Extension short number (usually 3 or 4 digits). This property is filled when parties communicate by means of short internal numbers, for example when calling to other extension or sending/receiving Company Pager message",
          "x-createdAt": 1509612699796,
          "type": "string"
        },
        "location": {
          "description": "Contains party location (city, state) if one can be determined from phoneNumber. This property is filled only when phoneNumber is not empty and server can calculate location information from it (for example, this information is unavailable for US toll-free numbers)",
          "x-createdAt": 1509612699797,
          "type": "string"
        },
        "name": {
          "description": "Symbolic name associated with a party. If the phone does not belong to the known extension,only the location is returned, the name is not determined then",
          "x-createdAt": 1509612699798,
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of a party. Usually it is a plain number including country and area code like 18661234567. But sometimes it could be returned from database with some formatting applied, for example (866)123-4567. This property is filled in all cases where parties communicate by means of global phone numbers, for example when calling to direct numbers or sending/receiving SMS",
          "x-createdAt": 1509612699799,
          "type": "string"
        }
      }
    },
    "CreateFaxMessageRequest": {
      "type": "object",
      "x-createdAt": 1509612699800,
      "properties": {
        "to": {
          "description": "Recipient information. Phone number property is mandatory. Optional for resend fax request",
          "x-createdAt": 1509612699801,
          "items": {
            "$ref": "#/definitions/MessageStoreCallerInfoRequest"
          },
          "type": "array"
        },
        "resolution": {
          "description": "Fax resolution",
          "x-createdAt": 1509612699803,
          "type": "string",
          "enum": [
            "High",
            "Low"
          ]
        },
        "sendTime": {
          "description": "The datetime to send fax at, in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. If time is not specified, the fax will be send immediately",
          "x-createdAt": 1509612699804,
          "type": "string",
          "format": "date-time"
        },
        "coverPageText": {
          "description": "Optional. Cover page text, entered by the fax sender and printed on the cover page. Maximum length is limited to 1024 symbols",
          "x-createdAt": 1509612699805,
          "type": "string"
        },
        "originalMessageId": {
          "description": "Internal identifier of the original fax message which needs to be resent. Mandatory for resend fax request",
          "x-createdAt": 1509612699806,
          "type": "string"
        }
      }
    },
    "CreateSMSMessage": {
      "type": "object",
      "x-createdAt": 1509612699807,
      "properties": {
        "from": {
          "description": "Sender of an SMS message. The phoneNumber property must be filled to correspond to one of the account phone numbers which is allowed to send SMS",
          "x-createdAt": 1509612699808,
          "$ref": "#/definitions/MessageStoreCallerInfoRequest"
        },
        "to": {
          "description": "Receiver of an SMS message. The phoneNumber property must be filled",
          "x-createdAt": 1509612699809,
          "items": {
            "$ref": "#/definitions/MessageStoreCallerInfoRequest"
          },
          "type": "array"
        },
        "text": {
          "description": "Text of a message. Max length is 1000 symbols (2-byte UTF-16 encoded). If a character is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting the maximum message length to 500 symbols",
          "x-createdAt": 1509612699810,
          "type": "string"
        }
      }
    },
    "UpdateMessageRequest": {
      "type": "object",
      "x-createdAt": 1509612699811,
      "properties": {
        "readStatus": {
          "description": "Read status of a message to be changed. Multiple values are accepted",
          "x-createdAt": 1509612699812,
          "type": "string",
          "enum": [
            "Read",
            "Unread"
          ]
        }
      }
    },
    "SetReportingSettingsRequest": {
      "type": "object",
      "x-createdAt": 1509612699813,
      "properties": {
        "views": {
          "description": "List of 'View' structures with a tuple of filter values, pages and schedules",
          "x-createdAt": 1509612699814,
          "items": {
            "$ref": "#/definitions/ViewInfoReporting"
          },
          "type": "array"
        }
      }
    },
    "MakeRingOutRequest": {
      "type": "object",
      "x-createdAt": 1509612699815,
      "properties": {
        "from": {
          "description": "Phone number of the caller. This number corresponds to the 1st leg of the RingOut call. This number can be one of user's configured forwarding numbers or arbitrary number",
          "x-createdAt": 1509612699816,
          "$ref": "#/definitions/MakeRingOutCallerInfoRequestFrom"
        },
        "to": {
          "description": "Phone number of the called party. This number corresponds to the 2nd leg of the RingOut call",
          "x-createdAt": 1509612699817,
          "$ref": "#/definitions/MakeRingOutCallerInfoRequestTo"
        },
        "callerId": {
          "description": "The number which will be displayed to the called party",
          "x-createdAt": 1509612699818,
          "$ref": "#/definitions/MakeRingOutCallerInfoRequestTo"
        },
        "playPrompt": {
          "description": "The audio prompt that the calling party hears when the call is connected",
          "x-createdAt": 1509612699819,
          "type": "boolean"
        },
        "country": {
          "description": "Optional. Dialing plan country data. If not specified, then extension home country is applied by default",
          "x-createdAt": 1509612699820,
          "$ref": "#/definitions/MakeRingOutCoutryInfo"
        }
      }
    },
    "MakeRingOutCallerInfoRequestFrom": {
      "type": "object",
      "x-createdAt": 1509612699821,
      "properties": {
        "phoneNumber": {
          "description": "Phone number in E.164 format",
          "x-createdAt": 1509612699822,
          "type": "string"
        },
        "forwardingNumberId": {
          "description": "Internal identifier of a forwarding number; returned in response in the id field. Can be specified instead of the phoneNumber attribute",
          "x-createdAt": 1509612699823,
          "type": "string"
        }
      }
    },
    "MakeRingOutCallerInfoRequestTo": {
      "type": "object",
      "x-createdAt": 1509612699824,
      "properties": {
        "phoneNumber": {
          "description": "Phone number in E.164 format",
          "x-createdAt": 1509612699825,
          "type": "string"
        }
      }
    },
    "MakeRingOutCoutryInfo": {
      "type": "object",
      "x-createdAt": 1509612699826,
      "properties": {
        "id": {
          "description": "Dialing plan country identifier",
          "x-createdAt": 1509612699827,
          "type": "string"
        }
      }
    },
    "CustomDataRequest": {
      "type": "object",
      "x-createdAt": 1509612699828,
      "properties": {
        "id": {
          "description": "Custom data access key. Optional. If specified, must match the custom key in the URL",
          "x-createdAt": 1509612699829,
          "type": "string"
        },
        "value": {
          "description": "Description of custom data. Mandatory for create, if there is no attachment specified. Maximum length is limited to 256 symbols",
          "x-createdAt": 1509612699830,
          "type": "string"
        }
      }
    },
    "CreateSipRegistrationRequest": {
      "type": "object",
      "x-createdAt": 1509612699831,
      "properties": {
        "device": {
          "description": "Device unique description",
          "x-createdAt": 1509612699832,
          "items": {
            "$ref": "#/definitions/DeviceInfoRequest"
          },
          "type": "array"
        },
        "sipInfo": {
          "description": "SIP settings for device",
          "x-createdAt": 1509612699833,
          "items": {
            "$ref": "#/definitions/SIPInfoRequest"
          },
          "type": "array"
        }
      }
    },
    "DeviceInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699834,
      "properties": {
        "id": {
          "description": "Device unique identifier, retrieved on previous session (if any)",
          "x-createdAt": 1509612699835,
          "type": "string"
        },
        "appExternalId": {
          "description": "For iOS devices only Certificate name (used by iOS applications for APNS subscription)",
          "x-createdAt": 1509612699836,
          "type": "string"
        },
        "computerName": {
          "description": "For SoftPhone only Computer name",
          "x-createdAt": 1509612699837,
          "type": "string"
        }
      }
    },
    "SIPInfoRequest": {
      "type": "object",
      "x-createdAt": 1509612699838,
      "properties": {
        "transport": {
          "description": "Supported transport. SIP info will be returned for this transport if supported",
          "x-createdAt": 1509612699839,
          "type": "string",
          "enum": [
            "UDP",
            "TCP",
            "TLS",
            "WS",
            "WSS"
          ]
        }
      }
    },
    "ParsePhoneNumberRequest": {
      "type": "object",
      "x-createdAt": 1509612699840,
      "properties": {
        "originalStrings": {
          "description": "Phone numbers passed in a string. The maximum value of phone numbers is limited to 64. The maximum number of symbols in each phone number in a string is 64",
          "x-createdAt": 1509612699841,
          "type": "string"
        }
      }
    },
    "CreateSubscriptionRequest": {
      "type": "object",
      "x-createdAt": 1509612699842,
      "properties": {
        "eventFilters": {
          "description": "Mandatory. Collection of URIs to API resources (see Event Types for details). For APNS transport type only message event filter is available",
          "x-createdAt": 1509612699843,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deliveryMode": {
          "description": "Notification delivery settings",
          "x-createdAt": 1509612699844,
          "$ref": "#/definitions/NotificationDeliveryModeRequest"
        }
      }
    },
    "NotificationDeliveryModeRequest": {
      "type": "object",
      "x-createdAt": 1509612699845,
      "properties": {
        "transportType": {
          "description": "Notifications transportation provider name. 'APNS' (Apple Push Notifications Service)",
          "x-createdAt": 1509612699846,
          "type": "string",
          "enum": [
            "PubNub",
            "APNS",
            "PubNub/APNS/VoIP"
          ]
        },
        "encryption": {
          "description": "Optional parameter. Specifies if the message will be encrypted or not. If request contains any presence event filter the value by default is 'True' (even if specified as 'false'). If request contains only message event filters the value by default is 'False'",
          "x-createdAt": 1509612699847,
          "type": "boolean"
        }
      }
    },
    "ModifySubscriptionRequest": {
      "type": "object",
      "x-createdAt": 1509612699848,
      "properties": {
        "eventFilters": {
          "description": "Collection of URIs to API resources (see Event Types). Mandatory field",
          "x-createdAt": 1509612699849,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetVersionsResponse": {
      "type": "object",
      "x-createdAt": 1509612699850,
      "properties": {
        "uri": {
          "description": "Canonical URI of the API version",
          "x-createdAt": 1509612699851,
          "type": "string"
        },
        "apiVersions": {
          "description": "Full API version information: uri, number, release date",
          "x-createdAt": 1509612699852,
          "items": {
            "$ref": "#/definitions/VersionInfo"
          },
          "type": "array"
        },
        "serverVersion": {
          "description": "Server version",
          "x-createdAt": 1509612699853,
          "type": "string"
        },
        "serverRevision": {
          "description": "Server revision",
          "x-createdAt": 1509612699854,
          "type": "string"
        }
      }
    },
    "VersionInfo": {
      "type": "object",
      "x-createdAt": 1509612699855,
      "properties": {
        "uri": {
          "description": "Canonical URI of API versions",
          "x-createdAt": 1509612699856,
          "type": "string"
        },
        "versionString": {
          "description": "Version of the RingCentral REST API",
          "x-createdAt": 1509612699857,
          "type": "string"
        },
        "releaseDate": {
          "description": "Release date of this version",
          "x-createdAt": 1509612699858,
          "type": "string"
        },
        "uriString": {
          "description": "URI part determining the current version",
          "x-createdAt": 1509612699859,
          "type": "string"
        }
      }
    },
    "GetVersionResponse": {
      "type": "object",
      "x-createdAt": 1509612699860,
      "properties": {
        "uri": {
          "description": "Canonical URI of the version info resource",
          "x-createdAt": 1509612699861,
          "type": "string"
        },
        "versionString": {
          "description": "Version of the RingCentral REST API",
          "x-createdAt": 1509612699862,
          "type": "string"
        },
        "releaseDate": {
          "description": "Release date of this version",
          "x-createdAt": 1509612699863,
          "type": "string"
        },
        "uriString": {
          "description": "URI part determining the current version",
          "x-createdAt": 1509612699864,
          "type": "string"
        }
      }
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "x-createdAt": 1509612699865,
      "properties": {
        "id": {
          "description": "Internal identifier of an account",
          "x-createdAt": 1509612699866,
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an account",
          "x-createdAt": 1509612699867,
          "type": "string"
        },
        "mainNumber": {
          "description": "Main phone number of the current account",
          "x-createdAt": 1509612699868,
          "type": "string"
        },
        "operator": {
          "description": "Operator's extension information. This extension will receive all calls and messages intended for the operator",
          "x-createdAt": 1509612699869,
          "$ref": "#/definitions/GetExtensionInfoResponse"
        },
        "partnerId": {
[...]
