{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "RingCentral Connect Platform API",
    "description": "RingCentral API is a REST based interface, allowing to customize and integrate your phone system everywhere. It will help you build creative solutions based on our phone service and improve customer communications experience.",
    "termsOfService": "https://www.ringcentral.com/legal/eulatos.html"
  },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "companyId": {
      "name": "companyId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an RC account/Glip company, or tilde (~) to indicate a company the current user belongs to"
    },
    "accountId": {
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
      "default": "~"
    },
    "answeringRuleId": {
      "name": "answeringRuleId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an answering rule. The value can be standard digital ID or specific ID - either business-hours-rule or after-hours-rule"
    },
    "attachmentId": {
      "name": "attachmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message attachment"
    },
    "blockedNumberId": {
      "name": "blockedNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a blocked number list entry"
    },
    "brandId": {
      "name": "brandId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a brand"
    },
    "callLogId": {
      "name": "callLogId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a call log record"
    },
    "companyPagerId": {
      "name": "companyPagerId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a pager message"
    },
    "contactId": {
      "name": "contactId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a contact record in the RingCentral database"
    },
    "countryId": {
      "name": "countryId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a country"
    },
    "customDataKey": {
      "name": "customDataKey",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Custom data access key. The number of unique custom data keys is limited to 100 keys per extension, summarized for all the applications. For example, if you have created 50 custom data keys under the Android mobile client application for the particular extension, then loggedin the iOS application and created another 50 keys, the web client application won't be allowed to create any custom data key for that extension"
    },
    "departmentId": {
      "name": "departmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a Department extension (same as extensionId but only the ID of a department extension is valid)"
    },
    "deviceId": {
      "name": "deviceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a device"
    },
    "extensionId": {
      "name": "extensionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the currentsession",
      "default": "~"
    },
    "faxId": {
      "name": "faxId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a fax message"
    },
    "greetingId": {
      "name": "greetingId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a greeting"
    },
    "groupId": {
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a group in an address book"
    },
    "languageId": {
      "name": "languageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a language"
    },
    "lineId": {
      "name": "lineId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a line"
    },
    "meetingId": {
      "name": "meetingId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a meeting"
    },
    "messageId": {
      "name": "messageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message"
    },
    "orderId": {
      "name": "orderId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an order"
    },
    "personId": {
      "name": "personId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a user to be returned, the maximum number of IDs is 30"
    },
    "phoneNumberId": {
      "name": "phoneNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a phone number"
    },
    "recordingId": {
      "name": "recordingId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of recording (returned in Call Log)"
    },
    "ringoutId": {
      "name": "ringoutId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingOut call"
    },
    "scaleSize": {
      "name": "scaleSize",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "90x90",
        "195x195",
        "584x584"
      ],
      "description": "Dimensions of a profile image which will be returned in response"
    },
    "secretQuestionId": {
      "name": "secretQuestionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a secret question"
    },
    "servicePlanId": {
      "name": "servicePlanId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a service plan"
    },
    "smsId": {
      "name": "smsId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an SMS message"
    },
    "stateId": {
      "name": "stateId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a state"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a subscription"
    },
    "timezoneId": {
      "name": "timezoneId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a timezone"
    },
    "userGroupId": {
      "name": "userGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an user group"
    },
    "verificationCallId": {
      "name": "verificationCallId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a verification call"
    }
  },
  "definitions": {
    "Account.ServiceInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a service info resource",
          "type": "string"
        },
        "billingPlan": {
          "description": "Information on account billing plan",
          "$ref": "#/definitions/BillingPlanInfo"
        },
        "brand": {
          "description": "Information on account brand",
          "$ref": "#/definitions/BrandInfo"
        },
        "servicePlan": {
          "description": "Information on account service plan",
          "$ref": "#/definitions/ServicePlanInfo"
        },
        "targetServicePlan": {
          "description": "Information on account target service plan",
          "$ref": "#/definitions/TargetServicePlanInfo"
        }
      }
    },
    "AccountInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an account",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an account",
          "type": "string"
        },
        "mainNumber": {
          "description": "Main phone number of the current account",
          "type": "string"
        },
        "operator": {
          "description": "Operator's extension information. This extension will receive all calls and messages intended for the operator",
          "$ref": "#/definitions/ExtensionInfo"
        },
        "partnerId": {
          "description": "Additional account identifier, developed and applied by the client",
          "type": "string"
        },
        "serviceInfo": {
          "description": "Account service information, including brand, service plan and billing plan",
          "$ref": "#/definitions/Account.ServiceInfo"
        },
        "setupWizardState": {
          "description": "Specifies account configuration wizard state (web service setup). The default value is 'NotStarted'",
          "type": "string",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "status": {
          "description": "Status of the current account",
          "type": "string",
          "enum": [
            "Confirmed",
            "Disabled"
          ]
        },
        "statusInfo": {
          "description": "Status information (reason, comment, lifetime). Returned for 'Disabled' status only",
          "$ref": "#/definitions/StatusInfo"
        }
      }
    },
    "AccountLimits": {
      "type": "object",
      "properties": {
        "freeSoftPhoneLinesPerExtension": {
          "description": "The maximum number of free softphone digital lines per user extension",
          "type": "integer"
        },
        "meetingSize": {
          "description": "The maximum number of participants in RingCentral Meeting hosted by this account's user",
          "type": "integer"
        },
        "maxMonitoredExtensionsPerUser": {
          "description": "The maximum number of extensions which can be included in the list of users monitored for Presence",
          "type": "integer"
        }
      }
    },
    "AccountServiceInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of the account Service Info resource",
          "type": "string"
        },
        "servicePlanName": {
          "description": "Account Service Plan name",
          "type": "string"
        },
        "brand": {
          "description": "Information on account brand",
          "$ref": "#/definitions/BrandInfo"
        },
        "servicePlan": {
          "description": "Information on account service plan",
          "$ref": "#/definitions/ServicePlanInfo"
        },
        "billingPlan": {
          "description": "Information on account billing plan",
          "$ref": "#/definitions/BillingPlanInfo"
        },
        "serviceFeatures": {
          "description": "Service features information, see Service Feature List",
          "items": {
            "$ref": "#/definitions/ServiceFeatureInfo"
          },
          "type": "array"
        },
        "limits": {
          "description": "Limits which are effective for the account",
          "$ref": "#/definitions/AccountLimits"
        }
      }
    },
    "AddonInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Addon identifier. For HardPhones of certain types, which are compatible with this addon identifier",
          "type": "string"
        },
        "count": {
          "description": "Number of addons. For HardPhones of certain types, which are compatible with such addon identifier",
          "type": "integer"
        }
      }
    },
    "AnsweringRule.ScheduleInfo": {
      "type": "object",
      "properties": {
        "weeklyRanges": {
          "description": "Weekly schedule. If specified, ranges cannot be specified",
          "$ref": "#/definitions/WeeklyScheduleInfo"
        },
        "ranges": {
          "description": "Specific data ranges. If specified, weeklyRanges cannot be specified",
          "$ref": "#/definitions/RangesInfo"
        }
      }
    },
    "AnsweringRuleInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI to the answering rule resource",
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an asnwering rule",
          "type": "string"
        },
        "type": {
          "description": "Type of an answering rule",
          "type": "string",
          "enum": [
            "BusinessHours",
            "AfterHours",
            "Custom"
          ]
        },
        "name": {
          "description": "Name of an answering rule specified by user",
          "type": "string"
        },
        "enabled": {
          "description": "Specifies if an answering rule is active or inactive",
          "type": "boolean"
        },
        "schedule": {
          "description": "Schedule when an answering rule should be applied",
          "$ref": "#/definitions/ScheduleInfo"
        },
        "calledNumbers": {
          "description": "Answering rules are applied when calling to selected number(s)",
          "items": {
            "$ref": "#/definitions/AnsweringRuleInfo.CalleeInfo"
          },
          "type": "array"
        },
        "callers": {
          "description": "Answering rules are applied when calls are received from specified caller(s)",
          "items": {
            "$ref": "#/definitions/AnsweringRuleInfo.CallerInfo"
          },
          "type": "array"
        },
        "callHandlingAction": {
          "description": "Specifies how incoming calls are forwarded",
          "type": "string",
          "enum": [
            "ForwardCalls",
            "TakeMessagesOnly",
            "PlayAnnouncementOnly",
            "UnconditionalForwarding"
          ]
        },
        "forwarding": {
          "description": "Forwarding parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These settings determine the forwarding numbers to which the call will be forwarded",
          "$ref": "#/definitions/ForwardingInfo"
        },
        "unconditionalForwarding": {
          "description": "Unconditional forwarding parameters. Returned if 'UnconditionalForwarding' is specified in 'callHandlingAction'",
          "$ref": "#/definitions/UnconditionalForwardingInfo"
        },
        "voicemail": {
          "description": "Specifies whether to take a voicemail and who should do it",
          "$ref": "#/definitions/VoicemailInfo"
        },
        "greetings": {
          "description": "Predefined greetings applied for an answering rule",
          "items": {
            "$ref": "#/definitions/GreetingInfo"
          },
          "type": "array"
        }
      }
    },
    "AnsweringRuleInfo.CalleeInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Called phone number",
          "type": "string"
        }
      }
    },
    "AnsweringRuleInfo.CallerInfo": {
      "type": "object",
      "properties": {
        "callerId": {
          "description": "Phone number of a caller",
          "type": "string"
        },
        "name": {
          "description": "Contact name of a caller",
          "type": "string"
        }
      }
    },
    "AttachmentInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Link to custom data attachment",
          "type": "string"
        },
        "contentType": {
          "description": "Type of custom data attachment, see also MIME Types",
          "type": "string"
        }
      }
    },
    "BillingInfo": {
      "type": "object",
      "properties": {
        "costIncluded": {
          "description": "Cost per minute used included in your RingCentral Plan",
          "type": "number"
        },
        "costPurchased": {
          "description": "Cost per minute used not included in your RingCentral Plan. for example International Calls",
          "type": "number"
        }
      }
    },
    "BillingPlanInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a billing plan",
          "type": "string"
        },
        "name": {
          "description": "Billing plan name",
          "type": "string"
        },
        "durationUnit": {
          "description": "Duration period",
          "type": "string",
          "enum": [
            "Month",
            "Day"
          ]
        },
        "duration": {
          "description": "Number of duration units",
          "type": "string"
        },
        "type": {
          "description": "Billing plan type",
          "type": "string",
          "enum": [
            "Initial",
            "Regular",
            "Suspended",
            "Trial",
            "TrialNoCC",
            "Free"
          ]
        }
      }
    },
    "Binary": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. Binary data.",
          "type": "string",
          "format": "binary"
        }
      }
    },
    "BlockedNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Standard resource properties ID and canonical URI, see the section called “Resource Identification Properties”",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a blocked number resource",
          "type": "string"
        },
        "name": {
          "description": "Name assigned by a user to a blocked phone number",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number to be blocked",
          "type": "string"
        }
      }
    },
    "BrandInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a brand",
          "type": "string"
        },
        "name": {
          "description": "Brand name, for example \"RingCentral UK\", \"ClearFax\"",
          "type": "string"
        },
        "homeCountry": {
          "description": "Home country information",
          "$ref": "#/definitions/CountryInfo"
        }
      }
    },
    "BusinessAddressInfo": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Name of a country",
          "type": "string"
        },
        "state": {
          "description": "Name of a state/province",
          "type": "string"
        },
        "city": {
          "description": "Name of a city",
          "type": "string"
        },
        "street": {
          "description": "Street address",
          "type": "string"
        },
        "zip": {
          "description": "Zip code",
          "type": "string"
        }
      }
    },
    "BusinessHour.ScheduleInfo": {
      "type": "object",
      "properties": {
        "weeklyRanges": {
          "description": "Weekly schedule",
          "$ref": "#/definitions/WeeklyScheduleInfo"
        }
      }
    },
    "CallLogInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a cal log record",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a call log record",
          "type": "string"
        },
        "sessionId": {
          "description": "Internal identifier of a call session",
          "type": "string"
        },
        "from": {
          "description": "Caller information",
          "$ref": "#/definitions/CallerInfo"
        },
        "to": {
          "description": "Callee information",
          "$ref": "#/definitions/CallerInfo"
        },
        "type": {
          "description": "Call type",
          "type": "string",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "direction": {
          "description": "Call direction",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "action": {
          "description": "Action description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "result": {
          "description": "Status description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "startTime": {
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "duration": {
          "description": "Call duration in seconds",
          "type": "integer"
        },
        "recording": {
          "description": "Call recording data. Returned if the call is recorded",
          "$ref": "#/definitions/RecordingInfo"
        }
      }
    },
    "CallLogRecord": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a cal log record",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a call log record",
          "type": "string"
        },
        "sessionId": {
          "description": "Internal identifier of a call session",
          "type": "string"
        },
        "from": {
          "description": "Caller information",
          "$ref": "#/definitions/CallerInfo"
        },
        "to": {
          "description": "Callee information",
          "$ref": "#/definitions/CallerInfo"
        },
        "message": {
          "description": "For Extension Call Log only. Voicemail message data",
          "$ref": "#/definitions/VoicemailMessageInfo"
        },
        "type": {
          "description": "Call type",
          "type": "string",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "direction": {
          "description": "Call direction",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "action": {
          "description": "Action description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "result": {
          "description": "Status description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "InProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "billing": {
          "description": "For 'Detailed' view only. Call billing information",
          "$ref": "#/definitions/BillingInfo"
        },
        "startTime": {
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "duration": {
          "description": "Call duration in seconds",
          "type": "integer"
        },
        "recording": {
          "description": "Call recording data. Returned if the call is recorded, the withRecording parameter is set to 'True' in this case",
          "$ref": "#/definitions/RecordingInfo"
        },
        "lastModifiedTime": {
          "description": "For 'Detailed' view only. The datetime when the call log record was modified in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "legs": {
          "description": "For 'Detailed' view only. Leg description",
          "items": {
            "$ref": "#/definitions/LegInfo"
          },
          "type": "array"
        }
      }
    },
    "CalledNumberInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Called phone number",
          "type": "string"
        }
      }
    },
    "CallerInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Phone number of a party. Usually it is a plain number including country and area code like 18661234567. But sometimes it could be returned from database with some formatting applied, for example (866)123-4567. This property is filled in all cases where parties communicate by means of global phone numbers, for example when calling to direct numbers or sending/receiving SMS",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Extension short number (usually 3 or 4 digits). This property is filled when parties communicate by means of short internal numbers, for example when calling to other extension or sending/receiving Company Pager message",
          "type": "string"
        },
        "location": {
          "description": "Contains party location (city, state) if one can be determined from phoneNumber. This property is filled only when phoneNumber is not empty and server can calculate location information from it (for example, this information is unavailable for US toll-free numbers)",
          "type": "string"
        },
        "name": {
          "description": "Symbolic name associated with a party. If the phone does not belong to the known extension, only the location is returned, the name is not determined then",
          "type": "string"
        }
      }
    },
    "CallersInfo": {
      "type": "object",
      "properties": {
        "callerId": {
          "description": "Phone number of a caller",
          "type": "string"
        },
        "name": {
          "description": "Contact name of a caller",
          "type": "string"
        }
      }
    },
    "Conferencing.Request.PhoneNumber": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Dial-in phone number to connect to a conference",
          "type": "string"
        },
        "default": {
          "description": "'True' if the number is default for the conference. Default conference number is a domestic number that can be set by user (otherwise it is set by the system). Only one default number per country is allowed",
          "type": "boolean"
        }
      }
    },
    "ConferencingInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a conferencing",
          "type": "string"
        },
        "allowJoinBeforeHost": {
          "description": "Determines if host user allows conference participants to join before the host",
          "type": "boolean"
        },
        "hostCode": {
          "description": "Access code for a host user",
          "type": "string"
        },
        "mode": {
          "description": "Internal parameter specifying conferencing engine",
          "type": "string"
        },
        "participantCode": {
          "description": "Access code for any participant",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Primary conference phone number for user's home country returned in E.164 (11-digits) format",
          "type": "string"
        },
        "tapToJoinUri": {
          "description": "Short URL leading to the service web page Tap to Join for audio conference bridge",
          "type": "string"
        },
        "phoneNumbers": {
          "description": "List of multiple dial-in phone numbers to connect to audio conference service, relevant for user's brand. Each number is given with the country and location information, in order to let the user choose the less expensive way to connect to a conference. The first number in the list is the primary conference number, that is default and domestic",
          "items": {
            "$ref": "#/definitions/ConferencingInfo.PhoneNumberInfo"
          },
          "type": "array"
        }
      }
    },
    "ConferencingInfo.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Information on a home country of a conference phone number",
          "$ref": "#/definitions/ConferencingInfo.PhoneNumberInfo.CountryInfo"
        },
        "default": {
          "description": "'True' if the number is default for the conference. Default conference number is a domestic number that can be set by user (otherwise it is set by the system). Only one default number per country is allowed",
          "type": "boolean"
        },
        "hasGreeting": {
          "description": "'True' if the greeting message is played on this number",
          "type": "boolean"
        },
        "location": {
          "description": "Location (city, region, state) of a conference phone number",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Dial-in phone number to connect to a conference",
          "type": "string"
        }
      }
    },
    "ConferencingInfo.PhoneNumberInfo.CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a country",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a country",
          "type": "string"
        },
        "callingCode": {
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes",
          "type": "string"
        },
        "emergencyCalling": {
          "description": "Emergency calling feature availability/emergency address requirement indicator",
          "type": "boolean"
        },
        "isoCode": {
          "description": "Country code according to the ISO standard, see ISO 3166",
          "type": "string"
        },
        "name": {
          "description": "Official name of a country",
          "type": "string"
        }
      }
    },
    "ContactAddressInfo": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Country name of extension user company. Not returned for Address Book",
          "type": "string"
        },
        "state": {
          "description": "State/province name of extension user company",
          "type": "string"
        },
        "city": {
          "description": "City name of extension user company",
          "type": "string"
        },
        "street": {
          "description": "Street address of extension user company",
          "type": "string"
        },
        "zip": {
          "description": "Zip code of extension user company",
          "type": "string"
        }
      }
    },
    "ContactInfo": {
      "type": "object",
      "properties": {
        "firstName": {
          "description": "For User extension type only. Extension user first name",
          "type": "string"
        },
        "lastName": {
          "description": "For User extension type only. Extension user last name",
          "type": "string"
        },
        "company": {
          "description": "Extension user company name",
          "type": "string"
        },
        "email": {
          "description": "Email of extension user",
          "type": "string"
        },
        "businessPhone": {
          "description": "Extension user contact phone number",
          "type": "string"
        },
        "businessAddress": {
          "description": "Business address of extension user company",
          "$ref": "#/definitions/ContactAddressInfo"
        }
      }
    },
    "CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a home country",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a home country",
          "type": "string"
        },
        "name": {
          "description": "Official name of a home country",
          "type": "string"
        }
      }
    },
    "CustomGreetingInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Link to an extension custom greeting",
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of an answering rule",
          "type": "string"
        },
        "type": {
          "description": "Type of a greeting, specifying the case when the greeting is played. See also Greeting Types",
          "type": "string",
          "enum": [
            "Introductory",
            "Announcement",
            "ConnectingMessage",
            "ConnectingAudio",
            "Voicemail",
            "Unavailable"
          ]
        },
        "contentType": {
          "description": "Content media type in WAV/MP3 format",
          "type": "string"
        },
        "contentUri": {
          "description": "Link to a greeting content (audio file)",
          "type": "string"
        }
      }
    },
    "CustomGreetingInfo.AnsweringRuleInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an answering rule",
          "type": "string"
        }
      }
    },
    "DeliveryMode": {
      "type": "object",
      "properties": {
        "transportType": {
          "description": "Notifications transportation provider name. 'APNS' (Apple Push Notifications Service)",
          "type": "string",
          "enum": [
            "PubNub",
            "APNS",
            "PubNub/APNS/VoIP"
          ]
        },
        "encryption": {
          "description": "Optional parameter. Specifies if the message will be encrypted or not. For APNS transport type the value is always \"false\"",
          "type": "boolean"
        },
        "address": {
          "description": "PubNub channel name. For APNS transport type - internal identifier of a device \"device_token\"",
          "type": "string"
        },
        "subscriberKey": {
          "description": "PubNub subscriber credentials required to subscribe to the channel",
          "type": "string"
        },
        "secretKey": {
          "description": "PubNub subscriber credentials required to subscribe to the channel. Optional (for PubNub transport type only)",
          "type": "string"
        },
        "encryptionAlgorithm": {
          "description": "Encryption algorithm 'AES' (for PubNub transport type only)",
          "type": "string"
        },
        "encryptionKey": {
          "description": "Key for notification message decryption (for PubNub transport type only)",
          "type": "string"
        }
      }
    },
    "Department.Response.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an extension",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of department extension",
          "type": "string"
        },
        "partnerId": {
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension",
          "type": "string"
        }
      }
    },
    "DepartmentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a department extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a department extension",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of a department extension",
          "type": "string"
        }
      }
    },
    "DetailedPresenceEvent": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Internal identifier of an extension. Optional parameter",
          "type": "string"
        },
        "telephonyStatus": {
          "description": "Telephony presence status. Returned if telephony status is changed. See Telephony Status Values",
          "type": "string",
          "enum": [
            "NoCall",
            "CallConnected",
            "Ringing",
            "OnHold",
            "ParkedCall"
          ]
        },
        "terminationType": {
          "description": "Type of call termination. Supported for calls in 'NoCall' status. If the returned termination type is 'Intermediate' it means the call is not actually ended, the connection is established on one of the devices",
          "type": "string",
          "enum": [
            "final",
            "intermediate"
          ]
        },
        "activeCalls": {
          "description": "Collection of Active Call Info",
          "items": {
            "$ref": "#/definitions/DetailedPresenceEvent.ActiveCallInfo"
          },
          "type": "array"
        },
        "sequence": {
          "description": "Order number of a notification to state the chronology",
          "type": "integer"
        },
        "presenceStatus": {
          "description": "Aggregated presence status, calculated from a number of sources",
          "type": "string",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        },
        "userStatus": {
          "description": "User-defined presence status (as previously published by the user)",
          "type": "string",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        },
        "dndStatus": {
          "description": "Extended DnD (Do not Disturb) status",
          "type": "string",
          "enum": [
            "TakeAllCalls",
            "DoNotAcceptAnyCalls",
            "DoNotAcceptDepartmentCalls",
            "TakeDepartmentCallsOnly"
          ]
        },
        "allowSeeMyPresence": {
          "description": "If 'True' enables other extensions to see the extension presence status",
          "type": "boolean"
        },
        "ringOnMonitoredCall": {
          "description": "If 'True' enables to ring extension phone, if any user monitored by this extension is ringing",
          "type": "boolean"
        },
        "pickUpCallsOnHold": {
          "description": "If 'True' enables the extension user to pick up a monitored line on hold",
          "type": "boolean"
        }
      }
    },
    "DetailedPresenceEvent.ActiveCallInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a call",
          "type": "string"
        },
        "direction": {
          "description": "Call direction",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "from": {
          "description": "Phone number or extension number of a caller",
          "type": "string"
        },
        "to": {
          "description": "Phone number or extension number of a callee",
          "type": "string"
        },
        "telephonyStatus": {
          "description": "Telephony call status. See Telephony Status Values for detailed status description",
          "type": "string",
          "enum": [
            "NoCall",
            "CallConnected",
            "Ringing",
            "OnHold",
            "ParkedCall"
          ]
        },
        "sessionId": {
          "description": "Internal identifier of a call session",
          "type": "string"
        },
        "terminationType": {
          "description": "Type of call termination. Supported for calls in 'NoCall' status. If the returned termination type is 'Intermediate' it means the call is not actually ended, the connection is established on one of the devices",
          "type": "string",
          "enum": [
            "Final",
            "Intermediate"
          ]
        }
      }
    },
    "DetailedPresenceNotification": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "The datetime of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "body": {
          "description": "Notification payload body",
          "$ref": "#/definitions/DetailedPresenceEvent"
        }
      }
    },
    "DetailedPresenceWithSIPNotification": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "The datetime of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "body": {
          "description": "Notification payload body",
          "$ref": "#/definitions/DetailedPresencewithSIPEvent"
        }
      }
    },
    "DetailedPresencewithSIPEvent": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Internal identifier of an extension. Optional parameter",
          "type": "string"
        },
        "telephonyStatus": {
          "description": "Telephony presence status. Returned if telephony status is changed. See Telephony Status Values",
          "type": "string",
          "enum": [
            "NoCall",
            "CallConnected",
            "Ringing",
            "OnHold",
            "ParkedCall"
          ]
        },
        "terminationType": {
          "description": "Type of call termination. Supported for calls in 'NoCall' status. If the returned termination type is 'Intermediate' it means the call is not actually ended, the connection is established on one of the devices",
          "type": "string",
          "enum": [
            "Final",
            "Intermediate"
          ]
        },
        "activeCalls": {
          "description": "Information on active calls",
          "items": {
            "$ref": "#/definitions/DetailedPresencewithSIPEvent.ActiveCallInfo"
          },
          "type": "array"
        },
        "sequence": {
          "description": "Order number of a notification to state the chronology",
          "type": "integer"
        },
        "presenceStatus": {
          "description": "Aggregated presence status, calculated from a number of sources",
          "type": "string",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        },
        "userStatus": {
          "description": "User-defined presence status (as previously published by the user)",
          "type": "string",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        },
        "dndStatus": {
          "description": "Extended DnD (Do not Disturb) status",
          "type": "string",
          "enum": [
            "TakeAllCalls",
            "DoNotAcceptAnyCalls",
            "DoNotAcceptDepartmentCalls",
            "TakeDepartmentCallsOnly"
          ]
        },
        "allowSeeMyPresence": {
          "description": "If 'True' enables other extensions to see the extension presence status",
          "type": "boolean"
        },
        "ringOnMonitoredCall": {
          "description": "If 'True' enables to ring extension phone, if any user monitored by this extension is ringing",
          "type": "boolean"
        },
        "pickUpCallsOnHold": {
          "description": "If 'True' enables the extension user to pick up a monitored line on hold",
          "type": "boolean"
        }
      }
    },
    "DetailedPresencewithSIPEvent.ActiveCallInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a call",
          "type": "string"
        },
        "direction": {
          "description": "Call direction",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "from": {
          "description": "Phone number or extension number of a caller",
          "type": "string"
        },
        "to": {
          "description": "Phone number or extension number of a callee",
          "type": "string"
        },
        "telephonyStatus": {
          "description": "Telephony call status. See Telephony Status Values for detailed status description",
          "type": "string",
          "enum": [
            "NoCall",
            "CallConnected",
            "Ringing",
            "OnHold",
            "ParkedCall"
          ]
        },
        "sessionId": {
          "description": "Internal identifier of a call session",
          "type": "string"
        },
        "sipData": {
          "description": "SIP connection settings",
          "$ref": "#/definitions/SIPData"
        }
      }
    },
    "DeviceInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a device",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a device",
          "type": "string"
        },
        "sku": {
          "description": "Device identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP is device type (HP for RC HardPhone, DV for all other devices including softphone); ID - device model ID; AT -addon type ID; AC - addon count (if any). For example 'HP-56-2-2'",
          "type": "string"
        },
        "type": {
          "description": "Device type. The default value is 'HardPhone'",
          "type": "string",
          "enum": [
            "SoftPhone",
            "OtherPhone",
            "HardPhone"
          ]
        },
        "name": {
          "description": "Device name. Mandatory if ordering \"SoftPhone\" or \"OtherPhone\". Optional for \"HardPhone\". If not specified for HardPhone, then device \"model\" name is used as device \"name\"",
          "type": "string"
        },
        "serial": {
          "description": "Serial number for HardPhone (is returned only when the phone is shipped and provisioned); endpoint_id for softphone and mobile applications",
          "type": "string"
        },
        "computerName": {
          "description": "PC name for softphone",
          "type": "string"
        },
        "model": {
          "description": "HardPhone model information",
          "$ref": "#/definitions/ModelInfo"
        },
        "extension": {
          "description": "This attribute can be omitted for unassigned devices",
          "$ref": "#/definitions/DeviceInfo.ExtensionInfo"
        },
        "emergencyServiceAddress": {
          "description": "Address for emergency cases. The same emergency address is assigned to all the numbers of one device",
          "$ref": "#/definitions/EmergencyAddressInfo"
        },
        "phoneLines": {
          "description": "Phone lines information",
          "$ref": "#/definitions/PhoneLinesInfo"
        },
        "shipping": {
          "description": "Shipping information, according to which devices (in case of \"HardPhone\") or e911 stickers (in case of \"SoftPhone\" and \"OtherPhone\") will be delivered to the customer",
          "$ref": "#/definitions/ShippingInfo"
        },
        "boxBillingId": {
          "description": "Box billing identifier of a device. Applicable only for HardPhones. It is an alternative way to identify the device to be ordered. Either \"model\" structure, or \"boxBillingId\" must be specified for HardPhone",
          "type": "integer"
        }
      }
    },
    "DeviceInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an extension",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Number of department extension",
          "type": "string"
        },
        "partnerId": {
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension",
          "type": "string"
        }
      }
    },
    "DialInNumbers": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Phone number of the dial-in number for the meeting in e.164 format",
          "type": "string"
        },
        "formattedNumber": {
          "description": "Phone number of the dial-in number formatted according to the extension home country",
          "type": "string"
        },
        "location": {
          "description": "Optional field in case the dial-in number is associated with a particular location",
          "type": "string"
        },
        "country": {
          "description": "Country resource corresponding to the dial-in number",
          "$ref": "#/definitions/DialInNumbers.CountryInfo"
        }
      }
    },
    "DialInNumbers.CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a country",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a country",
          "type": "string"
        },
        "callingCode": {
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes",
          "type": "string"
        },
        "isoCode": {
          "description": "Country code according to the ISO standard, see ISO 3166",
          "type": "string"
        },
        "name": {
          "description": "Official name of a country",
          "type": "string"
        }
      }
    },
    "DialingPlanCountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a country",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a country",
          "type": "string"
        },
        "callingCode": {
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes",
          "type": "string"
        },
        "isoCode": {
          "description": "Country code according to the ISO standard, see ISO 3166",
          "type": "string"
        },
        "name": {
          "description": "Official name of a country",
          "type": "string"
        }
      }
    },
    "EmergencyAddressInfo": {
      "type": "object",
      "properties": {
        "customerName": {
          "description": "Name of a customer",
          "type": "string"
        },
        "street": {
          "description": "Street address, line 1 - street address, P.O. box, company name, c/o",
          "type": "string"
        },
        "street2": {
          "description": "Street address, line 2 - apartment, suite, unit, building, floor, etc.",
          "type": "string"
        },
        "city": {
          "description": "City name",
          "type": "string"
        },
        "state": {
          "description": "State/province name",
          "type": "string"
        },
        "zip": {
          "description": "Zip code",
          "type": "string"
        },
        "country": {
          "description": "Country name",
          "type": "string"
        }
      }
    },
    "ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an extension",
          "type": "string"
        },
        "contact": {
          "description": "Contact detailed information",
          "$ref": "#/definitions/ContactInfo"
        },
        "departments": {
          "description": "Information on department extension(s), to which the requested extension belongs. Returned only for user extensions, members of department, requested by single extensionId",
          "items": {
            "$ref": "#/definitions/DepartmentInfo"
          },
          "type": "array"
        },
        "extensionNumber": {
          "description": "Number of department extension",
          "type": "string"
        },
        "name": {
          "description": "Extension user name",
          "type": "string"
        },
        "partnerId": {
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension",
          "type": "string"
        },
        "permissions": {
          "description": "Extension permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'",
          "$ref": "#/definitions/ExtensionPermissions"
        },
        "profileImage": {
          "description": "Information on profile image",
          "$ref": "#/definitions/ProfileImageInfo"
        },
        "references": {
          "description": "List of non-RC internal identifiers assigned to an extension",
          "items": {
            "$ref": "#/definitions/ReferenceInfo"
          },
          "type": "array"
        },
        "regionalSettings": {
          "description": "Extension region data (timezone, home country, language)",
          "$ref": "#/definitions/RegionalSettings"
        },
        "serviceFeatures": {
          "description": "Extension service features returned in response only when the logged-in user requests his/her own extension info, see also Extension Service Features",
          "items": {
            "$ref": "#/definitions/ExtensionServiceFeatureInfo"
          },
          "type": "array"
        },
        "setupWizardState": {
          "description": "Specifies extension configuration wizard state (web service setup). The default value is 'NotStarted'",
          "type": "string",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "status": {
          "description": "Extension current state. If the status is 'Unassigned'. Returned for all extensions",
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled",
            "NotActivated",
            "Unassigned"
          ]
        },
        "statusInfo": {
          "description": "Status information (reason, comment). Returned for 'Disabled' status only",
          "$ref": "#/definitions/StatusInfo"
        },
        "type": {
          "description": "Extension type",
          "type": "string",
          "enum": [
            "User",
            "FaxUser",
            "VirtualUser",
            "DigitalUser",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnlyGroup",
            "IvrMenu",
            "ApplicationExtension",
            "ParkLocation"
          ]
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo": {
      "type": "object",
      "properties": {
        "contact": {
          "description": "Contact information",
          "$ref": "#/definitions/ContactInfo"
        },
        "regionalSettings": {
          "description": "Region data (timezone, home country, language)",
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings"
        },
        "setupWizardState": {
          "description": "Specifies extension configuration wizard state (web service setup). The default value is 'NotStarted'",
          "type": "string",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "department": {
          "description": "Extension user department",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings": {
      "type": "object",
      "properties": {
        "timezone": {
          "description": "Timezone data",
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone"
        },
        "language": {
          "description": "User interface language data",
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Language"
        },
        "greetingLanguage": {
          "description": "Information on language used for telephony greetings",
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage"
        },
        "formattingLocale": {
          "description": "Formatting language preferences for numbers, dates and currencies",
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a formatting language",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a greeting language",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.Language": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Language identifier. The default value is \"1033\" (English US)",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Timezone identifier. The default value is \"58\" (US&Canada)",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.PartnerId": {
      "type": "object",
      "properties": {
        "partnerId": {
          "description": "Extension partner identifier",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.PasswordPIN": {
      "type": "object",
      "properties": {
        "password": {
          "description": "Password for extension",
          "type": "string"
        },
        "ivrPin": {
          "description": "IVR PIN",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.Provision": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Mandatory. Resulting extension status",
          "type": "string",
          "enum": [
            "NotActivated"
          ]
        },
        "contact": {
          "description": "Mandatory. Extension user contact information",
          "$ref": "#/definitions/ExtensionInfo.Request.Provision.ContactInfo"
        }
      }
    },
    "ExtensionInfo.Request.Provision.ContactInfo": {
      "type": "object",
      "properties": {
        "firstName": {
          "description": "Mandatory. Extension user first name",
          "type": "string"
        },
        "lastName": {
          "description": "Mandatory. Extension user last name",
          "type": "string"
        },
        "email": {
          "description": "Mandatory. Extension user contact email",
          "type": "string"
        }
      }
    },
    "ExtensionInfo.Request.StatusInfo": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Required extension status",
          "type": "string",
          "enum": [
            "Disabled",
            "Enabled",
            "NotActivated"
          ]
        },
        "statusInfo": {
          "description": "Extension status information, only for the 'Disabled' status",
          "$ref": "#/definitions/StatusInfo"
        }
      }
    },
    "ExtensionInfoEvent": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "eventType": {
          "description": "Type of extension info change",
          "type": "string",
          "enum": [
            "Update",
            "Delete"
          ]
        }
      }
    },
    "ExtensionInfoNotification": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "Datetime of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "body": {
          "description": "Notification payload body",
          "$ref": "#/definitions/ExtensionInfoEvent"
        }
      }
    },
    "ExtensionListEvent": {
      "type": "object",
      "properties": {
        "extensionId": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "eventType": {
          "description": "Type of extension info change",
          "type": "string",
          "enum": [
            "Create",
            "Update",
            "Delete"
          ]
        }
      }
    },
    "ExtensionListNotification": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "Datetime of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "body": {
          "description": "Notification payload body",
          "$ref": "#/definitions/ExtensionListEvent"
        }
      }
    },
    "ExtensionPermissions": {
      "type": "object",
      "properties": {
        "admin": {
          "description": "Admin permission",
          "$ref": "#/definitions/PermissionInfo"
        },
        "internationalCalling": {
          "description": "International Calling permission",
          "$ref": "#/definitions/PermissionInfo"
        }
      }
    },
    "ExtensionServiceFeatureInfo": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Feature status; shows feature availability for an extension",
          "type": "boolean"
        },
        "featureName": {
          "description": "Feature name, see all available values in Service Feature List",
          "type": "string"
        },
        "reason": {
          "description": "Reason of limitation for a particular service feature. Returned only if the enabled parameter value is 'False', see Service Feature Limitations and Reasons. When retrieving service features for an extension, the reasons for the limitations, if any, are returned in response",
          "type": "string"
        }
      }
    },
    "ExternalUserInfo": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "User type of a meeting account",
          "type": "string"
        },
        "userId": {
          "description": "Meeting account user identifier",
          "type": "string"
        },
        "userToken": {
          "description": "Meeting account user token",
          "type": "string"
        },
        "userType": {
          "description": "Meeting account user type",
          "type": "integer"
        }
      }
    },
    "FormattingLocaleInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a formatting language",
          "type": "string"
        },
        "localeCode": {
          "description": "Localization code of a formatting language",
          "type": "string"
        },
        "name": {
          "description": "Official name of a formatting language",
          "type": "string"
        }
      }
    },
    "ForwardingInfo": {
      "type": "object",
      "properties": {
        "notifyMySoftPhones": {
          "description": "Specifies if the user's softphone(s) are notified before forwarding the incoming call to desk phones and forwarding numbers",
          "type": "boolean"
        },
        "notifyAdminSoftPhones": {
          "description": "Specifies if the administrator's softphone is notified before forwarding the incoming call to desk phones and forwarding numbers. The default value is 'False'",
          "type": "boolean"
        },
        "softPhonesRingCount": {
          "description": "Number of rings before forwarding starts",
          "type": "integer"
        },
        "ringingMode": {
          "description": "Specifies the order in which forwarding numbers ring. 'Sequentially' means that forwarding numbers are ringing one at a time, in order of priority. 'Simultaneously' means that forwarding numbers are ring all at the same time",
          "type": "string",
          "enum": [
            "Sequentially",
            "Simultaneously"
          ]
        },
        "rules": {
          "description": "Information on a call forwarding rule",
          "items": {
            "$ref": "#/definitions/RuleInfo"
          },
          "type": "array"
        }
      }
    },
    "ForwardingNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a forwarding/call flip phone number",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a forwarding/call flip phone number",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Forwarding/Call flip phone number",
          "type": "string"
        },
        "label": {
          "description": "Forwarding/Call flip number title",
          "type": "string"
        },
        "features": {
          "description": "Type of option this phone number is used for. Multiple values are accepted",
          "type": "string",
          "enum": [
            "CallFlip",
            "CallForwarding"
          ]
        },
        "flipNumber": {
          "description": "Number assigned to the call flip phone number, corresponds to the shortcut dial number",
          "type": "integer"
        }
      }
    },
    "FullCountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a country",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a country",
          "type": "string"
        },
        "callingCode": {
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes",
          "type": "string"
        },
        "emergencyCalling": {
          "description": "Emergency calling feature availability/emergency address requirement indicator",
          "type": "boolean"
        },
        "isoCode": {
          "description": "Country code according to the ISO standard, see ISO 3166",
          "type": "string"
        },
        "name": {
          "description": "Official name of a country",
          "type": "string"
        },
        "numberSelling": {
          "description": "Determines whether phone numbers are available for a country",
          "type": "boolean"
        },
        "loginAllowed": {
          "description": "Specifies whether login with the phone numbers of this country is enabled or not",
          "type": "boolean"
        }
      }
    },
    "GlipGroupInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a group",
          "type": "string"
        },
        "type": {
          "description": "Type of a group. 'PrivateChat' is a group of 2 members. 'Group' is a chat of 2 and more participants, the membership cannot be changed after group creation. 'Team' is a chat of 1 and more participants, the membership can be modified in future",
          "type": "string",
          "enum": [
            "PrivateChat",
            "Group",
            "Team"
          ]
        },
        "isPublic": {
          "description": "For 'Team' group type only. Team access level",
          "type": "boolean"
        },
        "name": {
          "description": "For 'Team' group type only. Team name",
          "type": "string"
        },
        "description": {
          "description": "For 'Team' group type only. Team description",
          "type": "string"
        },
        "members": {
          "description": "Identifier(s) of group members",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "Group creation datetime in ISO 8601 format",
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Group last change datetime in ISO 8601 format",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GlipNavigationInfo": {
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "Previous page token. To get previous page, user should pass one of returned token in next request and, in turn, required page will be returned with new tokens",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Next page token. To get next page, user should pass one of returned token in next request and, in turn, required page will be returned with new tokens",
          "type": "string"
        }
      }
    },
    "GlipPostInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a post",
          "type": "string"
        },
        "groupId": {
          "description": "Internal identifier of a group a post belongs to",
          "type": "string"
        },
        "type": {
          "description": "Type of a post",
          "type": "string",
          "enum": [
            "TextMessage",
            "PersonJoined",
            "PersonsAdded"
          ]
        },
        "text": {
          "description": "For 'TextMessage' post type only. Message text",
          "type": "string"
        },
        "creatorId": {
          "description": "Internal identifier of a user - author of a post",
          "type": "string"
        },
        "addedPersonIds": {
          "description": "For PersonsAdded post type only. Identifiers of persons added to a group",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "description": "Post creation datetime in ISO 8601 format",
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "Post last modification datetime in ISO 8601 format",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GrantInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a grant",
          "type": "string"
        },
        "extension": {
          "description": "Extension information",
          "$ref": "#/definitions/GrantInfo.ExtensionInfo"
        },
        "callPickup": {
          "description": "Specifies if picking up of other extensions' calls is allowed for the extension. If 'Presence' feature is disabled for the given extension, the flag is not returned",
          "type": "boolean"
        },
        "callMonitoring": {
          "description": "Specifies if monitoring of other extensions' calls is allowed for the extension. If 'CallMonitoring' feature is disabled for the given extension, the flag is not returned",
          "type": "boolean"
        }
      }
    },
    "GrantInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an extension",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Extension short number (usually 3 or 4 digits)",
          "type": "string"
        },
        "type": {
          "description": "Extension type",
          "type": "string",
          "enum": [
            "User",
            "Fax User",
            "VirtualUser",
            "DigitalUser",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnly",
            "IvrMenu",
            "ApplicationExtension",
            "Park Location"
          ]
        }
      }
    },
    "GreetingInfo": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of a greeting, specifying the case when the greeting is played. See also Greeting Types",
          "type": "string",
          "enum": [
            "Introductory",
            "Announcement",
            "ConnectingMessage",
            "ConnectingAudio",
            "Voicemail",
            "Unavailable"
          ]
        },
        "preset": {
          "description": "Predefined greeting information",
          "$ref": "#/definitions/PresetInfo"
        }
      }
    },
    "GreetingLanguageInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a greeting language",
          "type": "string"
        },
        "localeCode": {
          "description": "Localization code of a greeting language",
          "type": "string"
        },
        "name": {
          "description": "Official name of a greeting language",
          "type": "string"
        }
      }
    },
    "GroupInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a group",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a group",
          "type": "string"
        },
        "contactsCount": {
          "description": "Amount of contacts in a group",
          "type": "integer"
        },
        "groupName": {
          "description": "Name of a group",
          "type": "string"
        },
        "notes": {
          "description": "Notes for a group",
          "type": "string"
        }
      }
    },
    "ImageUri": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Link to an image.",
          "type": "string"
        }
      }
    },
    "IncomingCallNotification": {
      "type": "object",
      "properties": {
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "The datetime of a call action in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "extensionId": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "action": {
          "description": "Calling action, for example 'StartRing'",
          "type": "string"
        },
        "sessionId": {
          "description": "Identifier of a call session",
          "type": "string"
        },
        "serverId": {
          "description": "Identifier of a server",
          "type": "string"
        },
        "from": {
          "description": "Phone number of a caller",
          "type": "string"
        },
        "fromName": {
          "description": "Caller name",
          "type": "string"
        },
        "to": {
          "description": "Phone number of a callee",
          "type": "string"
        },
        "toName": {
          "description": "Callee name",
          "type": "string"
        },
        "sid": {
          "description": "Unique identifier of a session",
          "type": "string"
        },
        "toUrl": {
          "description": "SIP proxy registration name",
          "type": "string"
        },
        "srvLvl": {
          "description": "User data",
          "type": "string"
        },
        "srvLvlExt": {
          "description": "User data",
          "type": "string"
        },
        "recUrl": {
          "description": "File containing recorded caller name",
          "type": "string"
        }
      }
    },
    "InstantMessageAttachmentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a message attachment",
          "type": "string"
        },
        "type": {
          "description": "Type of a message attachment. The default value is 'Text'",
          "type": "string"
        },
        "contentType": {
          "description": "Content type of an attachment, see also MIME Types. The default value is 'text/plain'",
          "type": "string"
        }
      }
    },
    "InstantMessageEvent": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a message",
          "type": "string"
        },
        "to": {
          "description": "Message receiver(s) information",
          "items": {
            "$ref": "#/definitions/InstantMessageEvent.CallerInfo"
          },
          "type": "array"
        },
        "from": {
          "description": "Message sender information",
          "$ref": "#/definitions/InstantMessageEvent.CallerInfo"
        },
        "type": {
          "description": "Type of a message. The default value is 'SMS'",
          "type": "string"
        },
        "creationTime": {
          "description": "Message creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedTime": {
          "description": "The datetime when the message was modified in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "readStatus": {
          "description": "Status of a message. The default value is 'Unread'",
          "type": "string"
        },
        "priority": {
          "description": "The default value is 'Normal'",
          "type": "string"
        },
        "attachments": {
          "description": "Message attachment data",
          "items": {
            "$ref": "#/definitions/InstantMessageAttachmentInfo"
          },
          "type": "array"
        },
        "direction": {
          "description": "Message direction. The default value is 'Inbound'",
          "type": "string"
        },
        "availability": {
          "description": "Message availability status. The default value is 'Alive'",
          "type": "string"
        },
        "subject": {
          "description": "Message subject. It replicates message text which is also returned as an attachment",
          "type": "string"
        },
        "messageStatus": {
          "description": "Status of a message. The default value is 'Received'",
          "type": "string"
        },
        "conversationId": {
          "description": "Identifier of the conversation the message belongs to",
          "type": "string"
        }
      }
    },
    "InstantMessageEvent.CallerInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Phone number in E.164 (with '+' sign) format",
          "type": "string"
        },
        "extensionNumber": {
          "description": "Extension number",
          "type": "string"
        },
        "location": {
          "description": "Contains party location (city, state) if one can be determined from phoneNumber. This property is filled only when phoneNumber is not empty and server can calculate location information from it (for example, this information is unavailable for US toll-free numbers)",
          "type": "string"
        },
        "name": {
          "description": "Symbolic name associated with a caller/callee. If the phone does not belong to the known extension, only the location is returned, the name is not determined then",
          "type": "string"
        }
      }
    },
    "InstantMessageNotification": {
      "type": "object",
      "properties": {
        "uuid": {
          "description": "Universally unique identifier of a notification",
          "type": "string"
        },
        "event": {
          "description": "Event filter URI",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Internal identifier of a subscription",
          "type": "string"
        },
        "timestamp": {
          "description": "Datetime of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "body": {
          "description": "Notification payload body",
          "$ref": "#/definitions/InstantMessageEvent"
        }
      }
    },
    "LanguageInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a language",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a language",
          "type": "string"
        },
        "greeting": {
          "description": "Indicates whether a language is available as greeting language",
          "type": "boolean"
        },
        "formattingLocale": {
          "description": "Indicates whether a language is available as formatting locale",
          "type": "boolean"
        },
        "localeCode": {
          "description": "Localization code of a language",
          "type": "string"
        },
        "name": {
          "description": "Official name of a language",
          "type": "string"
        },
        "ui": {
          "description": "Indicates whether a language is available as UI language",
          "type": "boolean"
        }
      }
    },
    "LegInfo": {
      "type": "object",
      "properties": {
        "action": {
          "description": "Action description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "direction": {
          "description": "Call direction",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "duration": {
          "description": "Call duration in seconds",
          "type": "integer"
        },
        "extension": {
          "description": "Information on extension",
          "$ref": "#/definitions/LegInfo.ExtensionInfo"
        },
        "legType": {
          "description": "Leg type",
          "type": "string"
        },
        "startTime": {
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "description": "Call type",
          "type": "string",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "result": {
          "description": "Status description of the call operation",
          "type": "string",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "from": {
          "description": "Caller information",
          "$ref": "#/definitions/CallerInfo"
        },
        "to": {
          "description": "Callee information",
          "$ref": "#/definitions/CallerInfo"
        },
        "transport": {
          "description": "Call transport",
          "type": "string",
          "enum": [
            "PSTN",
            "VoIP"
          ]
        },
        "recording": {
          "description": "Call recording data. Returned if the call is recorded",
          "$ref": "#/definitions/RecordingInfo"
        }
      }
    },
    "LegInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of an extension",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of an extension",
          "type": "string"
        }
      }
    },
    "LinksInfo": {
      "type": "object",
      "properties": {
        "startUri": {
          "description": "Link to start a meeting",
          "type": "string"
        },
        "joinUri": {
          "description": "Link to join a meeting",
          "type": "string"
        }
      }
    },
    "LocationInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a location",
          "type": "string"
        },
        "areaCode": {
          "description": "Area code of the location",
          "type": "string"
        },
        "city": {
          "description": "Official name of the city, belonging to the certain state",
          "type": "string"
        },
        "npa": {
          "description": "Area code of the location (3-digit usually), according to the NANP number format, that can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea, and some Atlantic and Pacific islands. See for details North American Numbering Plan",
          "type": "string"
        },
        "nxx": {
          "description": "Central office code of the location, according to the NANP number format, that can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea, and some Atlantic and Pacific islands. See for details North American Numbering Plan",
          "type": "string"
        },
        "state": {
          "description": "ID and URI of the state this location belongs to, see State Info",
          "type": "string"
        }
      }
    },
    "LookUpPhoneNumber.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Phone number in E.164 format without a '+'",
          "type": "string"
        },
        "formattedNumber": {
          "description": "Phone number formatted according to current brand's default country",
          "type": "string"
        },
        "vanityPattern": {
          "description": "Vanity pattern for this number. Returned only when vanity search option is requested. Vanity pattern corresponds to request parameters nxx plus line or numberPattern",
          "type": "string"
        },
        "rank": {
          "description": "The value is returned if the extendedSearch parameter is true. '10' is the closest match",
          "type": "integer"
        }
      }
    },
    "MeetingInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a meeting resource",
          "type": "string"
        },
        "id": {
          "description": "Internal identifier of a meeting as retrieved from Zoom",
          "type": "string"
        },
        "topic": {
          "description": "Topic of a meeting",
          "type": "string"
        },
        "meetingType": {
          "description": "Type of a meeting",
          "type": "string",
          "enum": [
            "Scheduled",
            "Instant",
            "Recurring"
          ]
        },
        "password": {
          "description": "Password required to join a meeting",
          "type": "string"
        },
        "status": {
          "description": "Current status of a meeting",
          "type": "string",
          "enum": [
            "NotStarted",
            "Started"
          ]
        },
        "links": {
          "description": "Links to start/join the meeting",
          "$ref": "#/definitions/LinksInfo"
        },
        "schedule": {
          "description": "Schedule of a meeting",
          "$ref": "#/definitions/MeetingScheduleInfo"
        },
        "allowJoinBeforeHost": {
          "description": "If 'True' then the meeting can be joined and started by any participant (not host only). Supported for the meetings of 'Scheduled' and 'Recurring' type.",
          "type": "boolean"
        },
        "startHostVideo": {
          "description": "Enables starting video when host joins the meeting",
          "type": "boolean"
        },
        "startParticipantsVideo": {
          "description": "Enables starting video when participants join the meeting",
          "type": "boolean"
        },
        "audioOptions": {
          "description": "Meeting audio options. Possible values are 'Phone', 'ComputerAudio'",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MeetingScheduleInfo": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start time of a meeting in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "type": "string",
          "format": "date-time"
        },
        "durationInMinutes": {
          "description": "Duration of a meeting in minutes",
          "type": "integer"
        },
        "timeZone": {
          "description": "Timezone of a meeting",
          "$ref": "#/definitions/MeetingScheduleInfo.TimezoneInfo"
        }
      }
    },
    "MeetingScheduleInfo.TimezoneInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of a timezone",
          "type": "string"
        }
      }
    },
    "MeetingServiceInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Canonical URI of a meeting service info resource",
          "type": "string"
        },
        "supportUri": {
          "description": "URI to retrieve support information for meetings functionality",
          "type": "string"
        },
        "intlDialInNumbersUri": {
          "description": "URI to retrieve international dial in numbers",
          "type": "string"
        },
        "externalUserInfo": {
          "description": "External user data",
          "$ref": "#/definitions/ExternalUserInfo"
        },
        "dialInNumbers": {
          "description": "Dial-in numbers data",
          "$ref": "#/definitions/DialInNumbers"
        }
      }
    },
    "MessageAttachmentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Internal identifier of a message attachment",
          "type": "string"
        },
        "uri": {
          "description": "Canonical URI of a message attachment",
          "type": "string"
        },
        "type": {
          "description": "Type of message attachment",
          "type": "string",
          "enum": [
            "AudioRecording",
            "AudioTranscription",
            "Text",
            "SourceDocument",
            "RenderedDocument"
          ]
        },
        "contentType": {
[...]
