swagger: "2.0"
info:
  title: RingCentral Connect Platform API
  description: RingCentral Connect Platform API
  version: 1.0.36
  contact:
    name: RingCentral Connect Platform
    url: http://developers.ringcentral.com
    email: platform@ringcentral.com
  license:
    name: RingCentral API License Agreement and Terms of Use
    url: https://www.ringcentral.com/legal/apilitos.html
host: platform.ringcentral.com
schemes:
- https
basePath: /
produces:
- application/json
tags:
- name: API Info
- name: Call Log
- name: SMS and MMS
- name: Fax
- name: Internal Messages
- name: Voicemail
- name: RingOut
- name: Greeting Recording Call
- name: Verification Call
- name: User Contacts
- name: Company Contacts
- name: ADG
- name: Presence
- name: Upcoming Meetings
- name: Active Meetings
- name: Meetings Configuration
- name: Meetings Reports
- name: Subscriptions
- name: Authorization Profile
- name: Role Management
- name: Permissions
- name: Site Administration
- name: User Groups
- name: Call Handling Settings
- name: Application Settings
- name: Regional Settings
- name: Account Provisioning
- name: Phone Numbers
- name: User Settings
- name: Company Settings
- name: SCIM
- name: CFA Reporting
- name: Live Reporting
- name: VoIP Calling [Beta]
security:
- OAuth2: []
x-auth-required: true
x-blacklisting-strategy: "Off"
x-internal-api: false
x-metered-api: true
x-metering-group: System
x-servers:
- url: https://platform.ringcentral.com
  description: Default server
- url: https://platform.devtest.ringcentral.com
  description: Sandbox server
x-service-interface: rest
x-service-name: pas
x-service-version: v1
x-tag-groups:
- name: General
  tags:
  - API Info
- name: Data
  tags:
  - Call Log
- name: Contacts
  tags:
  - User Contacts
  - Company Contacts
  - Phone Numbers
- name: Messages
  tags:
  - SMS and MMS
  - Fax
  - Internal Messages
  - Voicemail
- name: Voice
  tags:
  - VoIP Calling [Beta]
  - RingOut
  - Presence
  - Greeting Recording Call
  - Verification Call
  - VoIP Calling Internal
- name: Glip [Beta]
  tags:
  - Chats
  - Posts
  - Notes
  - Events
  - Glip Webhooks
  - Glip Profile
  - Glip Internal
- name: Meetings [Beta]
  tags:
  - Upcoming Meetings
  - Active Meetings
  - Meetings Configuration
  - Meetings Reports
- name: Push Notifications
  tags:
  - Subscriptions
- name: Roles and Permissions
  tags:
  - Authorization Profile
  - Role Management
  - Permissions
  - Site Administration
  - User Groups
- name: Configuration
  tags:
  - Call Handling Settings
  - Application Settings
  - User Settings
  - Company Settings
  - Regional Settings
  - Account Provisioning
  - SCIM
- name: Reporting
  tags:
  - CFA Reporting
  - Live Reporting
- name: Internal
  tags:
  - ADG
  - Integrations
paths:
  /restapi/:
    get:
      tags:
      - API Info
      summary: Get API Versions
      description: Returns current API version(s) and server info.
      operationId: getAllVersions
      consumes:
      - application/json
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: API Server Info
          schema:
            $ref: '#/definitions/GetVersionsResponse'
      x-api-group: restapi
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
      x-http-examples:
      - request: |
          GET /restapi/
        response: "HTTP 200 OK\n\n{     \n  \"uri\" : \"https://api.ringcentral.com/restapi/\",\n
          \ \"apiVersions\" : [ {\n    \"uri\" : \"https://api.ringcentral.com/restapi/v1.0\",\n
          \   \"versionString\" : \"1.0.36\",\n    \"releaseDate\" : \"2018-04-13T00:00:00.000Z\",\n
          \   \"uriString\" : \"v1.0\"\n  } ],\n  \"serverVersion\" : \"10.1.4.8052\",\n
          \ \"serverRevision\" : \"a5c19499bfe7\"\n}\n"
      x-code-examples:
        codes:
        - language: ruby
          code: |
            require 'uri'
            require 'net/http'

            url = URI("https://platform-dpwdevxmn.lab.nordigy.ru/restapi/")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["accept"] = 'application/json'

            response = http.request(request)
            puts response.read_body
        - language: javascript
          code: |
            var data = null;

            var xhr = new XMLHttpRequest();

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://platform-dpwdevxmn.lab.nordigy.ru/restapi/");
            xhr.setRequestHeader("accept", "application/json");

            xhr.send(data);
  /restapi/{apiVersion}:
    get:
      tags:
      - API Info
      summary: Get Version Info
      description: Returns current API version info by apiVersion.
      operationId: getApiVersion
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: apiVersion
        in: path
        description: API version to be requested, for example 'v1.0'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVersionResponse'
      x-api-group: restapi/version
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
      x-http-examples:
      - request: |
          GET /restapi/v1.0
        response: |
          HTTP 200 OK

          {
            "uri" : "https://api.ringcentral.com/restapi/v1.0",
            "versionString" : "1.0.36",
            "releaseDate" : "2018-04-13T00:00:00.000Z",
            "uriString" : "v1.0"
          }
      x-code-examples:
        codes:
        - language: ruby
          code: |
            require 'uri'
            require 'net/http'

            url = URI("https://platform-dpwdevxmn.lab.nordigy.ru/restapi/apiVersion")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["accept"] = 'application/json'

            response = http.request(request)
            puts response.read_body
        - language: javascript
          code: |
            var data = null;

            var xhr = new XMLHttpRequest();

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://platform-dpwdevxmn.lab.nordigy.ru/restapi/apiVersion");
            xhr.setRequestHeader("accept", "application/json");

            xhr.send(data);
  /restapi/v1.0/status:
    get:
      tags:
      - API Info
      summary: Get Service Status
      description: Returns current PAS service status.
      operationId: loadAPIStatus
      responses:
        200:
          description: Operational
        503:
          description: VoIP-only Mode
      x-api-group: restapi/status
      x-auth-required: false
      x-throttling-group: NoThrottling
      x-metered-api: true
      x-metering-group: Free
      x-access-level: Basic
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get User Call Log Records
      description: Returns call log records filtered by parameters specified.
      operationId: loadExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: showBlocked
        in: query
        description: If 'True' then calls from/to blocked numbers are returned
        default: true
        required: false
        type: boolean
      - name: phoneNumber
        in: query
        description: Phone number of a caller/callee. If specified, returns all calls
          (both incoming and outcoming) with the phone number specified
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the resulting records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: sessionId
        in: query
        description: Internal identifier of a session
        required: false
        type: string
      - name: type
        in: query
        description: Call type of a record. It is allowed to specify more than one
          type. If not specified, all call types are returned. Multiple values are
          accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - PSTN
          - VoIP
      - name: view
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        default:
        - Simple
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Simple
          - Detailed
      - name: withRecording
        in: query
        description: True should be specified to return recorded calls only
        required: false
        type: boolean
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: 1
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      - name: showDeleted
        in: query
        description: If 'True' then deleted calls are returned
        default: false
        required: false
        type: boolean
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ExtensionCallLogResponse'
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
      x-http-examples:
      - title: Simple View
        request: |
          GET /restapi/v1.0/account/~/extension/~/call-log?page=1&perPage=2&view=Simple
        response: |
          HTTP 200 OK

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/call-log?view=Simple&showBlocked=true&dateFrom=2017-09-03T12:34:00.000Z&page=1&perPage=2",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/call-log/IWvNToLkbo-7zUA?view=Simple",
              "id" : "IWvNToLkbo-7zUA",
              "sessionId" : "404036325008",
              "startTime" : "2017-09-04T12:31:50.441Z",
              "duration" : 5,
              "type" : "Voice",
              "direction" : "Outbound",
              "action" : "RingOut Web",
              "result" : "Call connected",
              "to" : {
                "phoneNumber" : "+16505556678"
              },
              "from" : {
                "phoneNumber" : "+18552001907",
                "name" : "John Smith"
              }
            }, {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/call-log/8vsAH84JRCeg-DLA?view=Simple",
              "id" : "8vsAH84JRCeg-DLA",
              "sessionId" : "-40293491700800",
              "startTime" : "2017-09-04T12:03:24.842Z",
              "duration" : 32,
              "type" : "Fax",
              "direction" : "Outbound",
              "action" : "Outgoing Fax",
              "result" : "Sent",
              "to" : {
                "phoneNumber" : "+16504445566",
                "location" : "Palo Alto, CA"
              },
              "from" : {
                "phoneNumber" : "+18552001907",
                "name" : "John Smith"
              },
              "message" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/message-store/401678422008",
                "id" : "401678422008",
                "type" : "Fax"
              }
               }],
            "paging" : {
              "page" : 1,
              "perPage" : 2,
              "pageStart" : 0,
              "pageEnd" : 1
            },
            "navigation" : {
              "nextPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/call-log?view=Simple&showBlocked=true&dateFrom=2017-09-03T12:34:00.000Z&page=2&perPage=2"
              },
              "firstPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401494647008/extension/401494647008/call-log?view=Simple&showBlocked=true&dateFrom=2017-09-03T12:34:00.000Z&page=1&perPage=2"
              }
            }
          }
      - title: Detailed View
        request: |
          GET /restapi/v1.0/account/~/extension/1423308004/call-log?view=Detailed
        response: |
          {
            "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log?view=Detailed&showBlocked=true&withRecording=false&dateFrom=2018-06-14T13:28:00.000Z&page=1&perPage=2",
            "records": [
              {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log/IyQAmlV2ORKZzUA?view=Detailed",
                "id": "IyQAmlV2ORKZzUA",
                "sessionId": "424824200008",
                "startTime": "2018-06-14T23:16:33.000Z",
                "duration": 4,
                "type": "Voice",
                "direction": "Inbound",
                "action": "Phone Call",
                "result": "Accepted",
                "to": {
                  "phoneNumber": "+18442374550",
                  "name": "John Smith"
                },
                "from": {
                  "phoneNumber": "+16504445567",
                  "name": "Jane Smith",
                  "location": "Palo Alto, CA"
                },
                "transport": "PSTN",
                "lastModifiedTime": "2018-06-14T23:16:36.006Z",
                "billing": {
                  "costIncluded": 1.26,
                  "costPurchased": 2.222
                },
                "legs": [
                  {
                    "startTime": "2018-06-14T23:16:33.000Z",
                    "duration": 4,
                    "type": "Voice",
                    "direction": "Inbound",
                    "action": "Phone Call",
                    "result": "Accepted",
                    "to": {
                      "phoneNumber": "+18442374550",
                      "name": "John Smith"
                    },
                    "from": {
                      "phoneNumber": "+16504445567",
                      "name": "Jane Smith",
                      "location": "Palo Alto, CA"
                    },
                    "transport": "PSTN",
                    "legType": "Accept",
                    "extension": {
                      "uri": "http://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008",
                      "id": 416095514008
                    },
                    "master": true
                  }
                ]
              },
              {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log/IyQAlMhgV5xxzUA?view=Detailed",
                "id": "IyQAlMhgV5xxzUA",
                "sessionId": "424824196008",
                "startTime": "2018-06-14T23:16:33.000Z",
                "duration": 10,
                "type": "Voice",
                "direction": "Outbound",
                "action": "VoIP Call",
                "result": "Call connected",
                "to": {
                  "phoneNumber": "+16505556678"
                },
                "from": {
                  "phoneNumber": "+18442374550",
                  "name": "John Smith"
                },
                "transport": "VoIP",
                "lastModifiedTime": "2018-06-14T23:16:35.005Z",
                "billing": {
                  "costIncluded": 0,
                  "costPurchased": 0
                },
                "legs": [
                  {
                    "startTime": "2018-06-14T23:16:33.000Z",
                    "duration": 10,
                    "type": "Voice",
                    "direction": "Outbound",
                    "action": "VoIP Call",
                    "result": "Call connected",
                    "to": {
                      "phoneNumber": "+16505556678"
                    },
                    "from": {
                      "phoneNumber": "+18442374550",
                      "name": "John Smith"
                    },
                    "transport": "VoIP",
                    "legType": "SipToPstnMetered",
                    "extension": {
                      "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008",
                      "id": 416095514008
                    },
                    "master": true
                  }
                ]
              }
            ],
            "paging": {
              "page": 1,
              "perPage": 2,
              "pageStart": 0,
              "pageEnd": 1
            },
            "navigation": {
              "nextPage": {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log?view=Detailed&showBlocked=true&withRecording=false&dateFrom=2018-06-14T13:28:00.000Z&page=2&perPage=2"
              },
              "firstPage": {
                "uri": "https//platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log?view=Detailed&showBlocked=true&withRecording=false&dateFrom=2018-06-14T13:28:00.000Z&page=1&perPage=2"
              },
              "lastPage": {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416095514008/extension/416095514008/call-log?view=Detailed&showBlocked=true&withRecording=false&dateFrom=2018-06-14T13:28:00.000Z&page=1&perPage=2"
              }
            }
          }
    delete:
      tags:
      - Call Log
      summary: Delete User Call Log Records
      description: Deletes filtered call log records.
      operationId: deleteExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: dateTo
        in: query
        description: The end datetime for records deletion in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: phoneNumber
        in: query
        required: false
        type: string
      - name: extensionNumber
        in: query
        required: false
        type: string
      - name: type
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: direction
        in: query
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: dateFrom
        in: query
        format: date-time
        required: false
        type: string
      responses:
        default:
          description: Success
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditCallLog
      x-user-permission: EditCallLog
      x-access-level: Advanced
      x-availability: Limited
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log-sync:
    get:
      tags:
      - Call Log
      summary: Sync User Call Log
      description: Synchronizes call log records
      operationId: syncExtensionCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: syncType
        in: query
        description: Type of synchronization
        default:
        - FSync
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - FSync
          - ISync
      - name: syncToken
        in: query
        description: Value of syncToken property of last sync request response
        required: false
        type: string
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is the
          current moment
        required: false
        type: string
        format: date-time
      - name: recordCount
        in: query
        description: For 'FSync' the parameter is mandatory, it limits the number
          of records to be returned in response. For 'ISync' it specifies with how
          many records to extend sync Frame to the past, the maximum number of records
          is 250
        required: false
        type: integer
      - name: statusGroup
        in: query
        description: Type of calls to be returned. The default value is 'All'
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Missed
          - All
      - name: view
        in: query
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        required: false
        type: string
        default: Simple
        enum:
        - Simple
        - Detailed
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/CallLogSync'
      x-api-group: extension/call-log-sync
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
      x-http-examples:
      - title: Full Sync
        request: |
          GET /restapi/v1.0/account/~/extension/~/call-log-sync?statusGroup=All&syncType=FSync&recordCount=3
        response: |
          {
            "uri": "http://platform.ringcentral.com/restapi/v1.0/account/416562555008/extension/416562555008/call-log-sync?statusGroup=All&syncType=FSync&recordCount=3",
            "records": [
              {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416562555008/extension/416562555008/call-log/IzbM55lBt9RjzUA?view=Simple",
                "id": "IzbM55lBt9RjzUA",
                "sessionId": "425711913008",
                "startTime": "2018-06-18T14:02:01.000Z",
                "duration": 4,
                "type": "Voice",
                "direction": "Inbound",
                "action": "Phone Call",
                "result": "Accepted",
                "to": {
                  "phoneNumber": "+18664178108",
                  "name": "Jane Smith"
                },
                "from": {
                  "phoneNumber": "+16504445567",
                  "name": "John Smith",
                  "location": "Palo Alto, CA"
                }
              },
              {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416562555008/extension/416562555008/call-log/IzbMwL2ojZlLzUA?view=Simple",
                "id": "IzbMwL2ojZlLzUA",
                "sessionId": "425711885008",
                "startTime": "2018-06-18T14:01:58.000Z",
                "duration": 10,
                "type": "Voice",
                "direction": "Outbound",
                "action": "VoIP Call",
                "result": "Call connected",
                "to": {
                  "phoneNumber": "+16505556678"
                },
                "from": {
                  "phoneNumber": "+18664178108",
                  "name": "Jane Smith"
                }
              },
              {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/416562555008/extension/416562555008/call-log/IzbMvJPYJICtzUA?view=Simple",
                "id": "IzbMvJPYJICtzUA",
                "sessionId": "425711882008",
                "startTime": "2018-06-18T14:01:58.000Z",
                "duration": 10,
                "type": "Voice",
                "direction": "Outbound",
                "action": "VoIP Call",
                "result": "Call connected",
                "to": {
                  "phoneNumber": "+16504445567",
                  "location": "Palo Alto, CA"
                },
                "from": {
                  "phoneNumber": "+18664178108",
                  "name": "Jane Smith"
                }
              }
            ],
            "syncInfo": {
              "syncType": "FSync",
              "syncToken": "FAsDAwAAAWQTM3nQBAAAAWQTNpOmCAAAAGD9ECiADQAAAGMeZ88YDgAAAWQTM3nQEQAaADEANQAyADkAMwAzADAANQAxADgAMAAwADAAXwA0ADIANQA3ADEAMQA4ADgAMgAwADAAOBIAAAFkEzaTphQBFQAYAOZ2alQ",
              "syncTime": "2018-06-18T14:05:01.223Z"
            }
          }
      - title: Incremental Sync
        request: |
          GET /restapi/v1.0/account/~/extension/~/call-log-sync?syncType=ISync&syncToken=FAsDAwAAAT8KnL6gBAAAAT8KpCkQCAAAAF0q3WVgCQEKAQwAAAAeDQAAAF3UKlK4Y1WS_Q
        response: |
          HTTP 200 OK

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/3107276004/extension/3107276004/call-log-sync?syncType=ISync&syncToken=FAsDAwAAAVcPoglgBAAAAVcPpGB3CAAAAAC5NUTkCQEKAQ0AAAAB-PhS3A4AAAFXD6IJYA8CEQARADEANAA3ADMANAAzADYAMAA2ADAAMAAwADAAXwAwAF8AMBIAAAFXD6RgdxQBFQEyXlFP&recordCount=10",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/account/400151109008/extension/400151111008/call-log/IVWtULXC0ONbNRE",
              "id" : "IVWtULXC0ONbNRE",
              "startTime" : "2016-09-09T16:00:57.000Z",
              "duration" : 16,
              "direction" : "Outbound",
              "type": "Voice",
              "action" : "VoIP Call",
              "result" : "Call connected",
              "to" : {
                "phoneNumber" : "+12052160010",
                "name" : "Allen",
                "location" : "Alabaster, AL"
              },
              "from" : {
                "phoneNumber" : "+17435637778",
                "name" : "Steven"
              }
            }],
            "syncInfo" : {
              "syncType" : "ISync",
              "syncToken" : "FAsDAwAAAVcPoglgBAAAAVcPpGB3CAAAAAC5NUTkCQEKAQ0AAAAB-PhS3A4AAAFXD6IJYA8CEQARADEANAA3ADMANAAzADYAMAA2ADAAMAAwADAAXwAwAF8AMBIAAAFXD7s9shQBFQEyLcHq",
              "syncTime" : "2016-09-09T16:40:11.794Z"
            }
          }
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get User Call Record(s) by ID
      description: Returns call log records by ID.
      operationId: getCallRecords
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: callRecordId
        in: path
        required: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: view
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        required: false
        type: string
        default: Simple
        enum:
        - Simple
        - Detailed
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        type: string
      responses:
        200:
          description: Call Log Record
          schema:
            $ref: '#/definitions/UserCallLogRecord'
      x-api-group: extension/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
      x-http-examples:
      - request: |
          GET /restapi/v1.0/account/401190149008/extension/401190149008/call-log/IXPCm_tIkCduk4I
        response: |
          HTTP 200 OK

          {
             "uri": "https://platform.ringcentral.com/restapi/v1.0/account/401190149008/extension/401190149008/call-log/IXPCm_tIkCduk4I?view=Simple",
             "id": "IXPCm_tIkCduk4I",
             "sessionId": "404412141008",
             "startTime": "2015-06-25T14:57:30.000Z",
             "duration": 60,
             "type": "Voice",
             "direction": "Inbound",
             "action": "Phone Call",
             "result": "Accepted",
             "to":    {
                "phoneNumber": "+18772160007",
                "name": "John Smith"
             },
             "from":    {
                "phoneNumber": "+18882400004",
                "name": "Jane Smith"
             },
             "recording":    {
                "uri": "https://platform.ringcentral.com/restapi/v1.0/account/401190149008/recording/401547458008",
                "id": "401547458008",
                "type": "OnDemand",
                "contentUri": "https.../restapi/v1.0/account/401190149008/recording/401547458008/content"
             }
          }
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get User Active Calls
      description: Returns records of all extension calls that are in progress, ordered
        by start time in descending order.
      operationId: listExtensionActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: view
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are allowed
        default: 1
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ActiveCallsResponse'
      x-api-group: extension/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Basic
      x-availability: Limited
      x-http-examples:
      - title: Simple View
        request: |
          GET /restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Simple
        response: |
          HTTP 200 OK

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Simple&page=1&perPage=100",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/call-log/XYqB_atHFKbNQA?view=Simple",
              "id" : "XYqB_atHFKbNQA",
              "sessionId" : "4417351004",
              "startTime" : "2018-09-10T13:43:13.000Z",
              "type" : "Voice",
              "direction" : "Outbound",
              "action" : "RingOut Web",
              "result" : "In Progress",
              "to" : {
                "phoneNumber" : "+18552055108",
                "name" : "Jane Smith"
              },
              "from" : {
                "name" : "John Smith"
              }
            } ],
            "paging" : {
              "page" : 1,
              "perPage" : 100,
              "pageStart" : 0,
              "pageEnd" : 0
            },
            "navigation" : {
              "firstPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Simple&page=1&perPage=100"
              },
              "lastPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Simple&page=1&perPage=100"
              }
            }
          }
      - title: Detailed View
        request: "GET /restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Detailed\n```
          \n### Response\n```HTTP\nHTTP 200 OK\n\n{\n  \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Detailed&page=1&perPage=100\",\n
          \ \"records\" : [ {\n    \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/call-log/XYqI7gag6FjNQA?view=Detailed\",\n
          \   \"id\" : \"XYqI7gag6FjNQA\",\n    \"sessionId\" : \"4417356004\",\n
          \   \"startTime\" : \"2018-09-10T13:44:51.000Z\",\n    \"type\" : \"Voice\",\n
          \   \"direction\" : \"Outbound\",\n    \"action\" : \"RingOut Web\",\n    \"result\"
          : \"In Progress\",\n    \"to\" : {\n      \"phoneNumber\" : \"+18552055108\",\n
          \     \"name\" : \"Jane Smith\"\n    },\n    \"from\" : {\n      \"name\"
          : \"John Smith\"\n    },\n    \"legs\" : [ {\n      \"startTime\" : \"2018-09-10T13:44:51.000Z\",\n
          \     \"type\" : \"Voice\",\n      \"direction\" : \"Outbound\",\n      \"action\"
          : \"RingOut Web\",\n      \"result\" : \"In Progress\",\n      \"to\" :
          {\n        \"phoneNumber\" : \"+18552055108\",\n        \"name\" : \"Jane
          Smith\"\n      },\n      \"from\" : {\n        \"name\" : \"John Smith\"\n
          \     },\n      \"legType\" : \"RingOutWebToSubscriber\",\n      \"master\"
          : true\n    } ]\n  } ],\n  \"paging\" : {\n    \"page\" : 1,\n    \"perPage\"
          : 100,\n    \"pageStart\" : 0,\n    \"pageEnd\" : 0\n  },\n  \"navigation\"
          : {\n    \"firstPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Detailed&page=1&perPage=100\"\n
          \   },\n    \"lastPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1414236004/extension/1414236004/active-calls?view=Detailed&page=1&perPage=100\"\n
          \   }\n  }\n}\n"
        response: ""
      - title: Simple View
        request: |
          GET /restapi/v1.0/account/400643090008/call-log?view=Simple&dateFrom=2015-11-24T12:07:53.175Z&dateTo=2015-11-25T12:07:53.175Z&page=1&perPage=2
        response: "HTTP 200 OK\n\n{\n \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/400643090008/call-log?view=Simple&dateFrom=2015-11-24T12:07:53.175Z&dateTo=2015-11-25T12:07:53.175Z&page=1&perPage=2\",\n
          \ \"records\" : [ {\n    \"uri\" : \"https.../restapi/v1.0/account/400643090008/call-log/IWM7cJogEv7xlu8?view=Simple\",\n
          \   \"id\" : \"IWM7cJogEv7xlu8\",\n    \"sessionId\" : \"403631628008\",\n
          \   \"startTime\" : \"2015-11-25T12:07:51.000Z\",\n    \"duration\" : 10,\n
          \   \"type\" : \"Voice\",\n    \"direction\" : \"Outbound\",\n    \"action\"
          : \"VoIP Call\",\n    \"result\" : \"Call connected\",\n    \"to\" : {\n
          \     \"phoneNumber\" : \"+16505556678\"\n    },\n    \"from\" : {\n      \"phoneNumber\"
          : \"+18883930031\",\n      \"name\" : \"John Smith\"\n    }\n  }, {\n    \"uri\"
          : \"https://platform.ringcentral.com/restapi/v1.0/account/400643090008/call-log/IWM7bHBPqeZTlu8?view=Simple\",\n
          \   \"id\" : \"IWM7bHBPqeZTlu8\",\n    \"sessionId\" : \"403631625008\",\n
          \   \"startTime\" : \"2015-11-25T12:07:51.000Z\",\n    \"duration\" : 10,\n
          \   \"type\" : \"Voice\",\n    \"direction\" : \"Outbound\",\n    \"action\"
          : \"VoIP Call\",\n    \"result\" : \"Call connected\",\n    \"to\" : {\n
          \     \"phoneNumber\" : \"+16504445567\",\n      \"location\" : \"Palo Alto,
          CA\"\n    },\n    \"from\" : {\n      \"phoneNumber\" : \"+18883930031\",\n
          \     \"name\" : \"John Smith\"\n    }\n  } ],\n  \"paging\" : {\n    \"page\"
          : 1,\n    \"perPage\" : 2,\n    \"pageStart\" : 0,\n    \"pageEnd\" : 1\n
          \ },\n  \"navigation\" : {\n    \"nextPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/400643090008/call-log?view=Simple&dateFrom=2015-11-24T12:07:53.175Z&dateTo=2015-11-25T12:07:53.175Z&page=2&perPage=2\"\n
          \   },\n    \"firstPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/400643090008/call-log?view=Simple&dateFrom=2015-11-24T12:07:53.175Z&dateTo=2015-11-25T12:07:53.175Z&page=1&perPage=2\"\n
          \   }\n  } \n}\n"
      - title: Detailed View
        request: |
          GET /restapi/v1.0/account/404350835008/call-log?dateFrom=2016-11-24T12%3A07%3A53.175Z&dateTo=2017-11-24T12%3A07%3A53.175Z&page=1&perPage=2&view=Detailed
        response: |
          HTTP 200 OK

          {
           "uri" : "https://platform.ringcentral.com/account/404350835008/call-log?view=Detailed&showBlocked=true&dateFrom=2016-11-24T12:07:53.175Z&dateTo=2017-11- 24T12:07:53.175Z&page=1&perPage=2",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/account/404350835008/call-log/IaDUlfiF_23aKtI?view=Detailed",
              "id" : "IaDUlfiF_23aKtI",
              "sessionId" : "406540522008",
              "startTime" : "2017-04-06T11:19:54.000Z",
              "duration" : 4,
              "type" : "Voice",
              "direction" : "Inbound",
              "action" : "Phone Call",
              "result" : "Accepted",
              "to" : {
                "phoneNumber" : "+18882011073"
              },
              "from" : {
                "phoneNumber" : "+16504445567",
                "location" : "Palo Alto, CA"
              },
              "transport" : "PSTN",
              "lastModifiedTime" : "2017-04-06T11:19:57.001Z",
              "billing" : {
                "costIncluded" : 1.560,
                "costPurchased" : 1.122
              },
              "legs" : [ {
                "startTime" : "2017-04-06T11:19:54.000Z",
                "duration" : 4,
                "type" : "Voice",
                "direction" : "Inbound",
                "action" : "Phone Call",
                "result" : "Accepted",
                "to" : {
                  "phoneNumber" : "+18882011073"
                },
                "from" : {
                  "phoneNumber" : "+16504445567",
                  "location" : "Palo Alto, CA"
                },
                "transport" : "PSTN",
                "billing" : {
                "costIncluded" : 0.300,
                "costPurchased" : 0.000
              },
                "legType" : "Accept"
              }, {
                "startTime" : "2017-04-06T11:19:54.000Z",
                "duration" : 4,
                "type" : "Voice",
                "direction" : "Inbound",
                "action" : "Phone Call",
                "result" : "Accepted",
                "to" : {
                  "phoneNumber" : "+18882011073",
                  "name" : "John Smith"
                },
                "from" : {
                  "phoneNumber" : "+16504445567",
                  "name" : "Jane Smith",
                  "location" : "Palo Alto, CA"
                },
                "transport" : "PSTN",
                "billing" : {
                "costIncluded" : 1.260,
                "costPurchased" : 1.222
              },
                "legType" : "Accept",
                "extension" : {
                  "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/404350835008/extension/404350835008",
                  "id" : 404350835008
                }
              } ]
            }, {
              "uri" : "https://platform.ringcentral.com/account/404350835008/call-log/IaDUlJVAhxBQKtI?view=Detailed",
              "id" : "IaDUlJVAhxBQKtI",
              "sessionId" : "406540521008",
              "startTime" : "2017-04-06T11:19:54.000Z",
              "duration" : 5,
              "type" : "Voice",
              "direction" : "Outbound",
              "action" : "VoIP Call",
              "result" : "Call connected",
              "to" : {
                "phoneNumber" : "+16504445567",
                "location" : "Palo Alto, CA"
              },
              "from" : {
                "phoneNumber" : "+18552011120",
                "name" : "John Doe"
              },
              "transport" : "VoIP",
              "lastModifiedTime" : "2017-04-06T11:19:57.001Z",
              "billing" : {
                "costIncluded" : 0.340,
                "costPurchased" : 0.025
              },
              "legs" : [ {
                "startTime" : "2017-04-06T11:19:54.000Z",
                "duration" : 5,
                "type" : "Voice",
                "direction" : "Outbound",
                "action" : "VoIP Call",
                "result" : "Call connected",
                "to" : {
                  "phoneNumber" : "+16504445567",
                  "location" : "Palo Alto, CA"
                },
                "from" : {
                  "phoneNumber" : "+18552011120",
                  "name" : "John Doe"
                },
                "transport" : "VoIP",
                "billing" : {
                "costIncluded" : 0.340,
                "costPurchased" : 0.025
              },
                "legType" : "SipToPstnMetered",
                "extension" : {
                  "uri" : "https://platform.ringcentral.com/account/404350835008/extension/404350837008",
                  "id" : 404350837008
                }
              } ]
            } ],
            "paging" : {
              "page" : 1,
              "perPage" : 2,
              "pageStart" : 0,
              "pageEnd" : 1
            },
            "navigation" : {
              "nextPage" : {
                "uri" : "https://platform.ringcentral.com/account/404350835008/call-log?view=Detailed&showBlocked=true&dateFrom=2016-11-24T12:07:53.175Z&dateTo=2017-11-24T12:07:53.175Z&page=2&perPage=2"
              },
              "firstPage" : {
                "uri" : "https://platform.ringcentral.com/account/404350835008/call-log?view=Detailed&showBlocked=true&dateFrom=2016-11-24T12:07:53.175Z&dateTo=2017-11-24T12:07:53.175Z&page=1&perPage=2"
              }
            }

          }
  /restapi/v1.0/account/{accountId}/call-log:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Records
      description: Returns call log records filtered by parameters specified.
      operationId: loadCompanyCallLog
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionNumber
        in: query
        description: Extension number of a user. If specified, returns call log for
          a particular extension only
        required: false
        type: string
      - name: phoneNumber
        in: query
        description: Phone number of a caller/call recipient. If specified, returns
          all calls (both incoming and outcoming) with the phone number specified.
          Cannot be specified together with the extensionNumber filter
        required: false
        type: string
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: view
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        default:
        - Simple
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Simple
          - Detailed
      - name: withRecording
        in: query
        description: True if only recorded calls have to be returned
        required: false
        type: boolean
      - name: dateFrom
        in: query
        description: The start datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo
          minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting records in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: 1
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      - name: sessionId
        description: Internal identifier of a session
        in: query
        required: false
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/AccountCallLogResponse'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/call-log/{callRecordId}:
    get:
      tags:
      - Call Log
      summary: Get Company Call Log Record(s) by ID
      description: Returns individual call log record(s) by ID(s). Batch request is
        supported.
      operationId: loadAccountCallLogRecord
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: callRecordId
        in: path
        description: Internal identifier of a call log record
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/CompanyCallLogRecord'
      x-api-group: account/call-log
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: FullCompanyCallLog
      x-access-level: Advanced
      x-http-examples:
      - title: Single Record (Detailed View)
        request: |
          GET /restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2AvJPtwNQbNQA?view=Detailed
        response: "HTTP 200 OK\n\n{\n  \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2AvJPtwNQbNQA?view=Detailed\",\n
          \ \"id\" : \"X2AvJPtwNQbNQA\",\n  \"sessionId\" : \"4503991004\",\n  \"startTime\"
          : \"2018-09-11T13:24:09.000Z\",\n  \"duration\" : 7,\n  \"type\" : \"Voice\",\n
          \ \"direction\" : \"Inbound\",\n  \"action\" : \"Phone Call\",\n  \"result\"
          : \"Accepted\",\n  \"to\" : {\n    \"phoneNumber\" : \"+18662019834\",\n
          \   \"name\" : \"Jane Smith\"\n  },\n  \"from\" : {\n    \"phoneNumber\"
          : \"+16504445566\",\n    \"name\" : \"John Smith\",\n    \"location\" :
          \"Palo Alto, CA\"\n  },\n  \"extension\" : {\n    \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004\",\n
          \   \"id\" : 1477535004\n  },\n  \"transport\" : \"PSTN\",\n  \"lastModifiedTime\"
          : \"2018-09-11T13:24:12.003Z\",\n  \"billing\" : {\n    \"costIncluded\"
          : 0.000,\n    \"costPurchased\" : 0.000\n  },\n  \"legs\" : [ {\n    \"startTime\"
          : \"2018-09-11T13:24:09.000Z\",\n    \"duration\" : 7,\n    \"type\" : \"Voice\",\n
          \   \"direction\" : \"Inbound\",\n    \"action\" : \"Phone Call\",\n    \"result\"
          : \"Accepted\",\n    \"to\" : {\n      \"phoneNumber\" : \"+18662019834\",\n
          \     \"name\" : \"Jane Smith\"\n    },\n    \"from\" : {\n      \"phoneNumber\"
          : \"+16504445566\",\n      \"name\" : \"John Smith\",\n      \"location\"
          : \"Palo Alto, CA\"\n    },\n    \"extension\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004\",\n
          \     \"id\" : 1477535004\n    },\n    \"transport\" : \"PSTN\",\n    \"legType\"
          : \"Accept\",\n    \"master\" : true\n  } ]   \n}\n"
      - title: Multiple Records (Simple View)
        request: |
          GET /restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2A9BbIj3GrNQA, X2AlbhUlpkDNQA?view=Simple
        response: |+
          HTTP 200 OK
          --Boundary_6_695025702_1536675000681
          Content-Type: application/json

          {
            "response" : [ {
              "href" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2A9BbIj3GrNQA?view=Simple",
              "status" : 200,
              "responseDescription" : "OK"
            }, {
              "href" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2AlbhUlpkDNQA?view=Simple",
              "status" : 200,
              "responseDescription" : "OK"
            } ]
          }
          --Boundary_6_695025702_1536675000681
          Content-Type: application/json

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2A9BbIj3GrNQA?view=Simple",
            "id" : "X2A9BbIj3GrNQA",
            "sessionId" : "4504001004",
            "startTime" : "2018-09-11T13:24:12.000Z",
            "duration" : 4,
            "type" : "Voice",
            "direction" : "Inbound",
            "action" : "Phone Call",
            "result" : "Accepted",
            "to" : {
              "phoneNumber" : "+18662019834",
              "name" : "Jane Smith"
            },
            "from" : {
              "phoneNumber" : "+16504445567",
              "name" : "Julia Rose",
              "location" : "Palo Alto, CA"
            },
            "extension" : {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004",
              "id" : 1477535004
            }
          }
          --Boundary_6_695025702_1536675000681
          Content-Type: application/json

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004/call-log/X2AlbhUlpkDNQA?view=Simple",
            "id" : "X2AlbhUlpkDNQA",
            "sessionId" : "4503984004",
            "startTime" : "2018-09-11T13:24:06.000Z",
            "duration" : 10,
            "type" : "Voice",
            "direction" : "Outbound",
            "action" : "VoIP Call",
            "result" : "Call connected",
            "to" : {
              "phoneNumber" : "+16505556677"
            },
            "from" : {
              "phoneNumber" : "+18662019834",
              "name" : "Jane Smith"
            },
            "extension" : {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477535004/extension/1477535004",
              "id" : 1477535004
            }
          }
          --Boundary_6_695025702_1536675000681--

  /restapi/v1.0/account/{accountId}/active-calls:
    get:
      tags:
      - Call Log
      summary: Get Company Active Calls
      description: Returns records of all calls that are in progress, ordered by start
        time in descending order.
      operationId: listCompanyActiveCalls
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: direction
        in: query
        description: The direction for the result records. If not specified, both
          inbound and outbound records are returned. Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Inbound
          - Outbound
      - name: view
        description: View of call records. The same view parameter specified for FSync
          will be applied for ISync, the view cannot be changed for ISync
        in: query
        default: Simple
        required: false
        type: string
        enum:
        - Simple
        - Detailed
      - name: type
        in: query
        description: Call type of a record. If not specified, all call types are returned.
          Multiple values are accepted
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - Voice
          - Fax
      - name: transport
        in: query
        description: Call transport type. 'PSTN' specifies that a call leg is initiated
          from the PSTN network provider; 'VoIP' - from an RC phone. By default this
          filter is disabled
        required: false
        type: array
        collectionFormat: multi
        items:
          type: string
          enum:
          - PSTN
          - VoIP
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        required: false
        default: 1
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/ActiveCallsResponse'
      x-api-group: account/active-calls
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallLog
      x-user-permission: ReadCallLog
      x-access-level: Advanced
      x-availability: Limited
      x-http-examples:
      - title: Simple View
        request: |
          GET /restapi/v1.0/account/1477660004/active-calls?view=Simple
        response: "HTTP 200 OK\n\n{\n  \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Simple&page=1&perPage=100\",\n
          \ \"records\" : [ {\n    \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477660004/extension/1477660004/call-log/X2I0yTPQfxjNQA?view=Simple\",\n
          \   \"id\" : \"X2I0yTPQfxjNQA\",\n    \"sessionId\" : \"4504364004\",\n
          \   \"startTime\" : \"2018-09-11T15:00:15.000Z\",\n    \"type\" : \"Voice\",\n
          \   \"direction\" : \"Inbound\",\n    \"action\" : \"Phone Call\",\n    \"result\"
          : \"In Progress\",\n    \"to\" : {\n      \"phoneNumber\" : \"+18662019836\",\n
          \     \"name\" : \"Jane Smith\"\n    },\n    \"from\" : {\n      \"phoneNumber\"
          : \"+16316761623\",\n      \"location\" : \"Ronkonkoma, NY\"\n    }\n  },
          {\n    \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477660004/extension/1477660004/call-log/X2IzZe5YIY7NQA?view=Simple\",\n
          \   \"id\" : \"X2IzZe5YIY7NQA\",\n    \"sessionId\" : \"4504363004\",\n
          \   \"startTime\" : \"2018-09-11T15:00:15.000Z\",\n    \"type\" : \"Voice\",\n
          \   \"direction\" : \"Outbound\",\n    \"action\" : \"RingOut Web\",\n    \"result\"
          : \"In Progress\",\n    \"to\" : {\n      \"phoneNumber\" : \"+18662019836\",\n
          \     \"name\" : \"Jane Smith\"\n    },\n    \"from\" : {\n      \"name\"
          : \"John Smith\"\n    }\n  } ],\n  \"paging\" : {\n    \"page\" : 1,\n    \"perPage\"
          : 100,\n    \"pageStart\" : 0,\n    \"pageEnd\" : 1\n  },\n  \"navigation\"
          : {\n    \"firstPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Simple&page=1&perPage=100\"\n
          \   },\n    \"lastPage\" : {\n      \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Simple&page=1&perPage=100\"\n
          \   }\n  }\n}\n  \n\n"
      - title: Detailed View
        request: |
          GET /restapi/v1.0/account/1477660004/active-calls?perPage=1&view=Detailed
        response: |
          HTTP 200 OK

          {
           "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Detailed&page=1&perPage=1",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477660004/extension/1477660004/call-log/X2IFmfnUEsTNQA?view=Detailed",
              "id" : "X2IFmfnUEsTNQA",
              "sessionId" : "4504330004",
              "startTime" : "2018-09-11T14:48:31.000Z",
              "type" : "Voice",
              "direction" : "Inbound",
              "action" : "Phone Call",
              "result" : "In Progress",
              "to" : {
                "phoneNumber" : "+18662019836",
                "name" : "John Smith"
              },
              "from" : {
                "phoneNumber" : "+16316761623",
                "location" : "Ronkonkoma, NY"
              },
              "legs" : [ {
                "startTime" : "2018-09-11T14:48:31.000Z",
                "type" : "Voice",
                "direction" : "Inbound",
                "action" : "Phone Call",
                "result" : "In Progress",
                "to" : {
                  "phoneNumber" : "+18662019836",
                  "name" : "Jane Smith"
                },
                "from" : {
                  "phoneNumber" : "+16316761623",
                  "location" : "Ronkonkoma, NY"
                },
                "legType" : "Accept",
                "master" : true
              }, {
                "startTime" : "2018-09-11T14:48:31.000Z",
                "type" : "Voice",
                "direction" : "Inbound",
                "action" : "Phone Call",
                "result" : "In Progress",
                "to" : {
                  "phoneNumber" : "+18662019836",
                  "name" : "Something New"
                },
                "from" : {
                  "phoneNumber" : "+16316761623",
                  "location" : "Ronkonkoma, NY"
                },
                "legType" : "Accept",
                "master" : false
              } ]
            } ],
            "paging" : {
              "page" : 1,
              "perPage" : 1,
              "pageStart" : 0,
              "pageEnd" : 0
            },
            "navigation" : {
              "nextPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Detailed&page=2&perPage=1"
              },
              "firstPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Detailed&page=1&perPage=1"
              },
              "lastPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/1477660004/active-calls?view=Detailed&page=1&perPage=1"
              }
            }
          }
  /restapi/v1.0/account/{accountId}/recording/{recordingId}:
    get:
      tags:
      - Call Log
      summary: Get Call Recording(s) by ID
      description: Returns call recording metadata by ID.
      operationId: listCallRecordings
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetCallRecordingResponse'
      x-api-group: account/recording
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
      x-http-examples:
      - request: |
          GET /restapi/v1.0/account/401452676008/recording/401786818008
        response: "HTTP 200 OK\n\n{\n  \"id\" : \"401786818008\",\n  \"contentUri\"
          : \"https://platform.ringcentral.com/restapi/v1.0/account/401452676008/recording/401786818008/content\",\n
          \ \"contentType\" : \"audio/x-wav\",\n  \"duration\" : 30  \n}\n"
  /restapi/v1.0/account/{accountId}/recording/{recordingId}/content:
    get:
      tags:
      - Call Log
      summary: Get Call Recordings Data
      description: Returns media content of a call recording.
      operationId: listCallRecordingData
      consumes:
      - application/json
      produces:
      - audio/x-wav
      - audio/mpeg
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: recordingId
        in: path
        description: Internal identifier of a recording (returned in Call Log)
        required: true
        type: string
      responses:
        200:
          description: Call Recording Media Data
          schema:
            type: file
      x-api-group: account/recording/content
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadCallRecording
      x-user-permission: ReadCallRecording
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/sms:
    post:
      tags:
      - SMS and MMS
      summary: Create SMS Message
      description: Creates and sends new SMS message. Sending SMS messages simultaneously
        to different recipients is limited up to 50 requests per minute; relevant
        for all client applications.
      operationId: sendSMS
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateSMSMessage'
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/sms
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: SMS
      x-user-permission: OutboundSMS
      x-access-level: Basic
      x-availability: High
      x-http-examples:
      - title: Send SMS
        request: |
          POST /restapi/v1.0/account/~/extension/~/sms

          {
          "to": [{"phoneNumber": "+18551003738"}],
          "from": {"phoneNumber": "+18559100010}"},
          "text": "Test SMS message from Platform server"
          }
        response: |
          HTTP 200 OK

          {
              "uri" : "https://platform.ringcentral.com/account/1346632010/extension/1346632010/message-store/315450330010",
              "id" : 315450330010,
              "to" : [ {
                  "phoneNumber" : "+18551003738"
              } ],
              "from" : {
                  "phoneNumber" : "+18559100010"
              },
              "type" : "SMS",
              "creationTime" : "2012-09-13T15:21:08.000Z",
              "readStatus" : "Unread",
              "priority" : "Normal",
              "attachments" : [ {
                  "id" : 1,
                  "uri" : "https://platform.ringcentral.com/account/1346632010/extension/1346632010/message-store/315450330010/content/1",
                  "contentType" : "text/plain"
              } ],
              "direction" : "Outbound",
              "availability" : "Alive",
              "subject" : "Test SMS message from Platform server",
              "messageStatus" : "Sent",
              "conversationId" : 4481650717038104652,
              "lastModifiedTime" : "2012-09-13T15:21:09.000Z"
          }
      - title: Send MMS
        request: |
          POST /restapi/v1.0/account/403391985008/extension/403391985008/sms
          Content-Type: multipart/mixed; boundary=Boundary_1_14413901_1361871080888

          --Boundary_1_14413901_1361871080888
          Content-Type: application/json; charset=UTF-8
          Content-Transfer-Encoding: 8bit

          {"to" :[{"phoneNumber": "+18772004569"},{"phoneNumber": "+18772094569"}],
          "text" :"hello",
          "from" :{"phoneNumber": "+18882004237"}}

          --Boundary_1_14413901_1361871080888
          Content-Type: image/png
          Content-Disposition: attachment; filename="filename.png"

          Hello, World!

          --Boundary_1_14413901_1361871080888--
        response: |
          HTTP 200 OK

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008",
            "id" : 403038404008,
            "to" : [ {
              "phoneNumber" : "+18772004569"
            }, {
              "phoneNumber" : "+18772094569"
            } ],
            "from" : {
              "phoneNumber" : "+18882004237"
            },
            "type" : "SMS",
            "creationTime" : "2017-04-14T13:46:54.000Z",
            "readStatus" : "Read",
            "priority" : "Normal",
            "attachments" : [ {
              "id" : 403038404008,
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008/content/403038404008",
              "type" : "Text",
              "contentType" : "text/plain"
            }, {
              "id" : 400938873008,
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008/content/400938873008",
              "type" : "MmsAttachment",
              "contentType" : "image/png",
              "size" : 13,
              "fileName" : "filename.png",
              "width": 640,
              "height": 480
             } ],
            "direction" : "Outbound",
            "availability" : "Alive",
            "subject" : "hello",
            "messageStatus" : "Sent",
            "smsSendingAttemptsCount" : 1,
            "conversationId" : 4671355828682655051,
            "lastModifiedTime" : "2017-04-14T13:46:54.838Z"
          }
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/company-pager:
    post:
      tags:
      - Internal Messages
      summary: Create Internal Text Message
      description: Creates and sends an internal text message.
      operationId: createInternalTextMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - in: body
        name: body
        description: JSON body
        required: true
        schema:
          $ref: '#/definitions/CreateInternalTextMessageRequest'
      responses:
        200:
          description: Created Text Message
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/company-pager
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: Messaging
      x-app-permission: InternalMessages
      x-user-permission: InternalSMS
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/fax:
    post:
      tags:
      - Fax
      summary: Create Fax Message
      operationId: sendFaxMessage
      description: Creates and sends/resends new fax message. Resend can be done if
        sending failed.
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account (integer) or tilde
          (~) to indicate the account which was logged-in within the current session.
        required: true
        type: string
      - name: extensionId
        in: path
        description: Internal identifier of an extension (integer) or tilde (~) to
          indicate the extension assigned to the account logged-in within the current
          session
        required: true
        type: string
      - name: attachment
        in: formData
        description: File to upload
        required: true
        type: file
      - name: faxResolution
        in: formData
        description: Resolution of Fax
        required: true
        type: string
        enum:
        - High
        - Low
      - name: to
        in: formData
        description: To Phone Number
        required: true
        type: array
        items:
          type: string
      - name: sendTime
        in: formData
        description: Timestamp to send fax at. If not specified (current or the past),
          the fax is sent immediately
        required: false
        type: string
        format: date-time
      - name: isoCode
        in: formData
        description: ISO Code. e.g UK
        type: string
      - name: coverIndex
        in: formData
        description: Cover page identifier. For the list of available cover page identifiers
          please call the method Fax Cover Pages. If not specified, the default cover
          page which is configured in 'Outbound Fax Settings' is attached
        type: integer
      - name: coverPageText
        in: formData
        description: Cover page text, entered by the fax sender and printed on the
          cover page. Maximum length is limited to 1024 symbols
        type: string
      responses:
        200:
          description: 'OK: Fax Message Sent'
          schema:
            $ref: '#/definitions/FaxResponse'
      x-api-group: extension/fax
      x-throttling-group: Heavy
      x-metered-api: true
      x-metering-group: Time-based
      x-app-permission: Faxes
      x-user-permission: OutboundFaxes
      x-access-level: Basic
  /restapi/v1.0/dictionary/fax-cover-page:
    get:
      tags:
      - Fax
      summary: Get Available Fax Cover Pages
      operationId: listFaxCoverPages
      description: Returns fax cover pages available for the current extension.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: 1
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      responses:
        200:
          description: List of Available Fax Cover Pages
      x-api-group: dictionary/fax-cover-page
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-access-level: Basic
      x-availability: High
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message List
      description: Returns the list of messages from an extension mailbox.
      operationId: listMessages
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: availability
        in: query
        description: Specifies the availability status for the resulting messages.
          Multiple values are accepted
        required: false
        type: array
        default:
        - Alive
        items:
          type: string
          enum:
          - Alive
          - Deleted
          - Purged
        collectionFormat: multi
      - name: conversationId
        in: query
        description: Specifies the conversation identifier for the resulting messages
        required: false
        type: integer
      - name: dateFrom
        in: query
        description: The start datetime for resulting messages in ISO 8601 format
          including timezone, for example 2016-03-10T18:07:52.534Z. The default value
          is dateTo minus 24 hours
        required: false
        type: string
        format: date-time
      - name: dateTo
        in: query
        description: The end datetime for resulting messages in ISO 8601 format including
          timezone, for example 2016-03-10T18:07:52.534Z. The default value is current
          time
        required: false
        type: string
        format: date-time
      - name: direction
        in: query
        description: The direction for the resulting messages. If not specified, both
          inbound and outbound messages are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
          enum:
          - Inbound
          - Outbound
        collectionFormat: multi
      - name: distinctConversations
        in: query
        description: If 'True', then the latest messages per every conversation ID
          are returned
        required: false
        type: boolean
      - name: messageType
        in: query
        description: The type of the resulting messages. If not specified, all messages
          without message type filtering are returned. Multiple values are accepted
        required: false
        type: array
        items:
          type: string
          enum:
          - Fax
          - SMS
          - VoiceMail
          - Pager
          - Text
        collectionFormat: multi
      - name: readStatus
        in: query
        description: The read status for the resulting messages. Multiple values are
          accepted
        required: false
        type: array
        items:
          type: string
          enum:
          - Read
          - Unread
        collectionFormat: multi
      - name: page
        in: query
        description: Indicates the page number to retrieve. Only positive number values
          are accepted
        default: 1
        required: false
        type: integer
      - name: perPage
        in: query
        description: Indicates the page size (number of items)
        default: 100
        required: false
        type: integer
      - name: phoneNumber
        in: query
        description: The phone number. If specified, messages are returned for this
          particular phone number only
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageList'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-availability: High
      x-notifications:
      - $ref: '#/definitions/InboundMessageEvent'
      - $ref: '#/definitions/InstantMessageEvent'
      - $ref: '#/definitions/MessageEvent'
      x-http-examples:
      - request: |
          GET /restapi/v1.0/account/401928394008/extension/401928394008/message-store?direction=Inbound&readStatus=Unread&perPage=2
        response: |
          HTTP 200 OK

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store?direction=Inbound&readStatus=Unread&availability=Alive&dateFrom=2018-09-17T12:53:00.000Z&page=1&perPage=2",
            "records" : [ {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406986008",
              "id" : 402406986008,
              "to" : [ {
                "name" : "Jane Smith"
              } ],
              "from" : {
                "phoneNumber" : "+18888984591",
                "name" : "RingCentral"
              },
              "type" : "VoiceMail",
              "creationTime" : "2018-09-18T09:24:04.000Z",
              "readStatus" : "Unread",
              "priority" : "Normal",
              "attachments" : [ {
                "id" : 402406986008,
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406986008/content/402406986008",
                "type" : "AudioRecording",
                "contentType" : "audio/x-wav",
                "vmDuration" : 42
              } ],
              "direction" : "Inbound",
              "availability" : "Alive",
              "subject" : "Welcome to RingCentral!",
              "messageStatus" : "Received",
              "lastModifiedTime" : "2018-09-18T09:24:04.102Z",
              "vmTranscriptionStatus" : "NotAvailable"
            }, {
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406984008",
              "id" : 402406984008,
              "to" : [ {
                "name" : "Jane Smith"
              } ],
              "from" : {
                "phoneNumber" : "+18442058517",
                "name" : "RingCentral"
              },
              "type" : "VoiceMail",
              "creationTime" : "2018-09-18T09:24:03.000Z",
              "readStatus" : "Unread",
              "priority" : "Normal",
              "attachments" : [ {
                "id" : 402406984008,
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406984008/content/402406984008",
                "type" : "AudioRecording",
                "contentType" : "audio/x-wav",
                "vmDuration" : 25
              } ],
              "direction" : "Inbound",
              "availability" : "Alive",
              "messageStatus" : "Received",
              "lastModifiedTime" : "2018-09-18T09:24:03.531Z",
              "vmTranscriptionStatus" : "NotAvailable"
            } ],
            "paging" : {
              "page" : 1,
              "totalPages" : 1,
              "perPage" : 2,
              "totalElements" : 2,
              "pageStart" : 0,
              "pageEnd" : 1
            },
            "navigation" : {
              "firstPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store?direction=Inbound&readStatus=Unread&availability=Alive&dateFrom=2018-09-17T12:53:00.000Z&page=1&perPage=2"
              },
              "lastPage" : {
                "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store?direction=Inbound&readStatus=Unread&availability=Alive&dateFrom=2018-09-17T12:53:00.000Z&page=1&perPage=2"
              }
            }
          }
    delete:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Delete Conversation(s) by ID
      description: Deletes conversation(s) by conversation ID(s).
      operationId: deleteMessagesByFilter
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: conversationId
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: dateTo
        in: query
        required: false
        type: string
        description: Messages received earlier then the date specified will be deleted.
          The default value is 'Now'
        format: date-time
      - name: type
        in: query
        required: false
        description: Type of messages to be deleted
        type: string
        enum:
        - Fax
        - SMS
        - VoiceMail
        - Pager
        - Text
        - All
        default: All
      - name: extensionId
        in: path
        required: true
        type: string
      - name: accountId
        in: path
        required: true
        type: string
      responses:
        204:
          description: No Content
      x-api-group: extension/message-store
      x-throttling-group: Medium
      x-metered-api: true
      x-metering-group: System
      x-app-permission: EditMessages
      x-user-permission: EditMessages
      x-access-level: Basic
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}:
    get:
      tags:
      - Fax
      - SMS and MMS
      - Internal Messages
      summary: Get Message(s) by ID
      description: Returns individual message record(s) by the given message ID(s).
        The length of inbound messages is unlimited. Batch request is supported.
      operationId: loadMessage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: Internal identifier of a RingCentral account or tilde (~) to
          indicate the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: extensionId
        in: path
        description: Internal identifier of an extension or tilde (~) to indicate
          the extension assigned to the account logged-in within the current session
        required: true
        type: string
        default: "~"
      - name: messageId
        in: path
        description: Internal identifier of a message
        required: true
        type: integer
      responses:
        default:
          description: Success
          schema:
            $ref: '#/definitions/GetMessageInfoResponse'
      x-api-group: extension/message-store
      x-throttling-group: Light
      x-metered-api: true
      x-metering-group: System
      x-app-permission: ReadMessages
      x-user-permission: ReadMessages
      x-access-level: Basic
      x-availability: High
      x-http-examples:
      - title: Voicemail
        request: |+
          GET /restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406984008

        response: "HTTP 200 OK\n\n{\n  \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406984008\",\n
          \ \"id\" : 402406984008,\n  \"to\" : [ {\n    \"name\" : \"John Smith\"\n
          \ } ],\n  \"from\" : {\n    \"phoneNumber\" : \"+18442058517\",\n    \"name\"
          : \"RingCentral\"\n  },\n  \"type\" : \"VoiceMail\",\n  \"creationTime\"
          : \"2018-09-18T09:24:03.000Z\",\n  \"readStatus\" : \"Unread\",\n  \"priority\"
          : \"Normal\",\n  \"attachments\" : [ {\n    \"id\" : 402406984008,\n    \"uri\"
          : \"https://platform.ringcentral.com/restapi/v1.0/account/401928394008/extension/401928394008/message-store/402406984008/content/402406984008\",\n
          \   \"type\" : \"AudioRecording\",\n    \"contentType\" : \"audio/x-wav\",\n
          \   \"vmDuration\" : 25\n  } ],\n  \"direction\" : \"Inbound\",\n  \"availability\"
          : \"Alive\",\n  \"messageStatus\" : \"Received\",\n  \"lastModifiedTime\"
          : \"2018-09-18T09:24:03.531Z\",\n  \"vmTranscriptionStatus\" : \"NotAvailable\"
          \ \n}\n"
      - title: Internal Message
        request: |+
          GET /restapi/v1.0/account/400928048004/extension/400928050004/message-store/401081345004

        response: "HTTP 200 OK\n\n{\n  \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/400928048004/extension/400928050004/message-store/401081345004\",\n
          \ \"id\" : 401081345004,\n  \"to\" : [ {\n    \"extensionNumber\" : \"103\"\n
          \   \n  } ],\n  \"from\" : {\n    \"extensionNumber\" : \"102\",\n    \"name\"
          : \"John Smith\"\n  },\n  \"type\" : \"Pager\",\n  \"creationTime\" : \"2014-09-01T19:26:45.000Z\",\n
          \ \"readStatus\" : \"Unread\",\n  \"priority\" : \"Normal\",\n  \"attachments\"
          : [ {\n    \"id\" : 401081345004,\n    \"uri\" : \"https://platform.ringcentral.com/restapi/v1.0/account/400928048004/extension/400928050004/message-store/401081345004/content/401081345004\",\n
          \   \"type\" : \"Text\",\n    \"contentType\" : \"text/plain\"\n  } ],\n
          \ \"direction\" : \"Outbound\",\n  \"availability\" : \"Alive\",\n  \"subject\"
          : \"Sample message\",\n  \"messageStatus\" : \"Sent\",\n  \"conversationId\"
          : 6951365551500,\n  \"lastModifiedTime\" : \"2014-09-01T12:26:44.114Z\",\n
          \ \"pgToDepartment\" : false  \n}\n"
      - title: SMS
        request: |
          GET /restapi/v1.0/account/12502999004/extension/12502999004/message-store/60279564004
        response: |
          HTTP 200 OK

          {
           "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/12502999004/extension/12502999004/message-store/60279564004",
            "id" : 60279564004,
            "to" : [ {
              "phoneNumber" : "+16505393204",
              "location" : "San Mateo, CA"
            } ],
            "from" : {
              "phoneNumber" : "+18889450052"
            },
            "type" : "SMS",
            "creationTime" : "2015-02-18T13:24:50.000Z",
            "readStatus" : "Read",
            "priority" : "Normal",
            "attachments" : [ {
              "id" : 60279564004,
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/12502999004/extension/12502999004/message-store/60279564004/content/60279564004",
              "type" : "Text",
              "contentType" : "text/plain"
            } ],
            "direction" : "Outbound",
            "availability" : "Alive",
            "subject" : "Flight information",
            "messageStatus" : "Sent",
            "smsSendingAttemptsCount" : 1,
            "conversationId" : 5578984350117917661,
            "lastModifiedTime" : "2015-02-18T13:24:50.300Z"
          }
      - title: MMS
        request: |
          GET /restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008
        response: |
          HTTP 200 OK

          {
            "uri" : "https.../restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008",
            "id" : 403038404008,
            "to" : [ {
              "phoneNumber" : "+18772004569"
            }, {
              "phoneNumber" : "+18772094569"
            } ],
            "from" : {
              "phoneNumber" : "+18882004237"
            },
            "type" : "SMS",
            "creationTime" : "2017-04-14T13:46:54.000Z",
            "readStatus" : "Read",
            "priority" : "Normal",
            "attachments" : [ {
              "id" : 403038404008,
              "uri" : "https.../restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008/content/403038404008",
              "type" : "Text",
              "contentType" : "text/plain"
            }, {
              "id" : 400938873008,
              "uri" : "https.../restapi/v1.0/account/403391985008/extension/403391985008/message-store/403038404008/content/400938873008",
              "type" : "MmsAttachment",
              "contentType" : "image/png",
              "size" : 13,
              "fileName" : "filename.png",
              "width": 640,
              "height": 480
            } ],
            "direction" : "Outbound",
            "availability" : "Alive",
            "subject" : "Flight information",
            "messageStatus" : "Sent",
            "smsSendingAttemptsCount" : 1,
            "conversationId" : 4671355828682655051,
            "lastModifiedTime" : "2017-04-14T13:46:54.838Z"
          }
      - title: Fax
        request: |+
          GET https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338256009,6338222009

        response: |
          HTTP 207

          --Boundary_26_60046980_1537367834367
          Content-Type: application/json

          {
            "response" : [ {
              "href" : "https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338256009",
              "status" : 200,
              "responseDescription" : "OK"
            }, {
              "href" : "https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338222009",
              "status" : 200,
              "responseDescription" : "OK"
            } ]
          }
          --Boundary_26_60046980_1537367834367
          Content-Type: application/json

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338256009",
            "id" : 6338256009,
            "to" : [ {
              "phoneNumber" : "+18882032391",
              "messageStatus" : "Sent"
            } ],
            "type" : "Fax",
            "creationTime" : "2018-09-19T14:36:25.000Z",
            "readStatus" : "Unread",
            "priority" : "Normal",
            "attachments" : [ {
              "id" : 6338256009,
              "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338256009/content/6338256009",
              "type" : "RenderedDocument",
              "contentType" : "application/pdf"
            } ],
            "direction" : "Outbound",
            "availability" : "Alive",
            "messageStatus" : "Sent",
            "faxResolution" : "High",
            "faxPageCount" : 0,
            "lastModifiedTime" : "2018-09-19T14:36:25.990Z",
            "coverIndex" : 22
          }
          --Boundary_26_60046980_1537367834367
          Content-Type: application/json

          {
            "uri" : "https://platform.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338222009",
            "id" : 6338222009,
            "to" : [ {
              "phoneNumber" : "+18882032391",
              "messageStatus" : "Queued"
            } ],
            "type" : "Fax",
            "creationTime" : "2018-09-19T14:36:19.000Z",
            "readStatus" : "Unread",
            "priority" : "Normal",
            "attachments" : [ {
              "id" : 6338222009,
              "uri" : "https://media.ringcentral.com/restapi/v1.0/account/405076340009/extension/405076340009/message-store/6338222009/content/6338222009",
              "type" : "RenderedDocument",
              "contentType" : "application/pdf"
            } ],
            "direction" : "Outbound",
            "availability" : "Alive",
            "messageStatus" : "Queued",
            "faxResolution" : "High",
            "faxPageCount" : 2,
            "lastModifiedTime" : "2018-09-19T14:37:10.429Z",
            "coverIndex" : 22
          }
          --Boundary_26_60046980_1537367834367--
    put:
      tags:
      - Fax
      - SMS and MMS
[...]
