require 'hashie'
require_relative './pathSegment'

{% for segment in segments %}
  class {{ segment|PascalCase }} < PathSegment
    def segment
      '{{ segment }}'
    end
    {% for child in children[segment] %}
    def {{ child|camelCase }}({% if hasIds.get(child) > -1 %}id{% if hasIds.get(child) == 0 %} = nil{% endif %}{% endif %})
      {{ child|PascalCase }}.new(@rc, self{% if hasIds.get(child) > -1 %}, id{% endif %})
    end
    {% endfor %}
    {% for method in methods.get(segment) %}
      {% include "method.njk" %}
    {% endfor %}
  end
{% endfor %}
